includes:
  - phpstan-baseline.neon
parameters:
	level: 5
	treatPhpDocTypesAsCertain: false
	paths:
		- .
	excludePaths:
	  - vendor/*
	ignoreErrors:
		- '#Call to function is_array\(\) with .* will always evaluate to false.#'
