parameters:
	ignoreErrors:
		-
			message: '#^Property NecLimDul\\MarketoRest\\Asset\\Api\\ChannelsApi\:\:\$serializer is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Asset/Api/ChannelsApi.php

		-
			message: '#^Parameter \#1 \$value of method Neclimdul\\OpenapiPhp\\Helper\\Serialization\\SerializerInterface\<NecLimDul\\MarketoRest\\Asset\\Model\\ModelInterface\>\:\:toFormValue\(\) expects bool\|float\|int\|Neclimdul\\OpenapiPhp\\Helper\\Model\\ModelInterface\|SplFileObject\|string, array\<NecLimDul\\MarketoRest\\Asset\\Model\\UpdateFieldPosition\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Asset/Api/FormFieldsApi.php

		-
			message: '#^Parameter \#1 \$value of method Neclimdul\\OpenapiPhp\\Helper\\Serialization\\SerializerInterface\<NecLimDul\\MarketoRest\\Asset\\Model\\ModelInterface\>\:\:toFormValue\(\) expects bool\|float\|int\|Neclimdul\\OpenapiPhp\\Helper\\Model\\ModelInterface\|SplFileObject\|string, array\<NecLimDul\\MarketoRest\\Asset\\Model\\ThankYouPageRequest\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Asset/Api/FormsApi.php

		-
			message: '#^Parameter \#1 \$value of method Neclimdul\\OpenapiPhp\\Helper\\Serialization\\SerializerInterface\<NecLimDul\\MarketoRest\\Asset\\Model\\ModelInterface\>\:\:toFormValue\(\) expects bool\|float\|int\|Neclimdul\\OpenapiPhp\\Helper\\Model\\ModelInterface\|SplFileObject\|string, array\<NecLimDul\\MarketoRest\\Asset\\Model\\CostRequest\> given\.$#'
			identifier: argument.type
			count: 2
			path: src/Asset/Api/ProgramsApi.php

		-
			message: '#^Parameter \#1 \$value of method Neclimdul\\OpenapiPhp\\Helper\\Serialization\\SerializerInterface\<NecLimDul\\MarketoRest\\Asset\\Model\\ModelInterface\>\:\:toFormValue\(\) expects bool\|float\|int\|Neclimdul\\OpenapiPhp\\Helper\\Model\\ModelInterface\|SplFileObject\|string, array\<NecLimDul\\MarketoRest\\Asset\\Model\\TagRequest\> given\.$#'
			identifier: argument.type
			count: 2
			path: src/Asset/Api/ProgramsApi.php

		-
			message: '#^Property NecLimDul\\MarketoRest\\Asset\\Api\\TagsApi\:\:\$serializer is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Asset/Api/TagsApi.php

		-
			message: '#^Offset ''type'' on array\{content\?\: object\|null, followup_type\?\: string\|null, followup_value\?\: string\|null, formatting_options\?\: NecLimDul\\MarketoRest\\Asset\\Model\\JsonNode\|null, id\: object, index\?\: int\|null, type\: string\} in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.offset
			count: 1
			path: src/Asset/Model/LandingPageContentResponse.php

		-
			message: '#^Property NecLimDul\\MarketoRest\\Lead\\Api\\SalesPersonsApi\:\:\$serializer is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Lead/Api/SalesPersonsApi.php

		-
			message: '#^Property NecLimDul\\MarketoRest\\Lead\\Api\\UsageApi\:\:\$serializer is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Lead/Api/UsageApi.php

		-
			message: '#^Offset ''version'' on array\{created_at\: DateTime, dedupe_fields\: array\<string\>, description\: string, display_name\: string, plural_name\: string, fields\: array\<NecLimDul\\MarketoRest\\Lead\\Model\\ObjectField\>, id_field\: string, api_name\: string, \.\.\.\} in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.offset
			count: 1
			path: src/Lead/Model/ObjectMetaData.php

