includes:
	- phpstan-baseline.neon
parameters:
	level: 6
	treatPhpDocTypesAsCertain: true
	checkGenericClassInNonGenericObjectType: false
	paths:
		- src
		- tests
	ignoreErrors:
		- '#return type has no value type specified in iterable type array\.$#'
