<?php
/**
 * ActivitiesApi
 *
 * @category Class
 * @package  NecLimDul\MarketoRest\Lead
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Marketo Rest API
 *
 * Marketo Rest API
 *
 * OpenAPI spec version: 1.0
 * Contact: developerfeedback@marketo.com
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 * Swagger Codegen version: 2.4.26
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace NecLimDul\MarketoRest\Lead\Api;

use GuzzleHttp\Client;
use GuzzleHttp\ClientInterface;
use GuzzleHttp\Exception\RequestException;
use GuzzleHttp\Psr7\MultipartStream;
use GuzzleHttp\Psr7\Query;
use GuzzleHttp\Psr7\Request;
use GuzzleHttp\RequestOptions;
use Psr\Http\Message\ResponseInterface;
use NecLimDul\MarketoRest\Lead\ApiException;
use NecLimDul\MarketoRest\Lead\Configuration;
use NecLimDul\MarketoRest\Lead\HeaderSelector;
use NecLimDul\MarketoRest\Lead\ObjectSerializer;

/**
 * ActivitiesApi Class Doc Comment
 *
 * @category Class
 * @package  NecLimDul\MarketoRest\Lead
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class ActivitiesApi
{

    /**
     * @var ClientInterface
     */
    protected $client;

    /**
     * @var Configuration
     */
    protected $config;

    /**
     * @var HeaderSelector
     */
    protected $headerSelector;

    /**
     * @var int Host index
     */
    protected $hostIndex;

    /**
     * @param ClientInterface|null $client
     * @param Configuration|null   $config
     * @param HeaderSelector|null  $selector
     * @param int                  $hostIndex (Optional) host index to select the list of hosts if defined in the OpenAPI spec
     */
    public function __construct(
        ClientInterface $client = null,
        Configuration $config = null,
        HeaderSelector $selector = null,
        $hostIndex = 0
    ) {
        $this->client = $client ?: new Client();
        $this->config = $config ?: new Configuration();
        $this->headerSelector = $selector ?: new HeaderSelector();
        $this->hostIndex = $hostIndex;
    }

    /**
     * Set the host index
     *
     * @param int $hostIndex Host index (required)
     */
    public function setHostIndex($hostIndex)
    {
        $this->hostIndex = $hostIndex;
    }

    /**
     * Get the host index
     *
     * @return int Host index
     */
    public function getHostIndex()
    {
        return $this->hostIndex;
    }

    /**
     * @return Configuration
     */
    public function getConfig()
    {
        return $this->config;
    }

    /**
     * Exception handler for addCustomActivityUsingPOST.
     *
     * @param \NecLimDul\MarketoRest\Lead\ApiException $e Unprocessed exception.
     *
     * @return \NecLimDul\MarketoRest\Lead\ApiException Processed exception.
     */
    protected function addCustomActivityUsingPOSTHandleException(ApiException $e)
    {
        switch ($e->getCode()) {
            case 200:
                $e->setResponseObject(
                    $this->deserializeResponseBody(
                        $e->getResponseBody(),
                        '\NecLimDul\MarketoRest\Lead\Model\ResponseOfCustomActivity',
                        $e->getResponseHeaders()
                    )
                );
                break;
        }
        return $e;
    }

    /**
     * Add Custom Activities
     *
     * @param  \NecLimDul\MarketoRest\Lead\Model\CustomActivityRequest $custom_activity_request customActivityRequest (required)
     *
     * @throws \NecLimDul\MarketoRest\Lead\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \NecLimDul\MarketoRest\Lead\Model\ResponseOfCustomActivity
     */
    public function addCustomActivityUsingPOST($custom_activity_request)
    {
        list($response) = $this->addCustomActivityUsingPOSTWithHttpInfo($custom_activity_request);
        return $response;
    }

    /**
     * Add Custom Activities
     *
     * @param  \NecLimDul\MarketoRest\Lead\Model\CustomActivityRequest $custom_activity_request customActivityRequest (required)
     *
     * @throws \NecLimDul\MarketoRest\Lead\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \NecLimDul\MarketoRest\Lead\Model\ResponseOfCustomActivity, HTTP status code, HTTP response headers (array of strings)
     */
    public function addCustomActivityUsingPOSTWithHttpInfo($custom_activity_request)
    {
        $request = $this->addCustomActivityUsingPOSTRequest($custom_activity_request);
        try {
            $response = $this->makeRequest($request);
            return $this->responseToReturn($response, '\NecLimDul\MarketoRest\Lead\Model\ResponseOfCustomActivity');
        } catch (ApiException $e) {
            throw $this->addCustomActivityUsingPOSTHandleException($e);
        }
    }

    /**
     * Add Custom Activities
     *
     * @param  \NecLimDul\MarketoRest\Lead\Model\CustomActivityRequest $custom_activity_request customActivityRequest (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function addCustomActivityUsingPOSTAsync($custom_activity_request)
    {
        return $this->addCustomActivityUsingPOSTAsyncWithHttpInfo($custom_activity_request)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Add Custom Activities
     *
     * @param  \NecLimDul\MarketoRest\Lead\Model\CustomActivityRequest $custom_activity_request customActivityRequest (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function addCustomActivityUsingPOSTAsyncWithHttpInfo($custom_activity_request)
    {
        $request = $this->addCustomActivityUsingPOSTRequest($custom_activity_request);
        return $this->makeAsyncRequest($request, '\NecLimDul\MarketoRest\Lead\Model\ResponseOfCustomActivity', [$this, 'addCustomActivityUsingPOSTHandleException']);
    }

    /**
     * Create request for operation 'addCustomActivityUsingPOST'
     *
     * @param  \NecLimDul\MarketoRest\Lead\Model\CustomActivityRequest $custom_activity_request customActivityRequest (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function addCustomActivityUsingPOSTRequest($custom_activity_request)
    {
        // Verify the required parameter 'custom_activity_request' is set.
        if (!isset($custom_activity_request)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $custom_activity_request when calling addCustomActivityUsingPOST'
            );
        }

        $resourcePath = '/rest/v1/activities/external.json';
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            ['application/json']
        );
        if ($headers['Content-Type'] === 'application/json') {
          $httpBody = \GuzzleHttp\json_encode(ObjectSerializer::sanitizeForSerialization($custom_activity_request));
        } elseif (!is_array($custom_activity_request)) {
          $httpBody = (string) $custom_activity_request;
        }
        else {
          $httpBody = '';
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $query = Query::build($queryParams);
        return new Request(
            'POST',
            $this->config->getHost() . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Exception handler for approveCustomActivityTypeUsingPOST.
     *
     * @param \NecLimDul\MarketoRest\Lead\ApiException $e Unprocessed exception.
     *
     * @return \NecLimDul\MarketoRest\Lead\ApiException Processed exception.
     */
    protected function approveCustomActivityTypeUsingPOSTHandleException(ApiException $e)
    {
        switch ($e->getCode()) {
            case 200:
                $e->setResponseObject(
                    $this->deserializeResponseBody(
                        $e->getResponseBody(),
                        '\NecLimDul\MarketoRest\Lead\Model\ResponseOfCustomActivityType',
                        $e->getResponseHeaders()
                    )
                );
                break;
        }
        return $e;
    }

    /**
     * Approve Custom Activity Type
     *
     * @param  string $api_name API Name of the activity type (required)
     *
     * @throws \NecLimDul\MarketoRest\Lead\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \NecLimDul\MarketoRest\Lead\Model\ResponseOfCustomActivityType
     */
    public function approveCustomActivityTypeUsingPOST($api_name)
    {
        list($response) = $this->approveCustomActivityTypeUsingPOSTWithHttpInfo($api_name);
        return $response;
    }

    /**
     * Approve Custom Activity Type
     *
     * @param  string $api_name API Name of the activity type (required)
     *
     * @throws \NecLimDul\MarketoRest\Lead\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \NecLimDul\MarketoRest\Lead\Model\ResponseOfCustomActivityType, HTTP status code, HTTP response headers (array of strings)
     */
    public function approveCustomActivityTypeUsingPOSTWithHttpInfo($api_name)
    {
        $request = $this->approveCustomActivityTypeUsingPOSTRequest($api_name);
        try {
            $response = $this->makeRequest($request);
            return $this->responseToReturn($response, '\NecLimDul\MarketoRest\Lead\Model\ResponseOfCustomActivityType');
        } catch (ApiException $e) {
            throw $this->approveCustomActivityTypeUsingPOSTHandleException($e);
        }
    }

    /**
     * Approve Custom Activity Type
     *
     * @param  string $api_name API Name of the activity type (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function approveCustomActivityTypeUsingPOSTAsync($api_name)
    {
        return $this->approveCustomActivityTypeUsingPOSTAsyncWithHttpInfo($api_name)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Approve Custom Activity Type
     *
     * @param  string $api_name API Name of the activity type (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function approveCustomActivityTypeUsingPOSTAsyncWithHttpInfo($api_name)
    {
        $request = $this->approveCustomActivityTypeUsingPOSTRequest($api_name);
        return $this->makeAsyncRequest($request, '\NecLimDul\MarketoRest\Lead\Model\ResponseOfCustomActivityType', [$this, 'approveCustomActivityTypeUsingPOSTHandleException']);
    }

    /**
     * Create request for operation 'approveCustomActivityTypeUsingPOST'
     *
     * @param  string $api_name API Name of the activity type (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function approveCustomActivityTypeUsingPOSTRequest($api_name)
    {
        // Verify the required parameter 'api_name' is set.
        if (!isset($api_name)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $api_name when calling approveCustomActivityTypeUsingPOST'
            );
        }

        $resourcePath = '/rest/v1/activities/external/type/{apiName}/approve.json';
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';

        // Path parameters.
        $resourcePath = str_replace(
            '{' . 'apiName' . '}',
            ObjectSerializer::toPathValue($api_name),
            $resourcePath
        );
        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            ['application/json']
        );


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $query = Query::build($queryParams);
        return new Request(
            'POST',
            $this->config->getHost() . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Exception handler for createCustomActivityTypeAttributesUsingPOST.
     *
     * @param \NecLimDul\MarketoRest\Lead\ApiException $e Unprocessed exception.
     *
     * @return \NecLimDul\MarketoRest\Lead\ApiException Processed exception.
     */
    protected function createCustomActivityTypeAttributesUsingPOSTHandleException(ApiException $e)
    {
        switch ($e->getCode()) {
            case 200:
                $e->setResponseObject(
                    $this->deserializeResponseBody(
                        $e->getResponseBody(),
                        '\NecLimDul\MarketoRest\Lead\Model\ResponseOfCustomActivityType',
                        $e->getResponseHeaders()
                    )
                );
                break;
        }
        return $e;
    }

    /**
     * Create Custom Activity Type Attributes
     *
     * @param  string $api_name API Name of the activity type (required)
     * @param  \NecLimDul\MarketoRest\Lead\Model\CustomActivityTypeAttributeRequest $custom_activity_type_attribute_request customActivityTypeAttributeRequest (required)
     *
     * @throws \NecLimDul\MarketoRest\Lead\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \NecLimDul\MarketoRest\Lead\Model\ResponseOfCustomActivityType
     */
    public function createCustomActivityTypeAttributesUsingPOST($api_name, $custom_activity_type_attribute_request)
    {
        list($response) = $this->createCustomActivityTypeAttributesUsingPOSTWithHttpInfo($api_name, $custom_activity_type_attribute_request);
        return $response;
    }

    /**
     * Create Custom Activity Type Attributes
     *
     * @param  string $api_name API Name of the activity type (required)
     * @param  \NecLimDul\MarketoRest\Lead\Model\CustomActivityTypeAttributeRequest $custom_activity_type_attribute_request customActivityTypeAttributeRequest (required)
     *
     * @throws \NecLimDul\MarketoRest\Lead\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \NecLimDul\MarketoRest\Lead\Model\ResponseOfCustomActivityType, HTTP status code, HTTP response headers (array of strings)
     */
    public function createCustomActivityTypeAttributesUsingPOSTWithHttpInfo($api_name, $custom_activity_type_attribute_request)
    {
        $request = $this->createCustomActivityTypeAttributesUsingPOSTRequest($api_name, $custom_activity_type_attribute_request);
        try {
            $response = $this->makeRequest($request);
            return $this->responseToReturn($response, '\NecLimDul\MarketoRest\Lead\Model\ResponseOfCustomActivityType');
        } catch (ApiException $e) {
            throw $this->createCustomActivityTypeAttributesUsingPOSTHandleException($e);
        }
    }

    /**
     * Create Custom Activity Type Attributes
     *
     * @param  string $api_name API Name of the activity type (required)
     * @param  \NecLimDul\MarketoRest\Lead\Model\CustomActivityTypeAttributeRequest $custom_activity_type_attribute_request customActivityTypeAttributeRequest (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function createCustomActivityTypeAttributesUsingPOSTAsync($api_name, $custom_activity_type_attribute_request)
    {
        return $this->createCustomActivityTypeAttributesUsingPOSTAsyncWithHttpInfo($api_name, $custom_activity_type_attribute_request)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Create Custom Activity Type Attributes
     *
     * @param  string $api_name API Name of the activity type (required)
     * @param  \NecLimDul\MarketoRest\Lead\Model\CustomActivityTypeAttributeRequest $custom_activity_type_attribute_request customActivityTypeAttributeRequest (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function createCustomActivityTypeAttributesUsingPOSTAsyncWithHttpInfo($api_name, $custom_activity_type_attribute_request)
    {
        $request = $this->createCustomActivityTypeAttributesUsingPOSTRequest($api_name, $custom_activity_type_attribute_request);
        return $this->makeAsyncRequest($request, '\NecLimDul\MarketoRest\Lead\Model\ResponseOfCustomActivityType', [$this, 'createCustomActivityTypeAttributesUsingPOSTHandleException']);
    }

    /**
     * Create request for operation 'createCustomActivityTypeAttributesUsingPOST'
     *
     * @param  string $api_name API Name of the activity type (required)
     * @param  \NecLimDul\MarketoRest\Lead\Model\CustomActivityTypeAttributeRequest $custom_activity_type_attribute_request customActivityTypeAttributeRequest (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function createCustomActivityTypeAttributesUsingPOSTRequest($api_name, $custom_activity_type_attribute_request)
    {
        // Verify the required parameter 'api_name' is set.
        if (!isset($api_name)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $api_name when calling createCustomActivityTypeAttributesUsingPOST'
            );
        }
        // Verify the required parameter 'custom_activity_type_attribute_request' is set.
        if (!isset($custom_activity_type_attribute_request)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $custom_activity_type_attribute_request when calling createCustomActivityTypeAttributesUsingPOST'
            );
        }

        $resourcePath = '/rest/v1/activities/external/type/{apiName}/attributes/create.json';
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';

        // Path parameters.
        $resourcePath = str_replace(
            '{' . 'apiName' . '}',
            ObjectSerializer::toPathValue($api_name),
            $resourcePath
        );
        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            ['application/json']
        );
        if ($headers['Content-Type'] === 'application/json') {
          $httpBody = \GuzzleHttp\json_encode(ObjectSerializer::sanitizeForSerialization($custom_activity_type_attribute_request));
        } elseif (!is_array($custom_activity_type_attribute_request)) {
          $httpBody = (string) $custom_activity_type_attribute_request;
        }
        else {
          $httpBody = '';
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $query = Query::build($queryParams);
        return new Request(
            'POST',
            $this->config->getHost() . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Exception handler for createCustomActivityTypeUsingPOST.
     *
     * @param \NecLimDul\MarketoRest\Lead\ApiException $e Unprocessed exception.
     *
     * @return \NecLimDul\MarketoRest\Lead\ApiException Processed exception.
     */
    protected function createCustomActivityTypeUsingPOSTHandleException(ApiException $e)
    {
        switch ($e->getCode()) {
            case 200:
                $e->setResponseObject(
                    $this->deserializeResponseBody(
                        $e->getResponseBody(),
                        '\NecLimDul\MarketoRest\Lead\Model\ResponseOfCustomActivityType',
                        $e->getResponseHeaders()
                    )
                );
                break;
        }
        return $e;
    }

    /**
     * Create Custom Activity Type
     *
     * @param  \NecLimDul\MarketoRest\Lead\Model\CustomActivityTypeRequest $custom_activity_type_request customActivityTypeRequest (required)
     *
     * @throws \NecLimDul\MarketoRest\Lead\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \NecLimDul\MarketoRest\Lead\Model\ResponseOfCustomActivityType
     */
    public function createCustomActivityTypeUsingPOST($custom_activity_type_request)
    {
        list($response) = $this->createCustomActivityTypeUsingPOSTWithHttpInfo($custom_activity_type_request);
        return $response;
    }

    /**
     * Create Custom Activity Type
     *
     * @param  \NecLimDul\MarketoRest\Lead\Model\CustomActivityTypeRequest $custom_activity_type_request customActivityTypeRequest (required)
     *
     * @throws \NecLimDul\MarketoRest\Lead\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \NecLimDul\MarketoRest\Lead\Model\ResponseOfCustomActivityType, HTTP status code, HTTP response headers (array of strings)
     */
    public function createCustomActivityTypeUsingPOSTWithHttpInfo($custom_activity_type_request)
    {
        $request = $this->createCustomActivityTypeUsingPOSTRequest($custom_activity_type_request);
        try {
            $response = $this->makeRequest($request);
            return $this->responseToReturn($response, '\NecLimDul\MarketoRest\Lead\Model\ResponseOfCustomActivityType');
        } catch (ApiException $e) {
            throw $this->createCustomActivityTypeUsingPOSTHandleException($e);
        }
    }

    /**
     * Create Custom Activity Type
     *
     * @param  \NecLimDul\MarketoRest\Lead\Model\CustomActivityTypeRequest $custom_activity_type_request customActivityTypeRequest (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function createCustomActivityTypeUsingPOSTAsync($custom_activity_type_request)
    {
        return $this->createCustomActivityTypeUsingPOSTAsyncWithHttpInfo($custom_activity_type_request)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Create Custom Activity Type
     *
     * @param  \NecLimDul\MarketoRest\Lead\Model\CustomActivityTypeRequest $custom_activity_type_request customActivityTypeRequest (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function createCustomActivityTypeUsingPOSTAsyncWithHttpInfo($custom_activity_type_request)
    {
        $request = $this->createCustomActivityTypeUsingPOSTRequest($custom_activity_type_request);
        return $this->makeAsyncRequest($request, '\NecLimDul\MarketoRest\Lead\Model\ResponseOfCustomActivityType', [$this, 'createCustomActivityTypeUsingPOSTHandleException']);
    }

    /**
     * Create request for operation 'createCustomActivityTypeUsingPOST'
     *
     * @param  \NecLimDul\MarketoRest\Lead\Model\CustomActivityTypeRequest $custom_activity_type_request customActivityTypeRequest (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function createCustomActivityTypeUsingPOSTRequest($custom_activity_type_request)
    {
        // Verify the required parameter 'custom_activity_type_request' is set.
        if (!isset($custom_activity_type_request)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $custom_activity_type_request when calling createCustomActivityTypeUsingPOST'
            );
        }

        $resourcePath = '/rest/v1/activities/external/type.json';
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            ['application/json']
        );
        if ($headers['Content-Type'] === 'application/json') {
          $httpBody = \GuzzleHttp\json_encode(ObjectSerializer::sanitizeForSerialization($custom_activity_type_request));
        } elseif (!is_array($custom_activity_type_request)) {
          $httpBody = (string) $custom_activity_type_request;
        }
        else {
          $httpBody = '';
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $query = Query::build($queryParams);
        return new Request(
            'POST',
            $this->config->getHost() . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Exception handler for deleteCustomActivityTypeAttributesUsingPOST.
     *
     * @param \NecLimDul\MarketoRest\Lead\ApiException $e Unprocessed exception.
     *
     * @return \NecLimDul\MarketoRest\Lead\ApiException Processed exception.
     */
    protected function deleteCustomActivityTypeAttributesUsingPOSTHandleException(ApiException $e)
    {
        switch ($e->getCode()) {
            case 200:
                $e->setResponseObject(
                    $this->deserializeResponseBody(
                        $e->getResponseBody(),
                        '\NecLimDul\MarketoRest\Lead\Model\ResponseOfCustomActivityType',
                        $e->getResponseHeaders()
                    )
                );
                break;
        }
        return $e;
    }

    /**
     * Delete Custom Activity Type Attributes
     *
     * @param  string $api_name API Name of the activity type (required)
     * @param  \NecLimDul\MarketoRest\Lead\Model\CustomActivityTypeAttributeRequest $custom_activity_type_attribute_request customActivityTypeAttributeRequest (required)
     *
     * @throws \NecLimDul\MarketoRest\Lead\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \NecLimDul\MarketoRest\Lead\Model\ResponseOfCustomActivityType
     */
    public function deleteCustomActivityTypeAttributesUsingPOST($api_name, $custom_activity_type_attribute_request)
    {
        list($response) = $this->deleteCustomActivityTypeAttributesUsingPOSTWithHttpInfo($api_name, $custom_activity_type_attribute_request);
        return $response;
    }

    /**
     * Delete Custom Activity Type Attributes
     *
     * @param  string $api_name API Name of the activity type (required)
     * @param  \NecLimDul\MarketoRest\Lead\Model\CustomActivityTypeAttributeRequest $custom_activity_type_attribute_request customActivityTypeAttributeRequest (required)
     *
     * @throws \NecLimDul\MarketoRest\Lead\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \NecLimDul\MarketoRest\Lead\Model\ResponseOfCustomActivityType, HTTP status code, HTTP response headers (array of strings)
     */
    public function deleteCustomActivityTypeAttributesUsingPOSTWithHttpInfo($api_name, $custom_activity_type_attribute_request)
    {
        $request = $this->deleteCustomActivityTypeAttributesUsingPOSTRequest($api_name, $custom_activity_type_attribute_request);
        try {
            $response = $this->makeRequest($request);
            return $this->responseToReturn($response, '\NecLimDul\MarketoRest\Lead\Model\ResponseOfCustomActivityType');
        } catch (ApiException $e) {
            throw $this->deleteCustomActivityTypeAttributesUsingPOSTHandleException($e);
        }
    }

    /**
     * Delete Custom Activity Type Attributes
     *
     * @param  string $api_name API Name of the activity type (required)
     * @param  \NecLimDul\MarketoRest\Lead\Model\CustomActivityTypeAttributeRequest $custom_activity_type_attribute_request customActivityTypeAttributeRequest (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function deleteCustomActivityTypeAttributesUsingPOSTAsync($api_name, $custom_activity_type_attribute_request)
    {
        return $this->deleteCustomActivityTypeAttributesUsingPOSTAsyncWithHttpInfo($api_name, $custom_activity_type_attribute_request)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Delete Custom Activity Type Attributes
     *
     * @param  string $api_name API Name of the activity type (required)
     * @param  \NecLimDul\MarketoRest\Lead\Model\CustomActivityTypeAttributeRequest $custom_activity_type_attribute_request customActivityTypeAttributeRequest (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function deleteCustomActivityTypeAttributesUsingPOSTAsyncWithHttpInfo($api_name, $custom_activity_type_attribute_request)
    {
        $request = $this->deleteCustomActivityTypeAttributesUsingPOSTRequest($api_name, $custom_activity_type_attribute_request);
        return $this->makeAsyncRequest($request, '\NecLimDul\MarketoRest\Lead\Model\ResponseOfCustomActivityType', [$this, 'deleteCustomActivityTypeAttributesUsingPOSTHandleException']);
    }

    /**
     * Create request for operation 'deleteCustomActivityTypeAttributesUsingPOST'
     *
     * @param  string $api_name API Name of the activity type (required)
     * @param  \NecLimDul\MarketoRest\Lead\Model\CustomActivityTypeAttributeRequest $custom_activity_type_attribute_request customActivityTypeAttributeRequest (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function deleteCustomActivityTypeAttributesUsingPOSTRequest($api_name, $custom_activity_type_attribute_request)
    {
        // Verify the required parameter 'api_name' is set.
        if (!isset($api_name)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $api_name when calling deleteCustomActivityTypeAttributesUsingPOST'
            );
        }
        // Verify the required parameter 'custom_activity_type_attribute_request' is set.
        if (!isset($custom_activity_type_attribute_request)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $custom_activity_type_attribute_request when calling deleteCustomActivityTypeAttributesUsingPOST'
            );
        }

        $resourcePath = '/rest/v1/activities/external/type/{apiName}/attributes/delete.json';
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';

        // Path parameters.
        $resourcePath = str_replace(
            '{' . 'apiName' . '}',
            ObjectSerializer::toPathValue($api_name),
            $resourcePath
        );
        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            ['application/json']
        );
        if ($headers['Content-Type'] === 'application/json') {
          $httpBody = \GuzzleHttp\json_encode(ObjectSerializer::sanitizeForSerialization($custom_activity_type_attribute_request));
        } elseif (!is_array($custom_activity_type_attribute_request)) {
          $httpBody = (string) $custom_activity_type_attribute_request;
        }
        else {
          $httpBody = '';
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $query = Query::build($queryParams);
        return new Request(
            'POST',
            $this->config->getHost() . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Exception handler for deleteCustomActivityTypeUsingPOST.
     *
     * @param \NecLimDul\MarketoRest\Lead\ApiException $e Unprocessed exception.
     *
     * @return \NecLimDul\MarketoRest\Lead\ApiException Processed exception.
     */
    protected function deleteCustomActivityTypeUsingPOSTHandleException(ApiException $e)
    {
        switch ($e->getCode()) {
            case 200:
                $e->setResponseObject(
                    $this->deserializeResponseBody(
                        $e->getResponseBody(),
                        '\NecLimDul\MarketoRest\Lead\Model\ResponseOfCustomActivityType',
                        $e->getResponseHeaders()
                    )
                );
                break;
        }
        return $e;
    }

    /**
     * Delete Custom Activity Type
     *
     * @param  string $api_name API Name of the activity type (required)
     *
     * @throws \NecLimDul\MarketoRest\Lead\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \NecLimDul\MarketoRest\Lead\Model\ResponseOfCustomActivityType
     */
    public function deleteCustomActivityTypeUsingPOST($api_name)
    {
        list($response) = $this->deleteCustomActivityTypeUsingPOSTWithHttpInfo($api_name);
        return $response;
    }

    /**
     * Delete Custom Activity Type
     *
     * @param  string $api_name API Name of the activity type (required)
     *
     * @throws \NecLimDul\MarketoRest\Lead\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \NecLimDul\MarketoRest\Lead\Model\ResponseOfCustomActivityType, HTTP status code, HTTP response headers (array of strings)
     */
    public function deleteCustomActivityTypeUsingPOSTWithHttpInfo($api_name)
    {
        $request = $this->deleteCustomActivityTypeUsingPOSTRequest($api_name);
        try {
            $response = $this->makeRequest($request);
            return $this->responseToReturn($response, '\NecLimDul\MarketoRest\Lead\Model\ResponseOfCustomActivityType');
        } catch (ApiException $e) {
            throw $this->deleteCustomActivityTypeUsingPOSTHandleException($e);
        }
    }

    /**
     * Delete Custom Activity Type
     *
     * @param  string $api_name API Name of the activity type (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function deleteCustomActivityTypeUsingPOSTAsync($api_name)
    {
        return $this->deleteCustomActivityTypeUsingPOSTAsyncWithHttpInfo($api_name)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Delete Custom Activity Type
     *
     * @param  string $api_name API Name of the activity type (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function deleteCustomActivityTypeUsingPOSTAsyncWithHttpInfo($api_name)
    {
        $request = $this->deleteCustomActivityTypeUsingPOSTRequest($api_name);
        return $this->makeAsyncRequest($request, '\NecLimDul\MarketoRest\Lead\Model\ResponseOfCustomActivityType', [$this, 'deleteCustomActivityTypeUsingPOSTHandleException']);
    }

    /**
     * Create request for operation 'deleteCustomActivityTypeUsingPOST'
     *
     * @param  string $api_name API Name of the activity type (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function deleteCustomActivityTypeUsingPOSTRequest($api_name)
    {
        // Verify the required parameter 'api_name' is set.
        if (!isset($api_name)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $api_name when calling deleteCustomActivityTypeUsingPOST'
            );
        }

        $resourcePath = '/rest/v1/activities/external/type/{apiName}/delete.json';
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';

        // Path parameters.
        $resourcePath = str_replace(
            '{' . 'apiName' . '}',
            ObjectSerializer::toPathValue($api_name),
            $resourcePath
        );
        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            ['application/json']
        );


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $query = Query::build($queryParams);
        return new Request(
            'POST',
            $this->config->getHost() . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Exception handler for describeCustomActivityTypeUsingGET.
     *
     * @param \NecLimDul\MarketoRest\Lead\ApiException $e Unprocessed exception.
     *
     * @return \NecLimDul\MarketoRest\Lead\ApiException Processed exception.
     */
    protected function describeCustomActivityTypeUsingGETHandleException(ApiException $e)
    {
        switch ($e->getCode()) {
            case 200:
                $e->setResponseObject(
                    $this->deserializeResponseBody(
                        $e->getResponseBody(),
                        '\NecLimDul\MarketoRest\Lead\Model\ResponseOfCustomActivityType',
                        $e->getResponseHeaders()
                    )
                );
                break;
        }
        return $e;
    }

    /**
     * Describe Custom Activity Type
     *
     * @param  string $api_name API Name of the activity type (required)
     * @param  bool $draft draft (optional)
     *
     * @throws \NecLimDul\MarketoRest\Lead\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \NecLimDul\MarketoRest\Lead\Model\ResponseOfCustomActivityType
     */
    public function describeCustomActivityTypeUsingGET($api_name, $draft = null)
    {
        list($response) = $this->describeCustomActivityTypeUsingGETWithHttpInfo($api_name, $draft);
        return $response;
    }

    /**
     * Describe Custom Activity Type
     *
     * @param  string $api_name API Name of the activity type (required)
     * @param  bool $draft draft (optional)
     *
     * @throws \NecLimDul\MarketoRest\Lead\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \NecLimDul\MarketoRest\Lead\Model\ResponseOfCustomActivityType, HTTP status code, HTTP response headers (array of strings)
     */
    public function describeCustomActivityTypeUsingGETWithHttpInfo($api_name, $draft = null)
    {
        $request = $this->describeCustomActivityTypeUsingGETRequest($api_name, $draft);
        try {
            $response = $this->makeRequest($request);
            return $this->responseToReturn($response, '\NecLimDul\MarketoRest\Lead\Model\ResponseOfCustomActivityType');
        } catch (ApiException $e) {
            throw $this->describeCustomActivityTypeUsingGETHandleException($e);
        }
    }

    /**
     * Describe Custom Activity Type
     *
     * @param  string $api_name API Name of the activity type (required)
     * @param  bool $draft draft (optional)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function describeCustomActivityTypeUsingGETAsync($api_name, $draft = null)
    {
        return $this->describeCustomActivityTypeUsingGETAsyncWithHttpInfo($api_name, $draft)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Describe Custom Activity Type
     *
     * @param  string $api_name API Name of the activity type (required)
     * @param  bool $draft draft (optional)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function describeCustomActivityTypeUsingGETAsyncWithHttpInfo($api_name, $draft = null)
    {
        $request = $this->describeCustomActivityTypeUsingGETRequest($api_name, $draft);
        return $this->makeAsyncRequest($request, '\NecLimDul\MarketoRest\Lead\Model\ResponseOfCustomActivityType', [$this, 'describeCustomActivityTypeUsingGETHandleException']);
    }

    /**
     * Create request for operation 'describeCustomActivityTypeUsingGET'
     *
     * @param  string $api_name API Name of the activity type (required)
     * @param  bool $draft draft (optional)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function describeCustomActivityTypeUsingGETRequest($api_name, $draft = null)
    {
        // Verify the required parameter 'api_name' is set.
        if (!isset($api_name)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $api_name when calling describeCustomActivityTypeUsingGET'
            );
        }

        $resourcePath = '/rest/v1/activities/external/type/{apiName}/describe.json';
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';

        // Query parameters.
        $queryParams['draft'] = ObjectSerializer::toQueryValue($draft);
        // Remove any null (optional values).
        $queryParams = array_filter($queryParams, function($v) { return $v !== null; });

        // Path parameters.
        $resourcePath = str_replace(
            '{' . 'apiName' . '}',
            ObjectSerializer::toPathValue($api_name),
            $resourcePath
        );
        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            ['application/json']
        );


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $query = Query::build($queryParams);
        return new Request(
            'GET',
            $this->config->getHost() . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Exception handler for discardDraftofCustomActivityTypeUsingPOST.
     *
     * @param \NecLimDul\MarketoRest\Lead\ApiException $e Unprocessed exception.
     *
     * @return \NecLimDul\MarketoRest\Lead\ApiException Processed exception.
     */
    protected function discardDraftofCustomActivityTypeUsingPOSTHandleException(ApiException $e)
    {
        switch ($e->getCode()) {
            case 200:
                $e->setResponseObject(
                    $this->deserializeResponseBody(
                        $e->getResponseBody(),
                        '\NecLimDul\MarketoRest\Lead\Model\ResponseOfCustomActivityType',
                        $e->getResponseHeaders()
                    )
                );
                break;
        }
        return $e;
    }

    /**
     * Discard Custom Activity Type Draft
     *
     * @param  string $api_name API Name of the activity type (required)
     *
     * @throws \NecLimDul\MarketoRest\Lead\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \NecLimDul\MarketoRest\Lead\Model\ResponseOfCustomActivityType
     */
    public function discardDraftofCustomActivityTypeUsingPOST($api_name)
    {
        list($response) = $this->discardDraftofCustomActivityTypeUsingPOSTWithHttpInfo($api_name);
        return $response;
    }

    /**
     * Discard Custom Activity Type Draft
     *
     * @param  string $api_name API Name of the activity type (required)
     *
     * @throws \NecLimDul\MarketoRest\Lead\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \NecLimDul\MarketoRest\Lead\Model\ResponseOfCustomActivityType, HTTP status code, HTTP response headers (array of strings)
     */
    public function discardDraftofCustomActivityTypeUsingPOSTWithHttpInfo($api_name)
    {
        $request = $this->discardDraftofCustomActivityTypeUsingPOSTRequest($api_name);
        try {
            $response = $this->makeRequest($request);
            return $this->responseToReturn($response, '\NecLimDul\MarketoRest\Lead\Model\ResponseOfCustomActivityType');
        } catch (ApiException $e) {
            throw $this->discardDraftofCustomActivityTypeUsingPOSTHandleException($e);
        }
    }

    /**
     * Discard Custom Activity Type Draft
     *
     * @param  string $api_name API Name of the activity type (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function discardDraftofCustomActivityTypeUsingPOSTAsync($api_name)
    {
        return $this->discardDraftofCustomActivityTypeUsingPOSTAsyncWithHttpInfo($api_name)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Discard Custom Activity Type Draft
     *
     * @param  string $api_name API Name of the activity type (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function discardDraftofCustomActivityTypeUsingPOSTAsyncWithHttpInfo($api_name)
    {
        $request = $this->discardDraftofCustomActivityTypeUsingPOSTRequest($api_name);
        return $this->makeAsyncRequest($request, '\NecLimDul\MarketoRest\Lead\Model\ResponseOfCustomActivityType', [$this, 'discardDraftofCustomActivityTypeUsingPOSTHandleException']);
    }

    /**
     * Create request for operation 'discardDraftofCustomActivityTypeUsingPOST'
     *
     * @param  string $api_name API Name of the activity type (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function discardDraftofCustomActivityTypeUsingPOSTRequest($api_name)
    {
        // Verify the required parameter 'api_name' is set.
        if (!isset($api_name)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $api_name when calling discardDraftofCustomActivityTypeUsingPOST'
            );
        }

        $resourcePath = '/rest/v1/activities/external/type/{apiName}/discardDraft.json';
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';

        // Path parameters.
        $resourcePath = str_replace(
            '{' . 'apiName' . '}',
            ObjectSerializer::toPathValue($api_name),
            $resourcePath
        );
        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            ['application/json']
        );


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $query = Query::build($queryParams);
        return new Request(
            'POST',
            $this->config->getHost() . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Exception handler for getActivitiesPagingTokenUsingGET.
     *
     * @param \NecLimDul\MarketoRest\Lead\ApiException $e Unprocessed exception.
     *
     * @return \NecLimDul\MarketoRest\Lead\ApiException Processed exception.
     */
    protected function getActivitiesPagingTokenUsingGETHandleException(ApiException $e)
    {
        switch ($e->getCode()) {
            case 200:
                $e->setResponseObject(
                    $this->deserializeResponseBody(
                        $e->getResponseBody(),
                        '\NecLimDul\MarketoRest\Lead\Model\ResponseOfVoid',
                        $e->getResponseHeaders()
                    )
                );
                break;
        }
        return $e;
    }

    /**
     * Get Paging Token
     *
     * @param  \DateTime $since_datetime Earliest datetime to retrieve activities from (required)
     *
     * @throws \NecLimDul\MarketoRest\Lead\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \NecLimDul\MarketoRest\Lead\Model\ResponseOfVoid
     */
    public function getActivitiesPagingTokenUsingGET($since_datetime)
    {
        list($response) = $this->getActivitiesPagingTokenUsingGETWithHttpInfo($since_datetime);
        return $response;
    }

    /**
     * Get Paging Token
     *
     * @param  \DateTime $since_datetime Earliest datetime to retrieve activities from (required)
     *
     * @throws \NecLimDul\MarketoRest\Lead\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \NecLimDul\MarketoRest\Lead\Model\ResponseOfVoid, HTTP status code, HTTP response headers (array of strings)
     */
    public function getActivitiesPagingTokenUsingGETWithHttpInfo($since_datetime)
    {
        $request = $this->getActivitiesPagingTokenUsingGETRequest($since_datetime);
        try {
            $response = $this->makeRequest($request);
            return $this->responseToReturn($response, '\NecLimDul\MarketoRest\Lead\Model\ResponseOfVoid');
        } catch (ApiException $e) {
            throw $this->getActivitiesPagingTokenUsingGETHandleException($e);
        }
    }

    /**
     * Get Paging Token
     *
     * @param  \DateTime $since_datetime Earliest datetime to retrieve activities from (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getActivitiesPagingTokenUsingGETAsync($since_datetime)
    {
        return $this->getActivitiesPagingTokenUsingGETAsyncWithHttpInfo($since_datetime)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Get Paging Token
     *
     * @param  \DateTime $since_datetime Earliest datetime to retrieve activities from (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getActivitiesPagingTokenUsingGETAsyncWithHttpInfo($since_datetime)
    {
        $request = $this->getActivitiesPagingTokenUsingGETRequest($since_datetime);
        return $this->makeAsyncRequest($request, '\NecLimDul\MarketoRest\Lead\Model\ResponseOfVoid', [$this, 'getActivitiesPagingTokenUsingGETHandleException']);
    }

    /**
     * Create request for operation 'getActivitiesPagingTokenUsingGET'
     *
     * @param  \DateTime $since_datetime Earliest datetime to retrieve activities from (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function getActivitiesPagingTokenUsingGETRequest($since_datetime)
    {
        // Verify the required parameter 'since_datetime' is set.
        if (!isset($since_datetime)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $since_datetime when calling getActivitiesPagingTokenUsingGET'
            );
        }

        $resourcePath = '/rest/v1/activities/pagingtoken.json';
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';

        // Query parameters.
        $queryParams['sinceDatetime'] = ObjectSerializer::toQueryValue($since_datetime);
        // Remove any null (optional values).
        $queryParams = array_filter($queryParams, function($v) { return $v !== null; });
        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            ['application/json']
        );


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $query = Query::build($queryParams);
        return new Request(
            'GET',
            $this->config->getHost() . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Exception handler for getAllActivityTypesUsingGET.
     *
     * @param \NecLimDul\MarketoRest\Lead\ApiException $e Unprocessed exception.
     *
     * @return \NecLimDul\MarketoRest\Lead\ApiException Processed exception.
     */
    protected function getAllActivityTypesUsingGETHandleException(ApiException $e)
    {
        switch ($e->getCode()) {
            case 200:
                $e->setResponseObject(
                    $this->deserializeResponseBody(
                        $e->getResponseBody(),
                        '\NecLimDul\MarketoRest\Lead\Model\ResponseOfActivityType',
                        $e->getResponseHeaders()
                    )
                );
                break;
        }
        return $e;
    }

    /**
     * Get Activity Types
     *
     *
     * @throws \NecLimDul\MarketoRest\Lead\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \NecLimDul\MarketoRest\Lead\Model\ResponseOfActivityType
     */
    public function getAllActivityTypesUsingGET()
    {
        list($response) = $this->getAllActivityTypesUsingGETWithHttpInfo();
        return $response;
    }

    /**
     * Get Activity Types
     *
     *
     * @throws \NecLimDul\MarketoRest\Lead\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \NecLimDul\MarketoRest\Lead\Model\ResponseOfActivityType, HTTP status code, HTTP response headers (array of strings)
     */
    public function getAllActivityTypesUsingGETWithHttpInfo()
    {
        $request = $this->getAllActivityTypesUsingGETRequest();
        try {
            $response = $this->makeRequest($request);
            return $this->responseToReturn($response, '\NecLimDul\MarketoRest\Lead\Model\ResponseOfActivityType');
        } catch (ApiException $e) {
            throw $this->getAllActivityTypesUsingGETHandleException($e);
        }
    }

    /**
     * Get Activity Types
     *
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getAllActivityTypesUsingGETAsync()
    {
        return $this->getAllActivityTypesUsingGETAsyncWithHttpInfo()
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Get Activity Types
     *
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getAllActivityTypesUsingGETAsyncWithHttpInfo()
    {
        $request = $this->getAllActivityTypesUsingGETRequest();
        return $this->makeAsyncRequest($request, '\NecLimDul\MarketoRest\Lead\Model\ResponseOfActivityType', [$this, 'getAllActivityTypesUsingGETHandleException']);
    }

    /**
     * Create request for operation 'getAllActivityTypesUsingGET'
     *
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function getAllActivityTypesUsingGETRequest()
    {

        $resourcePath = '/rest/v1/activities/types.json';
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            ['application/json']
        );


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $query = Query::build($queryParams);
        return new Request(
            'GET',
            $this->config->getHost() . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Exception handler for getCustomActivityTypeUsingGET.
     *
     * @param \NecLimDul\MarketoRest\Lead\ApiException $e Unprocessed exception.
     *
     * @return \NecLimDul\MarketoRest\Lead\ApiException Processed exception.
     */
    protected function getCustomActivityTypeUsingGETHandleException(ApiException $e)
    {
        switch ($e->getCode()) {
            case 200:
                $e->setResponseObject(
                    $this->deserializeResponseBody(
                        $e->getResponseBody(),
                        '\NecLimDul\MarketoRest\Lead\Model\ResponseOfCustomActivityType',
                        $e->getResponseHeaders()
                    )
                );
                break;
        }
        return $e;
    }

    /**
     * Get Custom Activity Types
     *
     *
     * @throws \NecLimDul\MarketoRest\Lead\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \NecLimDul\MarketoRest\Lead\Model\ResponseOfCustomActivityType
     */
    public function getCustomActivityTypeUsingGET()
    {
        list($response) = $this->getCustomActivityTypeUsingGETWithHttpInfo();
        return $response;
    }

    /**
     * Get Custom Activity Types
     *
     *
     * @throws \NecLimDul\MarketoRest\Lead\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \NecLimDul\MarketoRest\Lead\Model\ResponseOfCustomActivityType, HTTP status code, HTTP response headers (array of strings)
     */
    public function getCustomActivityTypeUsingGETWithHttpInfo()
    {
        $request = $this->getCustomActivityTypeUsingGETRequest();
        try {
            $response = $this->makeRequest($request);
            return $this->responseToReturn($response, '\NecLimDul\MarketoRest\Lead\Model\ResponseOfCustomActivityType');
        } catch (ApiException $e) {
            throw $this->getCustomActivityTypeUsingGETHandleException($e);
        }
    }

    /**
     * Get Custom Activity Types
     *
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getCustomActivityTypeUsingGETAsync()
    {
        return $this->getCustomActivityTypeUsingGETAsyncWithHttpInfo()
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Get Custom Activity Types
     *
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getCustomActivityTypeUsingGETAsyncWithHttpInfo()
    {
        $request = $this->getCustomActivityTypeUsingGETRequest();
        return $this->makeAsyncRequest($request, '\NecLimDul\MarketoRest\Lead\Model\ResponseOfCustomActivityType', [$this, 'getCustomActivityTypeUsingGETHandleException']);
    }

    /**
     * Create request for operation 'getCustomActivityTypeUsingGET'
     *
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function getCustomActivityTypeUsingGETRequest()
    {

        $resourcePath = '/rest/v1/activities/external/types.json';
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            ['application/json']
        );


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $query = Query::build($queryParams);
        return new Request(
            'GET',
            $this->config->getHost() . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Exception handler for getDeletedLeadsUsingGET.
     *
     * @param \NecLimDul\MarketoRest\Lead\ApiException $e Unprocessed exception.
     *
     * @return \NecLimDul\MarketoRest\Lead\ApiException Processed exception.
     */
    protected function getDeletedLeadsUsingGETHandleException(ApiException $e)
    {
        switch ($e->getCode()) {
            case 200:
                $e->setResponseObject(
                    $this->deserializeResponseBody(
                        $e->getResponseBody(),
                        '\NecLimDul\MarketoRest\Lead\Model\ResponseOfActivity',
                        $e->getResponseHeaders()
                    )
                );
                break;
        }
        return $e;
    }

    /**
     * Get Deleted Leads
     *
     * @param  string $next_page_token Token representation of a datetime returned by the Get Paging Token endpoint.  This endpoint will return activities after this datetime (required)
     * @param  int $batch_size Maximum number of records to return.  Maximum and default is 300. (optional)
     *
     * @throws \NecLimDul\MarketoRest\Lead\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \NecLimDul\MarketoRest\Lead\Model\ResponseOfActivity
     */
    public function getDeletedLeadsUsingGET($next_page_token, $batch_size = null)
    {
        list($response) = $this->getDeletedLeadsUsingGETWithHttpInfo($next_page_token, $batch_size);
        return $response;
    }

    /**
     * Get Deleted Leads
     *
     * @param  string $next_page_token Token representation of a datetime returned by the Get Paging Token endpoint.  This endpoint will return activities after this datetime (required)
     * @param  int $batch_size Maximum number of records to return.  Maximum and default is 300. (optional)
     *
     * @throws \NecLimDul\MarketoRest\Lead\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \NecLimDul\MarketoRest\Lead\Model\ResponseOfActivity, HTTP status code, HTTP response headers (array of strings)
     */
    public function getDeletedLeadsUsingGETWithHttpInfo($next_page_token, $batch_size = null)
    {
        $request = $this->getDeletedLeadsUsingGETRequest($next_page_token, $batch_size);
        try {
            $response = $this->makeRequest($request);
            return $this->responseToReturn($response, '\NecLimDul\MarketoRest\Lead\Model\ResponseOfActivity');
        } catch (ApiException $e) {
            throw $this->getDeletedLeadsUsingGETHandleException($e);
        }
    }

    /**
     * Get Deleted Leads
     *
     * @param  string $next_page_token Token representation of a datetime returned by the Get Paging Token endpoint.  This endpoint will return activities after this datetime (required)
     * @param  int $batch_size Maximum number of records to return.  Maximum and default is 300. (optional)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getDeletedLeadsUsingGETAsync($next_page_token, $batch_size = null)
    {
        return $this->getDeletedLeadsUsingGETAsyncWithHttpInfo($next_page_token, $batch_size)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Get Deleted Leads
     *
     * @param  string $next_page_token Token representation of a datetime returned by the Get Paging Token endpoint.  This endpoint will return activities after this datetime (required)
     * @param  int $batch_size Maximum number of records to return.  Maximum and default is 300. (optional)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getDeletedLeadsUsingGETAsyncWithHttpInfo($next_page_token, $batch_size = null)
    {
        $request = $this->getDeletedLeadsUsingGETRequest($next_page_token, $batch_size);
        return $this->makeAsyncRequest($request, '\NecLimDul\MarketoRest\Lead\Model\ResponseOfActivity', [$this, 'getDeletedLeadsUsingGETHandleException']);
    }

    /**
     * Create request for operation 'getDeletedLeadsUsingGET'
     *
     * @param  string $next_page_token Token representation of a datetime returned by the Get Paging Token endpoint.  This endpoint will return activities after this datetime (required)
     * @param  int $batch_size Maximum number of records to return.  Maximum and default is 300. (optional)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function getDeletedLeadsUsingGETRequest($next_page_token, $batch_size = null)
    {
        // Verify the required parameter 'next_page_token' is set.
        if (!isset($next_page_token)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $next_page_token when calling getDeletedLeadsUsingGET'
            );
        }

        $resourcePath = '/rest/v1/activities/deletedleads.json';
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';

        // Query parameters.
        $queryParams['nextPageToken'] = ObjectSerializer::toQueryValue($next_page_token);
        $queryParams['batchSize'] = ObjectSerializer::toQueryValue($batch_size);
        // Remove any null (optional values).
        $queryParams = array_filter($queryParams, function($v) { return $v !== null; });
        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            ['application/json']
        );


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $query = Query::build($queryParams);
        return new Request(
            'GET',
            $this->config->getHost() . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Exception handler for getLeadActivitiesUsingGET.
     *
     * @param \NecLimDul\MarketoRest\Lead\ApiException $e Unprocessed exception.
     *
     * @return \NecLimDul\MarketoRest\Lead\ApiException Processed exception.
     */
    protected function getLeadActivitiesUsingGETHandleException(ApiException $e)
    {
        switch ($e->getCode()) {
            case 200:
                $e->setResponseObject(
                    $this->deserializeResponseBody(
                        $e->getResponseBody(),
                        '\NecLimDul\MarketoRest\Lead\Model\ResponseOfActivity',
                        $e->getResponseHeaders()
                    )
                );
                break;
        }
        return $e;
    }

    /**
     * Get Lead Activities
     *
     * @param  string $next_page_token Token representation of a datetime returned by the Get Paging Token endpoint.  This endpoint will return activities after this datetime (required)
     * @param  int[] $activity_type_ids Comma-separated list of activity type ids. These can be retrieved with the Get Activity Types API. (required)
     * @param  int[] $asset_ids Id of the primary asset for an activity.  This is based on the primary asset id of a given activity type.  Should only be used when a single activity type is set (optional)
     * @param  int $list_id Id of a static list.  If set, will only return activities of members of this static list. (optional)
     * @param  int[] $lead_ids Comma-separated list of lead ids.  If set, will only return activities of the leads with these ids.  Allows up to 30 entries. (optional)
     * @param  int $batch_size Maximum number of records to return.  Maximum and default is 300. (optional)
     *
     * @throws \NecLimDul\MarketoRest\Lead\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \NecLimDul\MarketoRest\Lead\Model\ResponseOfActivity
     */
    public function getLeadActivitiesUsingGET($next_page_token, $activity_type_ids, $asset_ids = null, $list_id = null, $lead_ids = null, $batch_size = null)
    {
        list($response) = $this->getLeadActivitiesUsingGETWithHttpInfo($next_page_token, $activity_type_ids, $asset_ids, $list_id, $lead_ids, $batch_size);
        return $response;
    }

    /**
     * Get Lead Activities
     *
     * @param  string $next_page_token Token representation of a datetime returned by the Get Paging Token endpoint.  This endpoint will return activities after this datetime (required)
     * @param  int[] $activity_type_ids Comma-separated list of activity type ids. These can be retrieved with the Get Activity Types API. (required)
     * @param  int[] $asset_ids Id of the primary asset for an activity.  This is based on the primary asset id of a given activity type.  Should only be used when a single activity type is set (optional)
     * @param  int $list_id Id of a static list.  If set, will only return activities of members of this static list. (optional)
     * @param  int[] $lead_ids Comma-separated list of lead ids.  If set, will only return activities of the leads with these ids.  Allows up to 30 entries. (optional)
     * @param  int $batch_size Maximum number of records to return.  Maximum and default is 300. (optional)
     *
     * @throws \NecLimDul\MarketoRest\Lead\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \NecLimDul\MarketoRest\Lead\Model\ResponseOfActivity, HTTP status code, HTTP response headers (array of strings)
     */
    public function getLeadActivitiesUsingGETWithHttpInfo($next_page_token, $activity_type_ids, $asset_ids = null, $list_id = null, $lead_ids = null, $batch_size = null)
    {
        $request = $this->getLeadActivitiesUsingGETRequest($next_page_token, $activity_type_ids, $asset_ids, $list_id, $lead_ids, $batch_size);
        try {
            $response = $this->makeRequest($request);
            return $this->responseToReturn($response, '\NecLimDul\MarketoRest\Lead\Model\ResponseOfActivity');
        } catch (ApiException $e) {
            throw $this->getLeadActivitiesUsingGETHandleException($e);
        }
    }

    /**
     * Get Lead Activities
     *
     * @param  string $next_page_token Token representation of a datetime returned by the Get Paging Token endpoint.  This endpoint will return activities after this datetime (required)
     * @param  int[] $activity_type_ids Comma-separated list of activity type ids. These can be retrieved with the Get Activity Types API. (required)
     * @param  int[] $asset_ids Id of the primary asset for an activity.  This is based on the primary asset id of a given activity type.  Should only be used when a single activity type is set (optional)
     * @param  int $list_id Id of a static list.  If set, will only return activities of members of this static list. (optional)
     * @param  int[] $lead_ids Comma-separated list of lead ids.  If set, will only return activities of the leads with these ids.  Allows up to 30 entries. (optional)
     * @param  int $batch_size Maximum number of records to return.  Maximum and default is 300. (optional)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getLeadActivitiesUsingGETAsync($next_page_token, $activity_type_ids, $asset_ids = null, $list_id = null, $lead_ids = null, $batch_size = null)
    {
        return $this->getLeadActivitiesUsingGETAsyncWithHttpInfo($next_page_token, $activity_type_ids, $asset_ids, $list_id, $lead_ids, $batch_size)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Get Lead Activities
     *
     * @param  string $next_page_token Token representation of a datetime returned by the Get Paging Token endpoint.  This endpoint will return activities after this datetime (required)
     * @param  int[] $activity_type_ids Comma-separated list of activity type ids. These can be retrieved with the Get Activity Types API. (required)
     * @param  int[] $asset_ids Id of the primary asset for an activity.  This is based on the primary asset id of a given activity type.  Should only be used when a single activity type is set (optional)
     * @param  int $list_id Id of a static list.  If set, will only return activities of members of this static list. (optional)
     * @param  int[] $lead_ids Comma-separated list of lead ids.  If set, will only return activities of the leads with these ids.  Allows up to 30 entries. (optional)
     * @param  int $batch_size Maximum number of records to return.  Maximum and default is 300. (optional)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getLeadActivitiesUsingGETAsyncWithHttpInfo($next_page_token, $activity_type_ids, $asset_ids = null, $list_id = null, $lead_ids = null, $batch_size = null)
    {
        $request = $this->getLeadActivitiesUsingGETRequest($next_page_token, $activity_type_ids, $asset_ids, $list_id, $lead_ids, $batch_size);
        return $this->makeAsyncRequest($request, '\NecLimDul\MarketoRest\Lead\Model\ResponseOfActivity', [$this, 'getLeadActivitiesUsingGETHandleException']);
    }

    /**
     * Create request for operation 'getLeadActivitiesUsingGET'
     *
     * @param  string $next_page_token Token representation of a datetime returned by the Get Paging Token endpoint.  This endpoint will return activities after this datetime (required)
     * @param  int[] $activity_type_ids Comma-separated list of activity type ids. These can be retrieved with the Get Activity Types API. (required)
     * @param  int[] $asset_ids Id of the primary asset for an activity.  This is based on the primary asset id of a given activity type.  Should only be used when a single activity type is set (optional)
     * @param  int $list_id Id of a static list.  If set, will only return activities of members of this static list. (optional)
     * @param  int[] $lead_ids Comma-separated list of lead ids.  If set, will only return activities of the leads with these ids.  Allows up to 30 entries. (optional)
     * @param  int $batch_size Maximum number of records to return.  Maximum and default is 300. (optional)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function getLeadActivitiesUsingGETRequest($next_page_token, $activity_type_ids, $asset_ids = null, $list_id = null, $lead_ids = null, $batch_size = null)
    {
        // Verify the required parameter 'next_page_token' is set.
        if (!isset($next_page_token)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $next_page_token when calling getLeadActivitiesUsingGET'
            );
        }
        // Verify the required parameter 'activity_type_ids' is set.
        if (!isset($activity_type_ids) || (is_array($activity_type_ids) && empty($activity_type_ids))) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $activity_type_ids when calling getLeadActivitiesUsingGET'
            );
        }

        $resourcePath = '/rest/v1/activities.json';
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';

        // Query parameters.
        $queryParams['nextPageToken'] = ObjectSerializer::toQueryValue($next_page_token);
        $queryParams['activityTypeIds'] = ObjectSerializer::toQueryValue($activity_type_ids);
        $queryParams['assetIds'] = ObjectSerializer::toQueryValue($asset_ids);
        $queryParams['listId'] = ObjectSerializer::toQueryValue($list_id);
        $queryParams['leadIds'] = ObjectSerializer::toQueryValue($lead_ids);
        $queryParams['batchSize'] = ObjectSerializer::toQueryValue($batch_size);
        // Remove any null (optional values).
        $queryParams = array_filter($queryParams, function($v) { return $v !== null; });
        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            ['application/json']
        );


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $query = Query::build($queryParams);
        return new Request(
            'GET',
            $this->config->getHost() . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Exception handler for getLeadChangesUsingGET.
     *
     * @param \NecLimDul\MarketoRest\Lead\ApiException $e Unprocessed exception.
     *
     * @return \NecLimDul\MarketoRest\Lead\ApiException Processed exception.
     */
    protected function getLeadChangesUsingGETHandleException(ApiException $e)
    {
        switch ($e->getCode()) {
            case 200:
                $e->setResponseObject(
                    $this->deserializeResponseBody(
                        $e->getResponseBody(),
                        '\NecLimDul\MarketoRest\Lead\Model\ResponseOfLeadChange',
                        $e->getResponseHeaders()
                    )
                );
                break;
        }
        return $e;
    }

    /**
     * Get Lead Changes
     *
     * @param  string $next_page_token Token representation of a datetime returned by the Get Paging Token endpoint.  This endpoint will return activities after this datetime (required)
     * @param  string[] $fields Comma-separated list of field names to return changes for.  Field names can be retrieved with the Describe Lead API. (required)
     * @param  int $list_id Id of a static list.  If set, will only return activities of members of this static list. (optional)
     * @param  int[] $lead_ids Comma-separated list of lead ids.  If set, will only return activities of the leads with these ids.  Allows up to 30 entries. (optional)
     * @param  int $batch_size Maximum number of records to return.  Maximum and default is 300. (optional)
     *
     * @throws \NecLimDul\MarketoRest\Lead\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \NecLimDul\MarketoRest\Lead\Model\ResponseOfLeadChange
     */
    public function getLeadChangesUsingGET($next_page_token, $fields, $list_id = null, $lead_ids = null, $batch_size = null)
    {
        list($response) = $this->getLeadChangesUsingGETWithHttpInfo($next_page_token, $fields, $list_id, $lead_ids, $batch_size);
        return $response;
    }

    /**
     * Get Lead Changes
     *
     * @param  string $next_page_token Token representation of a datetime returned by the Get Paging Token endpoint.  This endpoint will return activities after this datetime (required)
     * @param  string[] $fields Comma-separated list of field names to return changes for.  Field names can be retrieved with the Describe Lead API. (required)
     * @param  int $list_id Id of a static list.  If set, will only return activities of members of this static list. (optional)
     * @param  int[] $lead_ids Comma-separated list of lead ids.  If set, will only return activities of the leads with these ids.  Allows up to 30 entries. (optional)
     * @param  int $batch_size Maximum number of records to return.  Maximum and default is 300. (optional)
     *
     * @throws \NecLimDul\MarketoRest\Lead\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \NecLimDul\MarketoRest\Lead\Model\ResponseOfLeadChange, HTTP status code, HTTP response headers (array of strings)
     */
    public function getLeadChangesUsingGETWithHttpInfo($next_page_token, $fields, $list_id = null, $lead_ids = null, $batch_size = null)
    {
        $request = $this->getLeadChangesUsingGETRequest($next_page_token, $fields, $list_id, $lead_ids, $batch_size);
        try {
            $response = $this->makeRequest($request);
            return $this->responseToReturn($response, '\NecLimDul\MarketoRest\Lead\Model\ResponseOfLeadChange');
        } catch (ApiException $e) {
            throw $this->getLeadChangesUsingGETHandleException($e);
        }
    }

    /**
     * Get Lead Changes
     *
     * @param  string $next_page_token Token representation of a datetime returned by the Get Paging Token endpoint.  This endpoint will return activities after this datetime (required)
     * @param  string[] $fields Comma-separated list of field names to return changes for.  Field names can be retrieved with the Describe Lead API. (required)
     * @param  int $list_id Id of a static list.  If set, will only return activities of members of this static list. (optional)
     * @param  int[] $lead_ids Comma-separated list of lead ids.  If set, will only return activities of the leads with these ids.  Allows up to 30 entries. (optional)
     * @param  int $batch_size Maximum number of records to return.  Maximum and default is 300. (optional)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getLeadChangesUsingGETAsync($next_page_token, $fields, $list_id = null, $lead_ids = null, $batch_size = null)
    {
        return $this->getLeadChangesUsingGETAsyncWithHttpInfo($next_page_token, $fields, $list_id, $lead_ids, $batch_size)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Get Lead Changes
     *
     * @param  string $next_page_token Token representation of a datetime returned by the Get Paging Token endpoint.  This endpoint will return activities after this datetime (required)
     * @param  string[] $fields Comma-separated list of field names to return changes for.  Field names can be retrieved with the Describe Lead API. (required)
     * @param  int $list_id Id of a static list.  If set, will only return activities of members of this static list. (optional)
     * @param  int[] $lead_ids Comma-separated list of lead ids.  If set, will only return activities of the leads with these ids.  Allows up to 30 entries. (optional)
     * @param  int $batch_size Maximum number of records to return.  Maximum and default is 300. (optional)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getLeadChangesUsingGETAsyncWithHttpInfo($next_page_token, $fields, $list_id = null, $lead_ids = null, $batch_size = null)
    {
        $request = $this->getLeadChangesUsingGETRequest($next_page_token, $fields, $list_id, $lead_ids, $batch_size);
        return $this->makeAsyncRequest($request, '\NecLimDul\MarketoRest\Lead\Model\ResponseOfLeadChange', [$this, 'getLeadChangesUsingGETHandleException']);
    }

    /**
     * Create request for operation 'getLeadChangesUsingGET'
     *
     * @param  string $next_page_token Token representation of a datetime returned by the Get Paging Token endpoint.  This endpoint will return activities after this datetime (required)
     * @param  string[] $fields Comma-separated list of field names to return changes for.  Field names can be retrieved with the Describe Lead API. (required)
     * @param  int $list_id Id of a static list.  If set, will only return activities of members of this static list. (optional)
     * @param  int[] $lead_ids Comma-separated list of lead ids.  If set, will only return activities of the leads with these ids.  Allows up to 30 entries. (optional)
     * @param  int $batch_size Maximum number of records to return.  Maximum and default is 300. (optional)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function getLeadChangesUsingGETRequest($next_page_token, $fields, $list_id = null, $lead_ids = null, $batch_size = null)
    {
        // Verify the required parameter 'next_page_token' is set.
        if (!isset($next_page_token)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $next_page_token when calling getLeadChangesUsingGET'
            );
        }
        // Verify the required parameter 'fields' is set.
        if (!isset($fields) || (is_array($fields) && empty($fields))) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $fields when calling getLeadChangesUsingGET'
            );
        }

        $resourcePath = '/rest/v1/activities/leadchanges.json';
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';

        // Query parameters.
        $queryParams['nextPageToken'] = ObjectSerializer::toQueryValue($next_page_token);
        $queryParams['fields'] = ObjectSerializer::toQueryValue($fields);
        $queryParams['listId'] = ObjectSerializer::toQueryValue($list_id);
        $queryParams['leadIds'] = ObjectSerializer::toQueryValue($lead_ids);
        $queryParams['batchSize'] = ObjectSerializer::toQueryValue($batch_size);
        // Remove any null (optional values).
        $queryParams = array_filter($queryParams, function($v) { return $v !== null; });
        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            ['application/json']
        );


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $query = Query::build($queryParams);
        return new Request(
            'GET',
            $this->config->getHost() . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Exception handler for updateCustomActivityTypeAttributesUsingPOST.
     *
     * @param \NecLimDul\MarketoRest\Lead\ApiException $e Unprocessed exception.
     *
     * @return \NecLimDul\MarketoRest\Lead\ApiException Processed exception.
     */
    protected function updateCustomActivityTypeAttributesUsingPOSTHandleException(ApiException $e)
    {
        switch ($e->getCode()) {
            case 200:
                $e->setResponseObject(
                    $this->deserializeResponseBody(
                        $e->getResponseBody(),
                        '\NecLimDul\MarketoRest\Lead\Model\ResponseOfCustomActivityType',
                        $e->getResponseHeaders()
                    )
                );
                break;
        }
        return $e;
    }

    /**
     * Update Custom Activity Type Attributes
     *
     * @param  string $api_name API Name of the activity type (required)
     * @param  \NecLimDul\MarketoRest\Lead\Model\CustomActivityTypeAttributeRequest $custom_activity_type_attribute_request customActivityTypeAttributeRequest (required)
     *
     * @throws \NecLimDul\MarketoRest\Lead\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \NecLimDul\MarketoRest\Lead\Model\ResponseOfCustomActivityType
     */
    public function updateCustomActivityTypeAttributesUsingPOST($api_name, $custom_activity_type_attribute_request)
    {
        list($response) = $this->updateCustomActivityTypeAttributesUsingPOSTWithHttpInfo($api_name, $custom_activity_type_attribute_request);
        return $response;
    }

    /**
     * Update Custom Activity Type Attributes
     *
     * @param  string $api_name API Name of the activity type (required)
     * @param  \NecLimDul\MarketoRest\Lead\Model\CustomActivityTypeAttributeRequest $custom_activity_type_attribute_request customActivityTypeAttributeRequest (required)
     *
     * @throws \NecLimDul\MarketoRest\Lead\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \NecLimDul\MarketoRest\Lead\Model\ResponseOfCustomActivityType, HTTP status code, HTTP response headers (array of strings)
     */
    public function updateCustomActivityTypeAttributesUsingPOSTWithHttpInfo($api_name, $custom_activity_type_attribute_request)
    {
        $request = $this->updateCustomActivityTypeAttributesUsingPOSTRequest($api_name, $custom_activity_type_attribute_request);
        try {
            $response = $this->makeRequest($request);
            return $this->responseToReturn($response, '\NecLimDul\MarketoRest\Lead\Model\ResponseOfCustomActivityType');
        } catch (ApiException $e) {
            throw $this->updateCustomActivityTypeAttributesUsingPOSTHandleException($e);
        }
    }

    /**
     * Update Custom Activity Type Attributes
     *
     * @param  string $api_name API Name of the activity type (required)
     * @param  \NecLimDul\MarketoRest\Lead\Model\CustomActivityTypeAttributeRequest $custom_activity_type_attribute_request customActivityTypeAttributeRequest (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function updateCustomActivityTypeAttributesUsingPOSTAsync($api_name, $custom_activity_type_attribute_request)
    {
        return $this->updateCustomActivityTypeAttributesUsingPOSTAsyncWithHttpInfo($api_name, $custom_activity_type_attribute_request)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Update Custom Activity Type Attributes
     *
     * @param  string $api_name API Name of the activity type (required)
     * @param  \NecLimDul\MarketoRest\Lead\Model\CustomActivityTypeAttributeRequest $custom_activity_type_attribute_request customActivityTypeAttributeRequest (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function updateCustomActivityTypeAttributesUsingPOSTAsyncWithHttpInfo($api_name, $custom_activity_type_attribute_request)
    {
        $request = $this->updateCustomActivityTypeAttributesUsingPOSTRequest($api_name, $custom_activity_type_attribute_request);
        return $this->makeAsyncRequest($request, '\NecLimDul\MarketoRest\Lead\Model\ResponseOfCustomActivityType', [$this, 'updateCustomActivityTypeAttributesUsingPOSTHandleException']);
    }

    /**
     * Create request for operation 'updateCustomActivityTypeAttributesUsingPOST'
     *
     * @param  string $api_name API Name of the activity type (required)
     * @param  \NecLimDul\MarketoRest\Lead\Model\CustomActivityTypeAttributeRequest $custom_activity_type_attribute_request customActivityTypeAttributeRequest (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function updateCustomActivityTypeAttributesUsingPOSTRequest($api_name, $custom_activity_type_attribute_request)
    {
        // Verify the required parameter 'api_name' is set.
        if (!isset($api_name)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $api_name when calling updateCustomActivityTypeAttributesUsingPOST'
            );
        }
        // Verify the required parameter 'custom_activity_type_attribute_request' is set.
        if (!isset($custom_activity_type_attribute_request)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $custom_activity_type_attribute_request when calling updateCustomActivityTypeAttributesUsingPOST'
            );
        }

        $resourcePath = '/rest/v1/activities/external/type/{apiName}/attributes/update.json';
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';

        // Path parameters.
        $resourcePath = str_replace(
            '{' . 'apiName' . '}',
            ObjectSerializer::toPathValue($api_name),
            $resourcePath
        );
        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            ['application/json']
        );
        if ($headers['Content-Type'] === 'application/json') {
          $httpBody = \GuzzleHttp\json_encode(ObjectSerializer::sanitizeForSerialization($custom_activity_type_attribute_request));
        } elseif (!is_array($custom_activity_type_attribute_request)) {
          $httpBody = (string) $custom_activity_type_attribute_request;
        }
        else {
          $httpBody = '';
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $query = Query::build($queryParams);
        return new Request(
            'POST',
            $this->config->getHost() . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Exception handler for updateCustomActivityTypeUsingPOST.
     *
     * @param \NecLimDul\MarketoRest\Lead\ApiException $e Unprocessed exception.
     *
     * @return \NecLimDul\MarketoRest\Lead\ApiException Processed exception.
     */
    protected function updateCustomActivityTypeUsingPOSTHandleException(ApiException $e)
    {
        switch ($e->getCode()) {
            case 200:
                $e->setResponseObject(
                    $this->deserializeResponseBody(
                        $e->getResponseBody(),
                        '\NecLimDul\MarketoRest\Lead\Model\ResponseOfCustomActivityType',
                        $e->getResponseHeaders()
                    )
                );
                break;
        }
        return $e;
    }

    /**
     * Update Custom Activity Type
     *
     * @param  string $api_name API Name of the activity type (required)
     * @param  \NecLimDul\MarketoRest\Lead\Model\CustomActivityTypeRequest $custom_activity_type_request customActivityTypeRequest (required)
     *
     * @throws \NecLimDul\MarketoRest\Lead\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \NecLimDul\MarketoRest\Lead\Model\ResponseOfCustomActivityType
     */
    public function updateCustomActivityTypeUsingPOST($api_name, $custom_activity_type_request)
    {
        list($response) = $this->updateCustomActivityTypeUsingPOSTWithHttpInfo($api_name, $custom_activity_type_request);
        return $response;
    }

    /**
     * Update Custom Activity Type
     *
     * @param  string $api_name API Name of the activity type (required)
     * @param  \NecLimDul\MarketoRest\Lead\Model\CustomActivityTypeRequest $custom_activity_type_request customActivityTypeRequest (required)
     *
     * @throws \NecLimDul\MarketoRest\Lead\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \NecLimDul\MarketoRest\Lead\Model\ResponseOfCustomActivityType, HTTP status code, HTTP response headers (array of strings)
     */
    public function updateCustomActivityTypeUsingPOSTWithHttpInfo($api_name, $custom_activity_type_request)
    {
        $request = $this->updateCustomActivityTypeUsingPOSTRequest($api_name, $custom_activity_type_request);
        try {
            $response = $this->makeRequest($request);
            return $this->responseToReturn($response, '\NecLimDul\MarketoRest\Lead\Model\ResponseOfCustomActivityType');
        } catch (ApiException $e) {
            throw $this->updateCustomActivityTypeUsingPOSTHandleException($e);
        }
    }

    /**
     * Update Custom Activity Type
     *
     * @param  string $api_name API Name of the activity type (required)
     * @param  \NecLimDul\MarketoRest\Lead\Model\CustomActivityTypeRequest $custom_activity_type_request customActivityTypeRequest (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function updateCustomActivityTypeUsingPOSTAsync($api_name, $custom_activity_type_request)
    {
        return $this->updateCustomActivityTypeUsingPOSTAsyncWithHttpInfo($api_name, $custom_activity_type_request)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Update Custom Activity Type
     *
     * @param  string $api_name API Name of the activity type (required)
     * @param  \NecLimDul\MarketoRest\Lead\Model\CustomActivityTypeRequest $custom_activity_type_request customActivityTypeRequest (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function updateCustomActivityTypeUsingPOSTAsyncWithHttpInfo($api_name, $custom_activity_type_request)
    {
        $request = $this->updateCustomActivityTypeUsingPOSTRequest($api_name, $custom_activity_type_request);
        return $this->makeAsyncRequest($request, '\NecLimDul\MarketoRest\Lead\Model\ResponseOfCustomActivityType', [$this, 'updateCustomActivityTypeUsingPOSTHandleException']);
    }

    /**
     * Create request for operation 'updateCustomActivityTypeUsingPOST'
     *
     * @param  string $api_name API Name of the activity type (required)
     * @param  \NecLimDul\MarketoRest\Lead\Model\CustomActivityTypeRequest $custom_activity_type_request customActivityTypeRequest (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function updateCustomActivityTypeUsingPOSTRequest($api_name, $custom_activity_type_request)
    {
        // Verify the required parameter 'api_name' is set.
        if (!isset($api_name)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $api_name when calling updateCustomActivityTypeUsingPOST'
            );
        }
        // Verify the required parameter 'custom_activity_type_request' is set.
        if (!isset($custom_activity_type_request)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $custom_activity_type_request when calling updateCustomActivityTypeUsingPOST'
            );
        }

        $resourcePath = '/rest/v1/activities/external/type/{apiName}.json';
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';

        // Path parameters.
[...]
