<?php

/**
 * BulkExportActivitiesApi class file.
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

declare(strict_types=1);

namespace NecLimDul\MarketoRest\Lead\Api;

// Library Includes
use GuzzleHttp\Client as GuzzleClient;
use GuzzleHttp\ClientInterface;
use GuzzleHttp\Psr7\HttpFactory;
use Neclimdul\OpenapiPhp\Helper\Client;
use Neclimdul\OpenapiPhp\Helper\RequestFactory;
use Neclimdul\OpenapiPhp\Helper\Response\ApiResponseInterface;
use Neclimdul\OpenapiPhp\Helper\Response\ResponseTypeMap;
// Package Includes
use NecLimDul\MarketoRest\Lead\Configuration;
use NecLimDul\MarketoRest\Lead\HeaderSelector;
use NecLimDul\MarketoRest\Lead\ObjectSerializer;

/**
 * BulkExportActivitiesApi
 *
 * The version of the OpenAPI document: 1.0
 * Contact: 
 * Generated by: https://openapi-generator.tech
 * OpenAPI Generator version: 7.13.0
 *
 * @category Class
 * @package  NecLimDul\MarketoRest\Lead
 * @author   OpenAPI Generator team
 * @link     https://openapi-generator.tech
 */
class BulkExportActivitiesApi
{
    protected Configuration $config;

    protected HeaderSelector $headerSelector;

    protected int $hostIndex;

    /**
     * @var \Neclimdul\OpenapiPhp\Helper\Client
     */
    private Client $client;

    /**
     * @var \Neclimdul\OpenapiPhp\Helper\RequestFactory<\NecLimDul\MarketoRest\Lead\Model\ModelInterface>
     */
    private RequestFactory $requestFactory;

    /**
     * @param (\GuzzleHttp\ClientInterface&\Psr\Http\Client\ClientInterface)|null $client
     * @param Configuration|null $config
     * @param HeaderSelector|null $selector
     * @param int $hostIndex
     *   (Optional) Host index to select the list of hosts if defined in the spec.
     */
    public function __construct(
        ?ClientInterface $client = null,
        ?Configuration $config = null,
        ?HeaderSelector $selector = null,
        int $hostIndex = 0
    ) {
        $this->config = $config ?: new Configuration();
        $this->headerSelector = $selector ?: new HeaderSelector();
        $this->hostIndex = $hostIndex;
        // TODO Inject me.
        $this->client = new Client(
            $client ?: new GuzzleClient(),
            ObjectSerializer::getDefaultSerializer()->getDeserializer(),
        );
        // TODO Inject me.
        $this->requestFactory = new RequestFactory(
            new HttpFactory(),
            ObjectSerializer::getDefaultSerializer()->getSerializer(),
        );
    }

    /**
     * Set the host index.
     *
     * @param int $hostIndex
     *   Host index (required).
     */
    public function setHostIndex(int $hostIndex): void
    {
        $this->hostIndex = $hostIndex;
    }

    /**
     * Get the host index.
     */
    public function getHostIndex(): int
    {
        return $this->hostIndex;
    }

    /**
     * Get current configuration.
     */
    public function getConfig(): Configuration
    {
        return $this->config;
    }

    /**
     * Cancel Export Activity Job
     *
     * @param string $export_id
     *   Id of export batch job.
     * @param bool $async
     *   Set to true to make an async request.
     *
     * @throws \InvalidArgumentException
     * @return \Neclimdul\OpenapiPhp\Helper\Response\ApiResponseInterface
     */
    public function cancelExportActivitiesUsingPOST(
        string $export_id,
        bool $async = false,
    ): ApiResponseInterface {
        $resourcePath = str_replace(
            [
                '{' . 'exportId' . '}',
            ],
            [
                ObjectSerializer::toPathValue($export_id),
            ],
            '/bulk/v1/activities/export/{exportId}/cancel.json',
        );
        $headers = [];
        if ($this->config->getUserAgent()) {
            $headers['User-Agent'] = $this->config->getUserAgent();
        }
        $headers = array_merge($headers, $this->headerSelector->selectHeaders(
            ['application/json'],
            [],
        ));
        $operationHost = $this->config->getHost();

        $responseMap = new ResponseTypeMap([]);
        $responseMap->setSchema('200', 'application/json', ['type' => '\NecLimDul\MarketoRest\Lead\Model\ResponseOfExportResponse']);
        // TODO figure out header select logic.
        return $this->client->makeRequest(
            $this->requestFactory->createRequest(
                'POST',
                $operationHost . $resourcePath,
                // Query.
                [
                ],
                $headers,
                [],
                '',
            ),
            $responseMap,
            async: $async,
        );
    }

    /**
     * Create Export Activity Job
     *
     * @param \NecLimDul\MarketoRest\Lead\Model\ExportActivityRequest|null $export_activity_request
     *   exportActivityRequest<br><br>ColumnHeaderNames: A JSON object containing key-value pairs of field and column header names.<br><br>Example:<br><code>\"columnHeaderNames\":{<br>  \"primaryAttributeValueId\":\"Attribute ID\",<br>  \"primaryAttributeValue\":\"Attribute Value\",<br>  \"attributes\":\"Secondary Attributes\"<br>}</code><br>
     * @param bool $async
     *   Set to true to make an async request.
     *
     * @throws \InvalidArgumentException
     * @return \Neclimdul\OpenapiPhp\Helper\Response\ApiResponseInterface
     */
    public function createExportActivitiesUsingPOST(
        null|\NecLimDul\MarketoRest\Lead\Model\ExportActivityRequest $export_activity_request = null,
        bool $async = false,
    ): ApiResponseInterface {
        $resourcePath = '/bulk/v1/activities/export/create.json';
        $headers = [];
        if ($this->config->getUserAgent()) {
            $headers['User-Agent'] = $this->config->getUserAgent();
        }
        $headers = array_merge($headers, $this->headerSelector->selectHeaders(
            ['application/json'],
            ['application/json'],
        ));
        $operationHost = $this->config->getHost();

        $responseMap = new ResponseTypeMap([]);
        $responseMap->setSchema('200', 'application/json', ['type' => '\NecLimDul\MarketoRest\Lead\Model\ResponseOfExportResponse']);
        // TODO figure out header select logic.
        return $this->client->makeRequest(
            $this->requestFactory->createRequest(
                'POST',
                $operationHost . $resourcePath,
                // Query.
                [
                ],
                $headers,
                [],
                $export_activity_request,
            ),
            $responseMap,
            async: $async,
        );
    }

    /**
     * Enqueue Export Activity Job
     *
     * @param string $export_id
     *   Id of export batch job.
     * @param bool $async
     *   Set to true to make an async request.
     *
     * @throws \InvalidArgumentException
     * @return \Neclimdul\OpenapiPhp\Helper\Response\ApiResponseInterface
     */
    public function enqueueExportActivitiesUsingPOST(
        string $export_id,
        bool $async = false,
    ): ApiResponseInterface {
        $resourcePath = str_replace(
            [
                '{' . 'exportId' . '}',
            ],
            [
                ObjectSerializer::toPathValue($export_id),
            ],
            '/bulk/v1/activities/export/{exportId}/enqueue.json',
        );
        $headers = [];
        if ($this->config->getUserAgent()) {
            $headers['User-Agent'] = $this->config->getUserAgent();
        }
        $headers = array_merge($headers, $this->headerSelector->selectHeaders(
            ['application/json'],
            [],
        ));
        $operationHost = $this->config->getHost();

        $responseMap = new ResponseTypeMap([]);
        $responseMap->setSchema('200', 'application/json', ['type' => '\NecLimDul\MarketoRest\Lead\Model\ResponseOfExportResponse']);
        // TODO figure out header select logic.
        return $this->client->makeRequest(
            $this->requestFactory->createRequest(
                'POST',
                $operationHost . $resourcePath,
                // Query.
                [
                ],
                $headers,
                [],
                '',
            ),
            $responseMap,
            async: $async,
        );
    }

    /**
     * Get Export Activity File
     *
     * @param string $export_id
     *   Id of export batch job.
     * @param string|null $range
     *   To support partial retrieval of extracted data, the HTTP header \"Range\" of type \"bytes\" may be specified. See RFC 2616 \"Range Retrieval Requests\" for more information. If the header is not set, the entire contents will be returned.
     * @param bool $async
     *   Set to true to make an async request.
     *
     * @throws \InvalidArgumentException
     * @return \Neclimdul\OpenapiPhp\Helper\Response\ApiResponseInterface
     */
    public function getExportActivitiesFileUsingGET(
        string $export_id,
        null|string $range = null,
        bool $async = false,
    ): ApiResponseInterface {
        $resourcePath = str_replace(
            [
                '{' . 'exportId' . '}',
            ],
            [
                ObjectSerializer::toPathValue($export_id),
            ],
            '/bulk/v1/activities/export/{exportId}/file.json',
        );
        $headers = [];
        if ($this->config->getUserAgent()) {
            $headers['User-Agent'] = $this->config->getUserAgent();
        }
        $headers = array_merge($headers, $this->headerSelector->selectHeaders(
            ['application/json'],
            [],
        ));
        $operationHost = $this->config->getHost();

        $responseMap = new ResponseTypeMap([]);
        $responseMap->setSchema('200', 'application/json', ['type' => 'object']);
        // TODO figure out header select logic.
        return $this->client->makeRequest(
            $this->requestFactory->createRequest(
                'GET',
                $operationHost . $resourcePath,
                // Query.
                [
                ],
                array_merge(
                    [
                        'Range' => isset($range) ? ObjectSerializer::toHeaderValue($range) : null,
                    ],
                    $headers
                ),
                [],
                '',
            ),
            $responseMap,
            async: $async,
        );
    }

    /**
     * Get Export Activity Job Status
     *
     * @param string $export_id
     *   Id of export batch job.
     * @param bool $async
     *   Set to true to make an async request.
     *
     * @throws \InvalidArgumentException
     * @return \Neclimdul\OpenapiPhp\Helper\Response\ApiResponseInterface
     */
    public function getExportActivitiesStatusUsingGET(
        string $export_id,
        bool $async = false,
    ): ApiResponseInterface {
        $resourcePath = str_replace(
            [
                '{' . 'exportId' . '}',
            ],
            [
                ObjectSerializer::toPathValue($export_id),
            ],
            '/bulk/v1/activities/export/{exportId}/status.json',
        );
        $headers = [];
        if ($this->config->getUserAgent()) {
            $headers['User-Agent'] = $this->config->getUserAgent();
        }
        $headers = array_merge($headers, $this->headerSelector->selectHeaders(
            ['application/json'],
            [],
        ));
        $operationHost = $this->config->getHost();

        $responseMap = new ResponseTypeMap([]);
        $responseMap->setSchema('200', 'application/json', ['type' => '\NecLimDul\MarketoRest\Lead\Model\ResponseOfExportResponse']);
        // TODO figure out header select logic.
        return $this->client->makeRequest(
            $this->requestFactory->createRequest(
                'GET',
                $operationHost . $resourcePath,
                // Query.
                [
                ],
                $headers,
                [],
                '',
            ),
            $responseMap,
            async: $async,
        );
    }

    /**
     * Get Export Activity Jobs
     *
     * @param string[]|null $status
     *   Comma separated list of statuses to filter on.
     * @param int|null $batch_size
     *   The batch size to return. The max and default value is 300.
     * @param string|null $next_page_token
     *   A token will be returned by this endpoint if the result set is greater than the batch size and can be passed in a subsequent call through this parameter. See Paging Tokens for more info.
     * @param bool $async
     *   Set to true to make an async request.
     *
     * @throws \InvalidArgumentException
     * @return \Neclimdul\OpenapiPhp\Helper\Response\ApiResponseInterface
     */
    public function getExportActivitiesUsingGET(
        null|array $status = null,
        null|int $batch_size = null,
        null|string $next_page_token = null,
        bool $async = false,
    ): ApiResponseInterface {
        $resourcePath = '/bulk/v1/activities/export.json';
        $headers = [];
        if ($this->config->getUserAgent()) {
            $headers['User-Agent'] = $this->config->getUserAgent();
        }
        $headers = array_merge($headers, $this->headerSelector->selectHeaders(
            ['application/json'],
            [],
        ));
        $operationHost = $this->config->getHost();

        $responseMap = new ResponseTypeMap([]);
        $responseMap->setSchema('200', 'application/json', ['type' => '\NecLimDul\MarketoRest\Lead\Model\ResponseOfExportResponseWithToken']);
        // TODO figure out header select logic.
        return $this->client->makeRequest(
            $this->requestFactory->createRequest(
                'GET',
                $operationHost . $resourcePath,
                // Query.
                [
                    'status' => isset($status) ? ObjectSerializer::serializeCollection($status, 'multi') : null,
                    'batchSize' => isset($batch_size) ? ObjectSerializer::toQueryValue($batch_size) : null,
                    'nextPageToken' => isset($next_page_token) ? ObjectSerializer::toQueryValue($next_page_token) : null,
                ],
                $headers,
                [],
                '',
            ),
            $responseMap,
            async: $async,
        );
    }
}
