<?php

/**
 * BulkExportLeadsApi class file.
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

declare(strict_types=1);

namespace NecLimDul\MarketoRest\Lead\Api;

// Library Includes
use GuzzleHttp\Client as GuzzleClient;
use GuzzleHttp\ClientInterface;
use GuzzleHttp\Psr7\HttpFactory;
use Neclimdul\OpenapiPhp\Helper\Client;
use Neclimdul\OpenapiPhp\Helper\RequestFactory;
use Neclimdul\OpenapiPhp\Helper\Response\ApiResponseInterface;
use Neclimdul\OpenapiPhp\Helper\Response\ResponseTypeMap;
use Neclimdul\OpenapiPhp\Helper\Serialization\DeserializerInterface;
use Neclimdul\OpenapiPhp\Helper\Serialization\SerializerInterface;
// Package Includes
use NecLimDul\MarketoRest\Lead\Configuration;
use NecLimDul\MarketoRest\Lead\HeaderSelector;
use NecLimDul\MarketoRest\Lead\ObjectSerializer;

/**
 * BulkExportLeadsApi
 *
 * The version of the OpenAPI document: 1.0
 * Contact:
 * Generated by: https://openapi-generator.tech
 * OpenAPI Generator version: 7.18.0
 *
 * @category Class
 * @package  NecLimDul\MarketoRest\Lead
 * @author   OpenAPI Generator team
 * @link     https://openapi-generator.tech
 */
readonly class BulkExportLeadsApi
{
    /**
     * @param Configuration $config
     *   API Configuration.
     * @param \Neclimdul\OpenapiPhp\Helper\Client $client
     *   Request client.
     * @param \Neclimdul\OpenapiPhp\Helper\RequestFactory<\NecLimDul\MarketoRest\Lead\Model\ModelInterface> $requestFactory
     *   Request factory.
     * @param \Neclimdul\OpenapiPhp\Helper\Serialization\SerializerInterface<\NecLimDul\MarketoRest\Lead\Model\ModelInterface> $serializer
     *   Serialization service.
     */
    public function __construct(
        public Configuration $config,
        private Client $client,
        private RequestFactory $requestFactory,
        private SerializerInterface $serializer,
    ) {
    }

    /**
     * @param (\GuzzleHttp\ClientInterface&\Psr\Http\Client\ClientInterface)|null $client
     *   Request client.
     * @param Configuration|null $config
     *   API Configuration.
     * @param HeaderSelector|null $selector
     *   HeaderSelect helper.
     * @param \Neclimdul\OpenapiPhp\Helper\Serialization\SerializerInterface<\NecLimDul\MarketoRest\Lead\Model\ModelInterface>|null $serializer
     *   Serialization service.
     * @param \Neclimdul\OpenapiPhp\Helper\Serialization\DeserializerInterface|null $deserializer
     *   Deserialization service.
     */
    public static function create(
        ?ClientInterface $client = null,
        ?Configuration $config = null,
        ?HeaderSelector $selector = null,
        ?SerializerInterface $serializer = null,
        ?DeserializerInterface $deserializer = null,
    ): self {
        $serializer = $serializer ?: ObjectSerializer::getDefaultSerializer();
        return new self(
            $config ?: new Configuration(),
            new Client(
                $client ?: new GuzzleClient(),
                $deserializer ?: ObjectSerializer::getDefaultDeserializer(),
            ),
            new RequestFactory(
                new HttpFactory(),
                $serializer,
            ),
            $serializer,
        );
    }

    /**
     * Get current configuration.
     */
    public function getConfig(): Configuration
    {
        return $this->config;
    }

    /**
     * Cancel Export Lead Job
     *
     * @param string $export_id
     *   Id of export batch job.
     * @param bool $async
     *   Set to true to make an async request.
     *
     * @throws \InvalidArgumentException
     * @return \Neclimdul\OpenapiPhp\Helper\Response\ApiResponseInterface
     */
    public function cancelExportLeadsUsingPOST(
        string $export_id,
        bool $async = false,
    ): ApiResponseInterface {
        $resourcePath = str_replace(
            [
                '{' . 'exportId' . '}',
            ],
            [
                $this->serializer->toPathValue($export_id),
            ],
            '/bulk/v1/leads/export/{exportId}/cancel.json',
        );
        $headers = [];
        if ($this->config->getUserAgent()) {
            $headers['User-Agent'] = $this->config->getUserAgent();
        }

        $responseMap = new ResponseTypeMap([]);
        $responseMap->setSchema('200', 'application/json', ['type' => '\NecLimDul\MarketoRest\Lead\Model\ResponseOfExportResponse']);

        $request = $this->requestFactory->createRequest(
            'POST',
            $this->config->getHost() . $resourcePath,
            // Query.
            [],
            $headers,
            [],
            '',
        );
        $request = $this->requestFactory->attachAcceptHeader(
            $request,
            ['application/json'],
            [],
        );

        return $this->client->makeRequest(
            $request,
            $responseMap,
            async: $async,
        );
    }

    /**
     * Create Export Lead Job
     *
     * @param \NecLimDul\MarketoRest\Lead\Model\ExportLeadRequest|null $export_lead_request
     *   exportLeadRequest<br><br>ColumnHeaderNames: A JSON object containing key-value pairs of field and column header names.<br><br>Example:<br><code>\"columnHeaderNames\":{<br>  \"firstName\":\"First Name\",<br>  \"lastName\":\"Last Name\",<br>  \"email\":\"Email Address\"<br>}</code><br>
     * @param bool $async
     *   Set to true to make an async request.
     *
     * @throws \InvalidArgumentException
     * @return \Neclimdul\OpenapiPhp\Helper\Response\ApiResponseInterface
     */
    public function createExportLeadsUsingPOST(
        null|\NecLimDul\MarketoRest\Lead\Model\ExportLeadRequest $export_lead_request = null,
        bool $async = false,
    ): ApiResponseInterface {
        $resourcePath = '/bulk/v1/leads/export/create.json';
        $headers = [];
        if ($this->config->getUserAgent()) {
            $headers['User-Agent'] = $this->config->getUserAgent();
        }

        $responseMap = new ResponseTypeMap([]);
        $responseMap->setSchema('200', 'application/json', ['type' => '\NecLimDul\MarketoRest\Lead\Model\ResponseOfExportResponse']);

        $request = $this->requestFactory->createRequest(
            'POST',
            $this->config->getHost() . $resourcePath,
            // Query.
            [],
            $headers,
            [],
            $export_lead_request,
        );
        $request = $this->requestFactory->attachAcceptHeader(
            $request,
            ['application/json'],
            ['application/json'],
        );

        return $this->client->makeRequest(
            $request,
            $responseMap,
            async: $async,
        );
    }

    /**
     * Enqueue Export Lead Job
     *
     * @param string $export_id
     *   Id of export batch job.
     * @param bool $async
     *   Set to true to make an async request.
     *
     * @throws \InvalidArgumentException
     * @return \Neclimdul\OpenapiPhp\Helper\Response\ApiResponseInterface
     */
    public function enqueueExportLeadsUsingPOST(
        string $export_id,
        bool $async = false,
    ): ApiResponseInterface {
        $resourcePath = str_replace(
            [
                '{' . 'exportId' . '}',
            ],
            [
                $this->serializer->toPathValue($export_id),
            ],
            '/bulk/v1/leads/export/{exportId}/enqueue.json',
        );
        $headers = [];
        if ($this->config->getUserAgent()) {
            $headers['User-Agent'] = $this->config->getUserAgent();
        }

        $responseMap = new ResponseTypeMap([]);
        $responseMap->setSchema('200', 'application/json', ['type' => '\NecLimDul\MarketoRest\Lead\Model\ResponseOfExportResponse']);

        $request = $this->requestFactory->createRequest(
            'POST',
            $this->config->getHost() . $resourcePath,
            // Query.
            [],
            $headers,
            [],
            '',
        );
        $request = $this->requestFactory->attachAcceptHeader(
            $request,
            ['application/json'],
            [],
        );

        return $this->client->makeRequest(
            $request,
            $responseMap,
            async: $async,
        );
    }

    /**
     * Get Export Lead File
     *
     * @param string $export_id
     *   Id of export batch job.
     * @param string|null $range
     *   To support partial retrieval of extracted data, the HTTP header \"Range\" of type \"bytes\" may be specified. See RFC 2616 \"Range Retrieval Requests\" for more information. If the header is not set, the entire contents will be returned.
     * @param bool $async
     *   Set to true to make an async request.
     *
     * @throws \InvalidArgumentException
     * @return \Neclimdul\OpenapiPhp\Helper\Response\ApiResponseInterface
     */
    public function getExportLeadsFileUsingGET(
        string $export_id,
        null|string $range = null,
        bool $async = false,
    ): ApiResponseInterface {
        $resourcePath = str_replace(
            [
                '{' . 'exportId' . '}',
            ],
            [
                $this->serializer->toPathValue($export_id),
            ],
            '/bulk/v1/leads/export/{exportId}/file.json',
        );
        $headers = [];
        if ($this->config->getUserAgent()) {
            $headers['User-Agent'] = $this->config->getUserAgent();
        }

        $responseMap = new ResponseTypeMap([]);
        $responseMap->setSchema('200', 'application/json', ['type' => 'object']);

        $request = $this->requestFactory->createRequest(
            'GET',
            $this->config->getHost() . $resourcePath,
            // Query.
            [
            ],
            array_merge(
                [
                    'Range' => isset($range) ? $this->serializer->toHeaderValue($range) : null,
                ],
                $headers
            ),
            [],
            '',
        );
        $request = $this->requestFactory->attachAcceptHeader(
            $request,
            ['application/json'],
            [],
        );

        return $this->client->makeRequest(
            $request,
            $responseMap,
            async: $async,
        );
    }

    /**
     * Get Export Lead Job Status
     *
     * @param string $export_id
     *   Id of export batch job.
     * @param bool $async
     *   Set to true to make an async request.
     *
     * @throws \InvalidArgumentException
     * @return \Neclimdul\OpenapiPhp\Helper\Response\ApiResponseInterface
     */
    public function getExportLeadsStatusUsingGET(
        string $export_id,
        bool $async = false,
    ): ApiResponseInterface {
        $resourcePath = str_replace(
            [
                '{' . 'exportId' . '}',
            ],
            [
                $this->serializer->toPathValue($export_id),
            ],
            '/bulk/v1/leads/export/{exportId}/status.json',
        );
        $headers = [];
        if ($this->config->getUserAgent()) {
            $headers['User-Agent'] = $this->config->getUserAgent();
        }

        $responseMap = new ResponseTypeMap([]);
        $responseMap->setSchema('200', 'application/json', ['type' => '\NecLimDul\MarketoRest\Lead\Model\ResponseOfExportResponse']);

        $request = $this->requestFactory->createRequest(
            'GET',
            $this->config->getHost() . $resourcePath,
            // Query.
            [],
            $headers,
            [],
            '',
        );
        $request = $this->requestFactory->attachAcceptHeader(
            $request,
            ['application/json'],
            [],
        );

        return $this->client->makeRequest(
            $request,
            $responseMap,
            async: $async,
        );
    }

    /**
     * Get Export Lead Jobs
     *
     * @param string[]|null $status
     *   Comma separated list of statuses to filter on.
     * @param int|null $batch_size
     *   The batch size to return. The max and default value is 300.
     * @param string|null $next_page_token
     *   A token will be returned by this endpoint if the result set is greater than the batch size and can be passed in a subsequent call through this parameter. See Paging Tokens for more info.
     * @param bool $async
     *   Set to true to make an async request.
     *
     * @throws \InvalidArgumentException
     * @return \Neclimdul\OpenapiPhp\Helper\Response\ApiResponseInterface
     */
    public function getExportLeadsUsingGET(
        null|array $status = null,
        null|int $batch_size = null,
        null|string $next_page_token = null,
        bool $async = false,
    ): ApiResponseInterface {
        $resourcePath = '/bulk/v1/leads/export.json';
        $headers = [];
        if ($this->config->getUserAgent()) {
            $headers['User-Agent'] = $this->config->getUserAgent();
        }

        $responseMap = new ResponseTypeMap([]);
        $responseMap->setSchema('200', 'application/json', ['type' => '\NecLimDul\MarketoRest\Lead\Model\ResponseOfExportResponseWithToken']);

        $request = $this->requestFactory->createRequest(
            'GET',
            $this->config->getHost() . $resourcePath,
            // Query.
            [],
            $headers,
            [],
            '',
        );
        $request = $this->requestFactory->attachAcceptHeader(
            $request,
            ['application/json'],
            [],
        );

        return $this->client->makeRequest(
            $request,
            $responseMap,
            async: $async,
        );
    }
}
