<?php

/**
 * CampaignsApi class file.
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

declare(strict_types=1);

namespace NecLimDul\MarketoRest\Lead\Api;

// Library Includes
use GuzzleHttp\Client as GuzzleClient;
use GuzzleHttp\ClientInterface;
use GuzzleHttp\Psr7\HttpFactory;
use Neclimdul\OpenapiPhp\Helper\Client;
use Neclimdul\OpenapiPhp\Helper\RequestFactory;
use Neclimdul\OpenapiPhp\Helper\Response\ApiResponseInterface;
use Neclimdul\OpenapiPhp\Helper\Response\ResponseTypeMap;
// Package Includes
use NecLimDul\MarketoRest\Lead\Configuration;
use NecLimDul\MarketoRest\Lead\HeaderSelector;
use NecLimDul\MarketoRest\Lead\ObjectSerializer;

/**
 * CampaignsApi
 *
 * The version of the OpenAPI document: 1.0
 * Contact: 
 * Generated by: https://openapi-generator.tech
 * OpenAPI Generator version: 7.13.0
 *
 * @category Class
 * @package  NecLimDul\MarketoRest\Lead
 * @author   OpenAPI Generator team
 * @link     https://openapi-generator.tech
 */
class CampaignsApi
{
    protected Configuration $config;

    protected HeaderSelector $headerSelector;

    protected int $hostIndex;

    /**
     * @var \Neclimdul\OpenapiPhp\Helper\Client
     */
    private Client $client;

    /**
     * @var \Neclimdul\OpenapiPhp\Helper\RequestFactory<\NecLimDul\MarketoRest\Lead\Model\ModelInterface>
     */
    private RequestFactory $requestFactory;

    /**
     * @param (\GuzzleHttp\ClientInterface&\Psr\Http\Client\ClientInterface)|null $client
     * @param Configuration|null $config
     * @param HeaderSelector|null $selector
     * @param int $hostIndex
     *   (Optional) Host index to select the list of hosts if defined in the spec.
     */
    public function __construct(
        ?ClientInterface $client = null,
        ?Configuration $config = null,
        ?HeaderSelector $selector = null,
        int $hostIndex = 0
    ) {
        $this->config = $config ?: new Configuration();
        $this->headerSelector = $selector ?: new HeaderSelector();
        $this->hostIndex = $hostIndex;
        // TODO Inject me.
        $this->client = new Client(
            $client ?: new GuzzleClient(),
            ObjectSerializer::getDefaultSerializer()->getDeserializer(),
        );
        // TODO Inject me.
        $this->requestFactory = new RequestFactory(
            new HttpFactory(),
            ObjectSerializer::getDefaultSerializer()->getSerializer(),
        );
    }

    /**
     * Set the host index.
     *
     * @param int $hostIndex
     *   Host index (required).
     */
    public function setHostIndex(int $hostIndex): void
    {
        $this->hostIndex = $hostIndex;
    }

    /**
     * Get the host index.
     */
    public function getHostIndex(): int
    {
        return $this->hostIndex;
    }

    /**
     * Get current configuration.
     */
    public function getConfig(): Configuration
    {
        return $this->config;
    }

    /**
     * Get Campaign By Id
     *
     * @param int $campaign_id
     *   campaignId
     * @param bool $async
     *   Set to true to make an async request.
     *
     * @throws \InvalidArgumentException
     * @return \Neclimdul\OpenapiPhp\Helper\Response\ApiResponseInterface
     */
    public function getCampaignByIdUsingGET(
        int $campaign_id,
        bool $async = false,
    ): ApiResponseInterface {
        $resourcePath = str_replace(
            [
                '{' . 'campaignId' . '}',
            ],
            [
                ObjectSerializer::toPathValue($campaign_id),
            ],
            '/rest/v1/campaigns/{campaignId}.json',
        );
        $headers = [];
        if ($this->config->getUserAgent()) {
            $headers['User-Agent'] = $this->config->getUserAgent();
        }
        $headers = array_merge($headers, $this->headerSelector->selectHeaders(
            ['application/json'],
            [],
        ));
        $operationHost = $this->config->getHost();

        $responseMap = new ResponseTypeMap([]);
        $responseMap->setSchema('200', 'application/json', ['type' => '\NecLimDul\MarketoRest\Lead\Model\ResponseOfCampaign']);
        // TODO figure out header select logic.
        return $this->client->makeRequest(
            $this->requestFactory->createRequest(
                'GET',
                $operationHost . $resourcePath,
                // Query.
                [
                ],
                $headers,
                [],
                '',
            ),
            $responseMap,
            async: $async,
        );
    }

    /**
     * Get Campaigns
     *
     * @param int[]|null $id
     *   Comma-separated list of campaign ids to return records for
     * @param string[]|null $name
     *   Comma-separated list of names to filter on
     * @param string[]|null $program_name
     *   Comma-separated list of program names to filter on. If set, will filter to only campaigns which are children of the designated programs.
     * @param string[]|null $workspace_name
     *   Comma-separated list of workspace names to filter on. If set, will only return campaigns in the given workspaces.
     * @param int|null $batch_size
     *   Maximum number of records to return. Maximum and default is 300.
     * @param string|null $next_page_token
     *   A token will be returned by this endpoint if the result set is greater than the batch size and can be passed in a subsequent call through this parameter. See Paging Tokens for more info.
     * @param bool|null $is_triggerable
     *   Set to true to return active Campaigns which have a Campaign is Requested trigger and source is Web Service API
     * @param bool $async
     *   Set to true to make an async request.
     *
     * @throws \InvalidArgumentException
     * @return \Neclimdul\OpenapiPhp\Helper\Response\ApiResponseInterface
     */
    public function getCampaignsUsingGET(
        null|array $id = null,
        null|array $name = null,
        null|array $program_name = null,
        null|array $workspace_name = null,
        null|int $batch_size = null,
        null|string $next_page_token = null,
        null|bool $is_triggerable = null,
        bool $async = false,
    ): ApiResponseInterface {
        $resourcePath = '/rest/v1/campaigns.json';
        $headers = [];
        if ($this->config->getUserAgent()) {
            $headers['User-Agent'] = $this->config->getUserAgent();
        }
        $headers = array_merge($headers, $this->headerSelector->selectHeaders(
            ['application/json'],
            [],
        ));
        $operationHost = $this->config->getHost();

        $responseMap = new ResponseTypeMap([]);
        $responseMap->setSchema('200', 'application/json', ['type' => '\NecLimDul\MarketoRest\Lead\Model\ResponseOfCampaign']);
        // TODO figure out header select logic.
        return $this->client->makeRequest(
            $this->requestFactory->createRequest(
                'GET',
                $operationHost . $resourcePath,
                // Query.
                [
                    'id' => isset($id) ? ObjectSerializer::serializeCollection($id, 'multi') : null,
                    'name' => isset($name) ? ObjectSerializer::serializeCollection($name, 'multi') : null,
                    'programName' => isset($program_name) ? ObjectSerializer::serializeCollection($program_name, 'multi') : null,
                    'workspaceName' => isset($workspace_name) ? ObjectSerializer::serializeCollection($workspace_name, 'multi') : null,
                    'batchSize' => isset($batch_size) ? ObjectSerializer::toQueryValue($batch_size) : null,
                    'nextPageToken' => isset($next_page_token) ? ObjectSerializer::toQueryValue($next_page_token) : null,
                    'isTriggerable' => isset($is_triggerable) ? ObjectSerializer::toQueryValue($is_triggerable) : null,
                ],
                $headers,
                [],
                '',
            ),
            $responseMap,
            async: $async,
        );
    }

    /**
     * Schedule Campaign
     *
     * @param int $campaign_id
     *   Id of the batch campaign to schedule.
     * @param \NecLimDul\MarketoRest\Lead\Model\ScheduleCampaignRequest|null $schedule_campaign_request
     *   scheduleCampaignRequest
     * @param bool $async
     *   Set to true to make an async request.
     *
     * @throws \InvalidArgumentException
     * @return \Neclimdul\OpenapiPhp\Helper\Response\ApiResponseInterface
     */
    public function scheduleCampaignUsingPOST(
        int $campaign_id,
        null|\NecLimDul\MarketoRest\Lead\Model\ScheduleCampaignRequest $schedule_campaign_request = null,
        bool $async = false,
    ): ApiResponseInterface {
        $resourcePath = str_replace(
            [
                '{' . 'campaignId' . '}',
            ],
            [
                ObjectSerializer::toPathValue($campaign_id),
            ],
            '/rest/v1/campaigns/{campaignId}/schedule.json',
        );
        $headers = [];
        if ($this->config->getUserAgent()) {
            $headers['User-Agent'] = $this->config->getUserAgent();
        }
        $headers = array_merge($headers, $this->headerSelector->selectHeaders(
            ['application/json'],
            ['application/json'],
        ));
        $operationHost = $this->config->getHost();

        $responseMap = new ResponseTypeMap([]);
        $responseMap->setSchema('200', 'application/json', ['type' => '\NecLimDul\MarketoRest\Lead\Model\ResponseOfCampaign']);
        // TODO figure out header select logic.
        return $this->client->makeRequest(
            $this->requestFactory->createRequest(
                'POST',
                $operationHost . $resourcePath,
                // Query.
                [
                ],
                $headers,
                [],
                $schedule_campaign_request,
            ),
            $responseMap,
            async: $async,
        );
    }

    /**
     * Request Campaign
     *
     * @param int $campaign_id
     *   The id of the campaign to trigger
     * @param \NecLimDul\MarketoRest\Lead\Model\TriggerCampaignRequest|null $trigger_campaign_request
     *   triggerCampaignRequest
     * @param bool $async
     *   Set to true to make an async request.
     *
     * @throws \InvalidArgumentException
     * @return \Neclimdul\OpenapiPhp\Helper\Response\ApiResponseInterface
     */
    public function triggerCampaignUsingPOST(
        int $campaign_id,
        null|\NecLimDul\MarketoRest\Lead\Model\TriggerCampaignRequest $trigger_campaign_request = null,
        bool $async = false,
    ): ApiResponseInterface {
        $resourcePath = str_replace(
            [
                '{' . 'campaignId' . '}',
            ],
            [
                ObjectSerializer::toPathValue($campaign_id),
            ],
            '/rest/v1/campaigns/{campaignId}/trigger.json',
        );
        $headers = [];
        if ($this->config->getUserAgent()) {
            $headers['User-Agent'] = $this->config->getUserAgent();
        }
        $headers = array_merge($headers, $this->headerSelector->selectHeaders(
            ['application/json'],
            ['application/json'],
        ));
        $operationHost = $this->config->getHost();

        $responseMap = new ResponseTypeMap([]);
        $responseMap->setSchema('200', 'application/json', ['type' => '\NecLimDul\MarketoRest\Lead\Model\ResponseOfCampaign']);
        // TODO figure out header select logic.
        return $this->client->makeRequest(
            $this->requestFactory->createRequest(
                'POST',
                $operationHost . $resourcePath,
                // Query.
                [
                ],
                $headers,
                [],
                $trigger_campaign_request,
            ),
            $responseMap,
            async: $async,
        );
    }
}
