<?php

/**
 * SalesPersonsApi class file.
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

declare(strict_types=1);

namespace NecLimDul\MarketoRest\Lead\Api;

// Library Includes
use GuzzleHttp\Client as GuzzleClient;
use GuzzleHttp\ClientInterface;
use GuzzleHttp\Psr7\HttpFactory;
use Neclimdul\OpenapiPhp\Helper\Client;
use Neclimdul\OpenapiPhp\Helper\RequestFactory;
use Neclimdul\OpenapiPhp\Helper\Response\ApiResponseInterface;
use Neclimdul\OpenapiPhp\Helper\Response\ResponseTypeMap;
// Package Includes
use NecLimDul\MarketoRest\Lead\Configuration;
use NecLimDul\MarketoRest\Lead\HeaderSelector;
use NecLimDul\MarketoRest\Lead\ObjectSerializer;

/**
 * SalesPersonsApi
 *
 * The version of the OpenAPI document: 1.0
 * Contact: 
 * Generated by: https://openapi-generator.tech
 * OpenAPI Generator version: 7.13.0
 *
 * @category Class
 * @package  NecLimDul\MarketoRest\Lead
 * @author   OpenAPI Generator team
 * @link     https://openapi-generator.tech
 */
class SalesPersonsApi
{
    protected Configuration $config;

    protected HeaderSelector $headerSelector;

    protected int $hostIndex;

    /**
     * @var \Neclimdul\OpenapiPhp\Helper\Client
     */
    private Client $client;

    /**
     * @var \Neclimdul\OpenapiPhp\Helper\RequestFactory<\NecLimDul\MarketoRest\Lead\Model\ModelInterface>
     */
    private RequestFactory $requestFactory;

    /**
     * @param (\GuzzleHttp\ClientInterface&\Psr\Http\Client\ClientInterface)|null $client
     * @param Configuration|null $config
     * @param HeaderSelector|null $selector
     * @param int $hostIndex
     *   (Optional) Host index to select the list of hosts if defined in the spec.
     */
    public function __construct(
        ?ClientInterface $client = null,
        ?Configuration $config = null,
        ?HeaderSelector $selector = null,
        int $hostIndex = 0
    ) {
        $this->config = $config ?: new Configuration();
        $this->headerSelector = $selector ?: new HeaderSelector();
        $this->hostIndex = $hostIndex;
        // TODO Inject me.
        $this->client = new Client(
            $client ?: new GuzzleClient(),
            ObjectSerializer::getDefaultSerializer()->getDeserializer(),
        );
        // TODO Inject me.
        $this->requestFactory = new RequestFactory(
            new HttpFactory(),
            ObjectSerializer::getDefaultSerializer()->getSerializer(),
        );
    }

    /**
     * Set the host index.
     *
     * @param int $hostIndex
     *   Host index (required).
     */
    public function setHostIndex(int $hostIndex): void
    {
        $this->hostIndex = $hostIndex;
    }

    /**
     * Get the host index.
     */
    public function getHostIndex(): int
    {
        return $this->hostIndex;
    }

    /**
     * Get current configuration.
     */
    public function getConfig(): Configuration
    {
        return $this->config;
    }

    /**
     * Delete SalesPersons
     *
     * @param \NecLimDul\MarketoRest\Lead\Model\DeleteSalesPersonRequest $delete_sales_person_request
     *   deleteSalesPersonRequest
     * @param bool $async
     *   Set to true to make an async request.
     *
     * @throws \InvalidArgumentException
     * @return \Neclimdul\OpenapiPhp\Helper\Response\ApiResponseInterface
     */
    public function deleteSalesPersonUsingPOST(
        \NecLimDul\MarketoRest\Lead\Model\DeleteSalesPersonRequest $delete_sales_person_request,
        bool $async = false,
    ): ApiResponseInterface {
        $resourcePath = '/rest/v1/salespersons/delete.json';
        $headers = [];
        if ($this->config->getUserAgent()) {
            $headers['User-Agent'] = $this->config->getUserAgent();
        }
        $headers = array_merge($headers, $this->headerSelector->selectHeaders(
            ['application/json'],
            ['application/json'],
        ));
        $operationHost = $this->config->getHost();

        $responseMap = new ResponseTypeMap([]);
        $responseMap->setSchema('200', 'application/json', ['type' => '\NecLimDul\MarketoRest\Lead\Model\ResponseOfSalesPerson']);
        // TODO figure out header select logic.
        return $this->client->makeRequest(
            $this->requestFactory->createRequest(
                'POST',
                $operationHost . $resourcePath,
                // Query.
                [
                ],
                $headers,
                [],
                $delete_sales_person_request,
            ),
            $responseMap,
            async: $async,
        );
    }

    /**
     * Describe SalesPersons
     *
     * @throws \InvalidArgumentException
     * @return \Neclimdul\OpenapiPhp\Helper\Response\ApiResponseInterface
     */
    public function describeUsingGET5(
        bool $async = false,
    ): ApiResponseInterface {
        $resourcePath = '/rest/v1/salespersons/describe.json';
        $headers = [];
        if ($this->config->getUserAgent()) {
            $headers['User-Agent'] = $this->config->getUserAgent();
        }
        $headers = array_merge($headers, $this->headerSelector->selectHeaders(
            ['application/json'],
            [],
        ));
        $operationHost = $this->config->getHost();

        $responseMap = new ResponseTypeMap([]);
        $responseMap->setSchema('200', 'application/json', ['type' => '\NecLimDul\MarketoRest\Lead\Model\ResponseOfObjectMetaData']);
        // TODO figure out header select logic.
        return $this->client->makeRequest(
            $this->requestFactory->createRequest(
                'GET',
                $operationHost . $resourcePath,
                // Query.
                [
                ],
                $headers,
                [],
                '',
            ),
            $responseMap,
            async: $async,
        );
    }

    /**
     * Get SalesPersons
     *
     * @param string $filter_type
     *   The sales person field to filter on. Searchable fields can be retrieved with the Describe Sales Person call.
     * @param string[] $filter_values
     *   Comma seperated list of search values.
     * @param string[]|null $fields
     *   Comma-separated list of fields to include in the response
     * @param int|null $batch_size
     *   The batch size to return. The max and default value is 300.
     * @param string|null $next_page_token
     *   A token will be returned by this endpoint if the result set is greater than the batch size and can be passed in a subsequent call through this parameter. See Paging Tokens for more info.
     * @param bool $async
     *   Set to true to make an async request.
     *
     * @throws \InvalidArgumentException
     * @return \Neclimdul\OpenapiPhp\Helper\Response\ApiResponseInterface
     */
    public function getSalesPersonUsingGET(
        string $filter_type,
        array $filter_values,
        null|array $fields = null,
        null|int $batch_size = null,
        null|string $next_page_token = null,
        bool $async = false,
    ): ApiResponseInterface {
        // Verify the required parameter 'filter_values' is set.
        if (empty($filter_values)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $filter_values when calling getSalesPersonUsingGET'
            );
        }
        $resourcePath = '/rest/v1/salespersons.json';
        $headers = [];
        if ($this->config->getUserAgent()) {
            $headers['User-Agent'] = $this->config->getUserAgent();
        }
        $headers = array_merge($headers, $this->headerSelector->selectHeaders(
            ['application/json'],
            [],
        ));
        $operationHost = $this->config->getHost();

        $responseMap = new ResponseTypeMap([]);
        $responseMap->setSchema('200', 'application/json', ['type' => '\NecLimDul\MarketoRest\Lead\Model\ResponseOfSalesPerson']);
        // TODO figure out header select logic.
        return $this->client->makeRequest(
            $this->requestFactory->createRequest(
                'GET',
                $operationHost . $resourcePath,
                // Query.
                [
                    'filterType' => ObjectSerializer::toQueryValue($filter_type),
                    'filterValues' => ObjectSerializer::serializeCollection($filter_values, 'csv'),
                    'fields' => isset($fields) ? ObjectSerializer::serializeCollection($fields, 'multi') : null,
                    'batchSize' => isset($batch_size) ? ObjectSerializer::toQueryValue($batch_size) : null,
                    'nextPageToken' => isset($next_page_token) ? ObjectSerializer::toQueryValue($next_page_token) : null,
                ],
                $headers,
                [],
                '',
            ),
            $responseMap,
            async: $async,
        );
    }

    /**
     * Sync SalesPersons
     *
     * @param \NecLimDul\MarketoRest\Lead\Model\SyncSalesPersonRequest $sync_sales_person_request
     *   syncSalesPersonRequest
     * @param bool $async
     *   Set to true to make an async request.
     *
     * @throws \InvalidArgumentException
     * @return \Neclimdul\OpenapiPhp\Helper\Response\ApiResponseInterface
     */
    public function syncSalesPersonsUsingPOST(
        \NecLimDul\MarketoRest\Lead\Model\SyncSalesPersonRequest $sync_sales_person_request,
        bool $async = false,
    ): ApiResponseInterface {
        $resourcePath = '/rest/v1/salespersons.json';
        $headers = [];
        if ($this->config->getUserAgent()) {
            $headers['User-Agent'] = $this->config->getUserAgent();
        }
        $headers = array_merge($headers, $this->headerSelector->selectHeaders(
            ['application/json'],
            ['application/json'],
        ));
        $operationHost = $this->config->getHost();

        $responseMap = new ResponseTypeMap([]);
        $responseMap->setSchema('200', 'application/json', ['type' => '\NecLimDul\MarketoRest\Lead\Model\ResponseOfSalesPerson']);
        // TODO figure out header select logic.
        return $this->client->makeRequest(
            $this->requestFactory->createRequest(
                'POST',
                $operationHost . $resourcePath,
                // Query.
                [
                ],
                $headers,
                [],
                $sync_sales_person_request,
            ),
            $responseMap,
            async: $async,
        );
    }
}
