<?php

/**
 * SalesPersonsApi class file.
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

declare(strict_types=1);

namespace NecLimDul\MarketoRest\Lead\Api;

// Library Includes
use GuzzleHttp\Client as GuzzleClient;
use GuzzleHttp\ClientInterface;
use GuzzleHttp\Psr7\HttpFactory;
use Neclimdul\OpenapiPhp\Helper\Client;
use Neclimdul\OpenapiPhp\Helper\ContentNegotiation;
use Neclimdul\OpenapiPhp\Helper\RequestFactory;
use Neclimdul\OpenapiPhp\Helper\Response\ApiResponseInterface;
use Neclimdul\OpenapiPhp\Helper\Response\ResponseTypeMap;
use Neclimdul\OpenapiPhp\Helper\Serialization\DeserializerInterface;
use Neclimdul\OpenapiPhp\Helper\Serialization\SerializerInterface;
// Package Includes
use NecLimDul\MarketoRest\Lead\Configuration;
use NecLimDul\MarketoRest\Lead\ObjectSerializer;

/**
 * SalesPersonsApi
 *
 * The version of the OpenAPI document: 1.0
 * Contact:
 * Generated by: https://openapi-generator.tech
 * OpenAPI Generator version: 7.18.0
 *
 * @category Class
 * @package  NecLimDul\MarketoRest\Lead
 * @author   OpenAPI Generator team
 * @link     https://openapi-generator.tech
 */
readonly class SalesPersonsApi
{
    /**
     * @param Configuration $config
     *   API Configuration.
     * @param \Neclimdul\OpenapiPhp\Helper\Client $client
     *   Request client.
     * @param \Neclimdul\OpenapiPhp\Helper\RequestFactory<\NecLimDul\MarketoRest\Lead\Model\ModelInterface> $requestFactory
     *   Request factory.
     * @param \Neclimdul\OpenapiPhp\Helper\Serialization\SerializerInterface<\NecLimDul\MarketoRest\Lead\Model\ModelInterface> $serializer
     *   Serialization service.
     */
    public function __construct(
        public Configuration $config,
        private Client $client,
        private RequestFactory $requestFactory,
        private SerializerInterface $serializer,
    ) {
    }

    /**
     * @param (\GuzzleHttp\ClientInterface&\Psr\Http\Client\ClientInterface)|null $client
     *   Request client.
     * @param Configuration|null $config
     *   API Configuration.
     * @param \Neclimdul\OpenapiPhp\Helper\Serialization\SerializerInterface<\NecLimDul\MarketoRest\Lead\Model\ModelInterface>|null $serializer
     *   Serialization service.
     * @param \Neclimdul\OpenapiPhp\Helper\Serialization\DeserializerInterface|null $deserializer
     *   Deserialization service.
     */
    public static function create(
        ?ClientInterface $client = null,
        ?Configuration $config = null,
        ?SerializerInterface $serializer = null,
        ?DeserializerInterface $deserializer = null,
    ): self {
        $serializer = $serializer ?: ObjectSerializer::getDefaultSerializer();
        $config = $config ?: new Configuration();
        return new self(
            $config,
            new Client(
                $client ?: new GuzzleClient(),
                $deserializer ?: ObjectSerializer::getDefaultDeserializer(),
            ),
            new RequestFactory(
                new HttpFactory(),
                $serializer,
                $config,
            ),
            $serializer,
        );
    }

    /**
     * Get current configuration.
     */
    public function getConfig(): Configuration
    {
        return $this->config;
    }

    /**
     * Delete SalesPersons
     *
     * @param \NecLimDul\MarketoRest\Lead\Model\DeleteSalesPersonRequest $delete_sales_person_request
     *   deleteSalesPersonRequest
     * @param bool $async
     *   Set to true to make an async request.
     *
     * @throws \InvalidArgumentException
     * @return \Neclimdul\OpenapiPhp\Helper\Response\ApiResponseInterface
     */
    public function deleteSalesPersonUsingPOST(
        \NecLimDul\MarketoRest\Lead\Model\DeleteSalesPersonRequest $delete_sales_person_request,
        bool $async = false,
    ): ApiResponseInterface {
        $resourcePath = '/rest/v1/salespersons/delete.json';
        $headers = [];

        $responseMap = new ResponseTypeMap([]);
        $responseMap->setSchema('200', 'application/json', ['type' => '\NecLimDul\MarketoRest\Lead\Model\ResponseOfSalesPerson']);

        $request = $this->requestFactory->createRequest(
            'POST',
            $this->config->getHost() . $resourcePath,
            // Query.
            [],
            $headers,
            [],
            $delete_sales_person_request,
            new ContentNegotiation(
                ['application/json'],
                ['application/json'],
            ),
        );

        return $this->client->makeRequest(
            $request,
            $responseMap,
            async: $async,
        );
    }

    /**
     * Describe SalesPersons
     *
     * @throws \InvalidArgumentException
     * @return \Neclimdul\OpenapiPhp\Helper\Response\ApiResponseInterface
     */
    public function describeUsingGET5(
        bool $async = false,
    ): ApiResponseInterface {
        $resourcePath = '/rest/v1/salespersons/describe.json';
        $headers = [];

        $responseMap = new ResponseTypeMap([]);
        $responseMap->setSchema('200', 'application/json', ['type' => '\NecLimDul\MarketoRest\Lead\Model\ResponseOfObjectMetaData']);

        $request = $this->requestFactory->createRequest(
            'GET',
            $this->config->getHost() . $resourcePath,
            // Query.
            [],
            $headers,
            [],
            '',
            new ContentNegotiation(
                ['application/json'],
                [],
            ),
        );

        return $this->client->makeRequest(
            $request,
            $responseMap,
            async: $async,
        );
    }

    /**
     * Get SalesPersons
     *
     * @param string $filter_type
     *   The sales person field to filter on. Searchable fields can be retrieved with the Describe Sales Person call.
     * @param string[] $filter_values
     *   Comma seperated list of search values.
     * @param string[]|null $fields
     *   Comma-separated list of fields to include in the response
     * @param int|null $batch_size
     *   The batch size to return. The max and default value is 300.
     * @param string|null $next_page_token
     *   A token will be returned by this endpoint if the result set is greater than the batch size and can be passed in a subsequent call through this parameter. See Paging Tokens for more info.
     * @param bool $async
     *   Set to true to make an async request.
     *
     * @throws \InvalidArgumentException
     * @return \Neclimdul\OpenapiPhp\Helper\Response\ApiResponseInterface
     */
    public function getSalesPersonUsingGET(
        string $filter_type,
        array $filter_values,
        null|array $fields = null,
        null|int $batch_size = null,
        null|string $next_page_token = null,
        bool $async = false,
    ): ApiResponseInterface {
        // Verify the required parameter 'filter_values' is set.
        if (empty($filter_values)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $filter_values when calling getSalesPersonUsingGET'
            );
        }
        $resourcePath = '/rest/v1/salespersons.json';
        $headers = [];

        $responseMap = new ResponseTypeMap([]);
        $responseMap->setSchema('200', 'application/json', ['type' => '\NecLimDul\MarketoRest\Lead\Model\ResponseOfSalesPerson']);

        $request = $this->requestFactory->createRequest(
            'GET',
            $this->config->getHost() . $resourcePath,
            // Query.
            [
                'filterType' => $this->serializer->toQueryValue($filter_type),
                'filterValues' => $this->serializer->serializeCollection($filter_values, 'csv'),
                'fields' => isset($fields) ? $this->serializer->serializeCollection($fields, 'multi') : null,
                'batchSize' => isset($batch_size) ? $this->serializer->toQueryValue($batch_size) : null,
                'nextPageToken' => isset($next_page_token) ? $this->serializer->toQueryValue($next_page_token) : null,
            ],
            $headers,
            [],
            '',
            new ContentNegotiation(
                ['application/json'],
                [],
            ),
        );

        return $this->client->makeRequest(
            $request,
            $responseMap,
            async: $async,
        );
    }

    /**
     * Sync SalesPersons
     *
     * @param \NecLimDul\MarketoRest\Lead\Model\SyncSalesPersonRequest $sync_sales_person_request
     *   syncSalesPersonRequest
     * @param bool $async
     *   Set to true to make an async request.
     *
     * @throws \InvalidArgumentException
     * @return \Neclimdul\OpenapiPhp\Helper\Response\ApiResponseInterface
     */
    public function syncSalesPersonsUsingPOST(
        \NecLimDul\MarketoRest\Lead\Model\SyncSalesPersonRequest $sync_sales_person_request,
        bool $async = false,
    ): ApiResponseInterface {
        $resourcePath = '/rest/v1/salespersons.json';
        $headers = [];

        $responseMap = new ResponseTypeMap([]);
        $responseMap->setSchema('200', 'application/json', ['type' => '\NecLimDul\MarketoRest\Lead\Model\ResponseOfSalesPerson']);

        $request = $this->requestFactory->createRequest(
            'POST',
            $this->config->getHost() . $resourcePath,
            // Query.
            [],
            $headers,
            [],
            $sync_sales_person_request,
            new ContentNegotiation(
                ['application/json'],
                ['application/json'],
            ),
        );

        return $this->client->makeRequest(
            $request,
            $responseMap,
            async: $async,
        );
    }
}
