<?php
/**
 * FoldersApi
 *
 * @category Class
 * @package  NecLimDul\MarketoRest\Asset
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Marketo Rest API
 *
 * Marketo Rest API
 *
 * OpenAPI spec version: 1.0
 * Contact: developerfeedback@marketo.com
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 * Swagger Codegen version: 2.4.26
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace NecLimDul\MarketoRest\Asset\Api;

use GuzzleHttp\Client;
use GuzzleHttp\ClientInterface;
use GuzzleHttp\Exception\RequestException;
use GuzzleHttp\Psr7\MultipartStream;
use GuzzleHttp\Psr7\Query;
use GuzzleHttp\Psr7\Request;
use GuzzleHttp\Promise\PromiseInterface;
use GuzzleHttp\RequestOptions;
use Psr\Http\Message\ResponseInterface;
use NecLimDul\MarketoRest\Asset\ApiException;
use NecLimDul\MarketoRest\Asset\Configuration;
use NecLimDul\MarketoRest\Asset\HeaderSelector;
use NecLimDul\MarketoRest\Asset\ObjectSerializer;

/**
 * FoldersApi Class Doc Comment
 *
 * @category Class
 * @package  NecLimDul\MarketoRest\Asset
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class FoldersApi
{

    /**
     * @var ClientInterface
     */
    protected $client;

    /**
     * @var Configuration
     */
    protected $config;

    /**
     * @var HeaderSelector
     */
    protected $headerSelector;

    /**
     * @var int Host index
     */
    protected $hostIndex;

    /**
     * @param ClientInterface|null $client
     * @param Configuration|null   $config
     * @param HeaderSelector|null  $selector
     * @param int                  $hostIndex (Optional) host index to select the list of hosts if defined in the OpenAPI spec
     */
    public function __construct(
        ClientInterface $client = null,
        Configuration $config = null,
        HeaderSelector $selector = null,
        $hostIndex = 0
    ) {
        $this->client = $client ?: new Client();
        $this->config = $config ?: new Configuration();
        $this->headerSelector = $selector ?: new HeaderSelector();
        $this->hostIndex = $hostIndex;
    }

    /**
     * Set the host index
     *
     * @param int $hostIndex Host index (required)
     */
    public function setHostIndex($hostIndex): void
    {
        $this->hostIndex = $hostIndex;
    }

    /**
     * Get the host index
     *
     * @return int Host index
     */
    public function getHostIndex()
    {
        return $this->hostIndex;
    }

    /**
     * @return Configuration
     */
    public function getConfig()
    {
        return $this->config;
    }

    /**
     * Exception handler for createFolderUsingPOST.
     *
     * @param \NecLimDul\MarketoRest\Asset\ApiException $e Unprocessed exception.
     *
     * @return \NecLimDul\MarketoRest\Asset\ApiException Processed exception.
     */
    protected function createFolderUsingPOSTHandleException(ApiException $e)
    {
        switch ($e->getCode()) {
            case 200:
                $e->setResponseObject(
                    $this->deserializeResponseBody(
                        $e->getResponseBody(),
                        \NecLimDul\MarketoRest\Asset\Model\ResponseOfFolderResponse::class,
                        $e->getResponseHeaders()
                    )
                );
                break;
        }
        return $e;
    }

    /**
     * Create Folder
     *
     * @param  \NecLimDul\MarketoRest\Asset\Model\CreateFolderRequest $create_folder_request createFolderRequest (required)
     *
     * @throws \NecLimDul\MarketoRest\Asset\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \NecLimDul\MarketoRest\Asset\Model\ResponseOfFolderResponse
     */
    public function createFolderUsingPOST(
        \NecLimDul\MarketoRest\Asset\Model\CreateFolderRequest $create_folder_request
    ): \NecLimDul\MarketoRest\Asset\Model\ResponseOfFolderResponse
    {
        list($response) = $this->createFolderUsingPOSTWithHttpInfo($create_folder_request);
        return $response;
    }

    /**
     * Create Folder
     *
     * @param  \NecLimDul\MarketoRest\Asset\Model\CreateFolderRequest $create_folder_request createFolderRequest (required)
     *
     * @throws \NecLimDul\MarketoRest\Asset\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \NecLimDul\MarketoRest\Asset\Model\ResponseOfFolderResponse, HTTP status code, HTTP response headers (array of strings)
     * @phpstan-return array{ \NecLimDul\MarketoRest\Asset\Model\ResponseOfFolderResponse, int, array<array<string>>}
     */
    public function createFolderUsingPOSTWithHttpInfo(
        \NecLimDul\MarketoRest\Asset\Model\CreateFolderRequest $create_folder_request
    ): array
    {
        $request = $this->createFolderUsingPOSTRequest($create_folder_request);
        try {
            $response = $this->makeRequest($request);
            return $this->responseToReturn(
                $response,
                \NecLimDul\MarketoRest\Asset\Model\ResponseOfFolderResponse::class
            );
        } catch (ApiException $e) {
            throw $this->createFolderUsingPOSTHandleException($e);
        }
    }

    /**
     * Create Folder
     *
     * @param  \NecLimDul\MarketoRest\Asset\Model\CreateFolderRequest $create_folder_request createFolderRequest (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function createFolderUsingPOSTAsync(
        \NecLimDul\MarketoRest\Asset\Model\CreateFolderRequest $create_folder_request
    ): PromiseInterface
    {
        return $this->createFolderUsingPOSTAsyncWithHttpInfo($create_folder_request)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Create Folder
     *
     * @param  \NecLimDul\MarketoRest\Asset\Model\CreateFolderRequest $create_folder_request createFolderRequest (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function createFolderUsingPOSTAsyncWithHttpInfo(
        \NecLimDul\MarketoRest\Asset\Model\CreateFolderRequest $create_folder_request
    ): PromiseInterface
    {
        $request = $this->createFolderUsingPOSTRequest($create_folder_request);
        return $this->makeAsyncRequest(
            $request,
            \NecLimDul\MarketoRest\Asset\Model\ResponseOfFolderResponse::class,
            [$this, 'createFolderUsingPOSTHandleException']
        );
    }

    /**
     * Create request for operation 'createFolderUsingPOST'
     *
     * @param  \NecLimDul\MarketoRest\Asset\Model\CreateFolderRequest $create_folder_request createFolderRequest (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function createFolderUsingPOSTRequest(
        \NecLimDul\MarketoRest\Asset\Model\CreateFolderRequest $create_folder_request
    ): Request
    {

        $resourcePath = '/rest/asset/v1/folders.json';
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            ['application/x-www-form-urlencoded']
        );
        $httpBody = ObjectSerializer::toBodyValue($create_folder_request, $headers['Content-Type'] === 'application/json');


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $query = Query::build($queryParams);
        return new Request(
            'POST',
            $this->config->getHost() . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Exception handler for deleteFolderUsingPOST.
     *
     * @param \NecLimDul\MarketoRest\Asset\ApiException $e Unprocessed exception.
     *
     * @return \NecLimDul\MarketoRest\Asset\ApiException Processed exception.
     */
    protected function deleteFolderUsingPOSTHandleException(ApiException $e)
    {
        switch ($e->getCode()) {
            case 200:
                $e->setResponseObject(
                    $this->deserializeResponseBody(
                        $e->getResponseBody(),
                        \NecLimDul\MarketoRest\Asset\Model\ResponseOfIdResponse::class,
                        $e->getResponseHeaders()
                    )
                );
                break;
        }
        return $e;
    }

    /**
     * Delete Folder
     *
     * @param  int $id Id of the folder to delete (required)
     * @param  string $type type (required)
     *
     * @throws \NecLimDul\MarketoRest\Asset\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \NecLimDul\MarketoRest\Asset\Model\ResponseOfIdResponse
     */
    public function deleteFolderUsingPOST(
        int $id,
        string $type
    ): \NecLimDul\MarketoRest\Asset\Model\ResponseOfIdResponse
    {
        list($response) = $this->deleteFolderUsingPOSTWithHttpInfo($id, $type);
        return $response;
    }

    /**
     * Delete Folder
     *
     * @param  int $id Id of the folder to delete (required)
     * @param  string $type type (required)
     *
     * @throws \NecLimDul\MarketoRest\Asset\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \NecLimDul\MarketoRest\Asset\Model\ResponseOfIdResponse, HTTP status code, HTTP response headers (array of strings)
     * @phpstan-return array{ \NecLimDul\MarketoRest\Asset\Model\ResponseOfIdResponse, int, array<array<string>>}
     */
    public function deleteFolderUsingPOSTWithHttpInfo(
        int $id,
        string $type
    ): array
    {
        $request = $this->deleteFolderUsingPOSTRequest($id, $type);
        try {
            $response = $this->makeRequest($request);
            return $this->responseToReturn(
                $response,
                \NecLimDul\MarketoRest\Asset\Model\ResponseOfIdResponse::class
            );
        } catch (ApiException $e) {
            throw $this->deleteFolderUsingPOSTHandleException($e);
        }
    }

    /**
     * Delete Folder
     *
     * @param  int $id Id of the folder to delete (required)
     * @param  string $type type (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function deleteFolderUsingPOSTAsync(
        int $id,
        string $type
    ): PromiseInterface
    {
        return $this->deleteFolderUsingPOSTAsyncWithHttpInfo($id, $type)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Delete Folder
     *
     * @param  int $id Id of the folder to delete (required)
     * @param  string $type type (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function deleteFolderUsingPOSTAsyncWithHttpInfo(
        int $id,
        string $type
    ): PromiseInterface
    {
        $request = $this->deleteFolderUsingPOSTRequest($id, $type);
        return $this->makeAsyncRequest(
            $request,
            \NecLimDul\MarketoRest\Asset\Model\ResponseOfIdResponse::class,
            [$this, 'deleteFolderUsingPOSTHandleException']
        );
    }

    /**
     * Create request for operation 'deleteFolderUsingPOST'
     *
     * @param  int $id Id of the folder to delete (required)
     * @param  string $type type (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function deleteFolderUsingPOSTRequest(
        int $id,
        string $type
    ): Request
    {

        $resourcePath = '/rest/asset/v1/folder/{id}/delete.json';
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';

        // Path parameters.
        $resourcePath = str_replace(
            '{' . 'id' . '}',
            ObjectSerializer::toPathValue($id),
            $resourcePath
        );

        // Form parameters.
        /** @var string[][] $formParams */
        $formParams = [];
        $multipart = false;
        $formParams['type'] = ObjectSerializer::toFormValue($type);
        // Remove any null (optional values).
        $formParams = array_filter($formParams, function($v) { return $v !== null; });
        /**
         * @psalm-suppress RedundantCondition,TypeDoesNotContainType
         * @phpstan-ignore-next-line
         */
        if ($multipart) {
            $headers = $this->headerSelector->selectHeadersForMultipart(
                ['application/json']
            );
        } else {
            $headers = $this->headerSelector->selectHeaders(
                ['application/json'],
                ['application/x-www-form-urlencoded']
            );
        }
        if (!empty($formParams)) {
            /**
             * @psalm-suppress RedundantCondition,TypeDoesNotContainType
             * @phpstan-ignore-next-line
             */
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    foreach ((array) $formParamValue as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif ($headers['Content-Type'] === 'application/json') {
                $httpBody = \GuzzleHttp\json_encode($formParams);

            } else {
                // for HTTP post (form)
                $httpBody = Query::build($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $query = Query::build($queryParams);
        return new Request(
            'POST',
            $this->config->getHost() . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Exception handler for getFolderByIdUsingGET.
     *
     * @param \NecLimDul\MarketoRest\Asset\ApiException $e Unprocessed exception.
     *
     * @return \NecLimDul\MarketoRest\Asset\ApiException Processed exception.
     */
    protected function getFolderByIdUsingGETHandleException(ApiException $e)
    {
        switch ($e->getCode()) {
            case 200:
                $e->setResponseObject(
                    $this->deserializeResponseBody(
                        $e->getResponseBody(),
                        \NecLimDul\MarketoRest\Asset\Model\ResponseOfFolderResponse::class,
                        $e->getResponseHeaders()
                    )
                );
                break;
        }
        return $e;
    }

    /**
     * Get Folder by Id
     *
     * @param  int $id Id of the folder to retrieve (required)
     * @param  string $type Type of folder.  &#39;Folder&#39; or &#39;Program&#39; (required)
     *
     * @throws \NecLimDul\MarketoRest\Asset\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \NecLimDul\MarketoRest\Asset\Model\ResponseOfFolderResponse
     */
    public function getFolderByIdUsingGET(
        int $id,
        string $type
    ): \NecLimDul\MarketoRest\Asset\Model\ResponseOfFolderResponse
    {
        list($response) = $this->getFolderByIdUsingGETWithHttpInfo($id, $type);
        return $response;
    }

    /**
     * Get Folder by Id
     *
     * @param  int $id Id of the folder to retrieve (required)
     * @param  string $type Type of folder.  &#39;Folder&#39; or &#39;Program&#39; (required)
     *
     * @throws \NecLimDul\MarketoRest\Asset\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \NecLimDul\MarketoRest\Asset\Model\ResponseOfFolderResponse, HTTP status code, HTTP response headers (array of strings)
     * @phpstan-return array{ \NecLimDul\MarketoRest\Asset\Model\ResponseOfFolderResponse, int, array<array<string>>}
     */
    public function getFolderByIdUsingGETWithHttpInfo(
        int $id,
        string $type
    ): array
    {
        $request = $this->getFolderByIdUsingGETRequest($id, $type);
        try {
            $response = $this->makeRequest($request);
            return $this->responseToReturn(
                $response,
                \NecLimDul\MarketoRest\Asset\Model\ResponseOfFolderResponse::class
            );
        } catch (ApiException $e) {
            throw $this->getFolderByIdUsingGETHandleException($e);
        }
    }

    /**
     * Get Folder by Id
     *
     * @param  int $id Id of the folder to retrieve (required)
     * @param  string $type Type of folder.  &#39;Folder&#39; or &#39;Program&#39; (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getFolderByIdUsingGETAsync(
        int $id,
        string $type
    ): PromiseInterface
    {
        return $this->getFolderByIdUsingGETAsyncWithHttpInfo($id, $type)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Get Folder by Id
     *
     * @param  int $id Id of the folder to retrieve (required)
     * @param  string $type Type of folder.  &#39;Folder&#39; or &#39;Program&#39; (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getFolderByIdUsingGETAsyncWithHttpInfo(
        int $id,
        string $type
    ): PromiseInterface
    {
        $request = $this->getFolderByIdUsingGETRequest($id, $type);
        return $this->makeAsyncRequest(
            $request,
            \NecLimDul\MarketoRest\Asset\Model\ResponseOfFolderResponse::class,
            [$this, 'getFolderByIdUsingGETHandleException']
        );
    }

    /**
     * Create request for operation 'getFolderByIdUsingGET'
     *
     * @param  int $id Id of the folder to retrieve (required)
     * @param  string $type Type of folder.  &#39;Folder&#39; or &#39;Program&#39; (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function getFolderByIdUsingGETRequest(
        int $id,
        string $type
    ): Request
    {

        $resourcePath = '/rest/asset/v1/folder/{id}.json';
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';

        // Query parameters.
        $queryParams['type'] = ObjectSerializer::toQueryValue($type);
        // Remove any null (optional values).
        $queryParams = array_filter($queryParams, function($v) { return $v !== null; });

        // Path parameters.
        $resourcePath = str_replace(
            '{' . 'id' . '}',
            ObjectSerializer::toPathValue($id),
            $resourcePath
        );
        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            ['application/x-www-form-urlencoded']
        );


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $query = Query::build($queryParams);
        return new Request(
            'GET',
            $this->config->getHost() . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Exception handler for getFolderByNameUsingGET.
     *
     * @param \NecLimDul\MarketoRest\Asset\ApiException $e Unprocessed exception.
     *
     * @return \NecLimDul\MarketoRest\Asset\ApiException Processed exception.
     */
    protected function getFolderByNameUsingGETHandleException(ApiException $e)
    {
        switch ($e->getCode()) {
            case 200:
                $e->setResponseObject(
                    $this->deserializeResponseBody(
                        $e->getResponseBody(),
                        \NecLimDul\MarketoRest\Asset\Model\ResponseOfFolderResponse::class,
                        $e->getResponseHeaders()
                    )
                );
                break;
        }
        return $e;
    }

    /**
     * Get Folder by Name
     *
     * @param  string $name Name of the folder.  Not applicable for Programs (required)
     * @param  string $type Type of folder.  &#39;Folder&#39; or &#39;Program&#39; (optional)
     * @param  string $root Parent folder reference (optional)
     * @param  string $work_space Name of the workspace (optional)
     *
     * @throws \NecLimDul\MarketoRest\Asset\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \NecLimDul\MarketoRest\Asset\Model\ResponseOfFolderResponse
     */
    public function getFolderByNameUsingGET(
        string $name,
        string $type = null,
        string $root = null,
        string $work_space = null
    ): \NecLimDul\MarketoRest\Asset\Model\ResponseOfFolderResponse
    {
        list($response) = $this->getFolderByNameUsingGETWithHttpInfo($name, $type, $root, $work_space);
        return $response;
    }

    /**
     * Get Folder by Name
     *
     * @param  string $name Name of the folder.  Not applicable for Programs (required)
     * @param  string $type Type of folder.  &#39;Folder&#39; or &#39;Program&#39; (optional)
     * @param  string $root Parent folder reference (optional)
     * @param  string $work_space Name of the workspace (optional)
     *
     * @throws \NecLimDul\MarketoRest\Asset\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \NecLimDul\MarketoRest\Asset\Model\ResponseOfFolderResponse, HTTP status code, HTTP response headers (array of strings)
     * @phpstan-return array{ \NecLimDul\MarketoRest\Asset\Model\ResponseOfFolderResponse, int, array<array<string>>}
     */
    public function getFolderByNameUsingGETWithHttpInfo(
        string $name,
        string $type = null,
        string $root = null,
        string $work_space = null
    ): array
    {
        $request = $this->getFolderByNameUsingGETRequest($name, $type, $root, $work_space);
        try {
            $response = $this->makeRequest($request);
            return $this->responseToReturn(
                $response,
                \NecLimDul\MarketoRest\Asset\Model\ResponseOfFolderResponse::class
            );
        } catch (ApiException $e) {
            throw $this->getFolderByNameUsingGETHandleException($e);
        }
    }

    /**
     * Get Folder by Name
     *
     * @param  string $name Name of the folder.  Not applicable for Programs (required)
     * @param  string $type Type of folder.  &#39;Folder&#39; or &#39;Program&#39; (optional)
     * @param  string $root Parent folder reference (optional)
     * @param  string $work_space Name of the workspace (optional)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getFolderByNameUsingGETAsync(
        string $name,
        string $type = null,
        string $root = null,
        string $work_space = null
    ): PromiseInterface
    {
        return $this->getFolderByNameUsingGETAsyncWithHttpInfo($name, $type, $root, $work_space)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Get Folder by Name
     *
     * @param  string $name Name of the folder.  Not applicable for Programs (required)
     * @param  string $type Type of folder.  &#39;Folder&#39; or &#39;Program&#39; (optional)
     * @param  string $root Parent folder reference (optional)
     * @param  string $work_space Name of the workspace (optional)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getFolderByNameUsingGETAsyncWithHttpInfo(
        string $name,
        string $type = null,
        string $root = null,
        string $work_space = null
    ): PromiseInterface
    {
        $request = $this->getFolderByNameUsingGETRequest($name, $type, $root, $work_space);
        return $this->makeAsyncRequest(
            $request,
            \NecLimDul\MarketoRest\Asset\Model\ResponseOfFolderResponse::class,
            [$this, 'getFolderByNameUsingGETHandleException']
        );
    }

    /**
     * Create request for operation 'getFolderByNameUsingGET'
     *
     * @param  string $name Name of the folder.  Not applicable for Programs (required)
     * @param  string $type Type of folder.  &#39;Folder&#39; or &#39;Program&#39; (optional)
     * @param  string $root Parent folder reference (optional)
     * @param  string $work_space Name of the workspace (optional)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function getFolderByNameUsingGETRequest(
        string $name,
        string $type = null,
        string $root = null,
        string $work_space = null
    ): Request
    {

        $resourcePath = '/rest/asset/v1/folder/byName.json';
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';

        // Query parameters.
        $queryParams['name'] = ObjectSerializer::toQueryValue($name);
        $queryParams['type'] = ObjectSerializer::toQueryValue($type);
        $queryParams['root'] = ObjectSerializer::toQueryValue($root);
        $queryParams['workSpace'] = ObjectSerializer::toQueryValue($work_space);
        // Remove any null (optional values).
        $queryParams = array_filter($queryParams, function($v) { return $v !== null; });
        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            ['application/x-www-form-urlencoded']
        );


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $query = Query::build($queryParams);
        return new Request(
            'GET',
            $this->config->getHost() . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Exception handler for getFolderContentUsingGET.
     *
     * @param \NecLimDul\MarketoRest\Asset\ApiException $e Unprocessed exception.
     *
     * @return \NecLimDul\MarketoRest\Asset\ApiException Processed exception.
     */
    protected function getFolderContentUsingGETHandleException(ApiException $e)
    {
        switch ($e->getCode()) {
            case 200:
                $e->setResponseObject(
                    $this->deserializeResponseBody(
                        $e->getResponseBody(),
                        \NecLimDul\MarketoRest\Asset\Model\ResponseOfFolderContentResponse::class,
                        $e->getResponseHeaders()
                    )
                );
                break;
        }
        return $e;
    }

    /**
     * Get Folder Contents
     *
     * @param  int $id Id of the folder to retrieve (required)
     * @param  string $type Type of folder.  &#39;Folder&#39; or &#39;Program&#39;.  Default is &#39;Folder&#39; (required)
     * @param  int $max_return Maximum number of channels to return.  Max 200, default 20 (optional)
     * @param  int $offset Integer offset for paging (optional)
     *
     * @throws \NecLimDul\MarketoRest\Asset\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \NecLimDul\MarketoRest\Asset\Model\ResponseOfFolderContentResponse
     */
    public function getFolderContentUsingGET(
        int $id,
        string $type,
        int $max_return = null,
        int $offset = null
    ): \NecLimDul\MarketoRest\Asset\Model\ResponseOfFolderContentResponse
    {
        list($response) = $this->getFolderContentUsingGETWithHttpInfo($id, $type, $max_return, $offset);
        return $response;
    }

    /**
     * Get Folder Contents
     *
     * @param  int $id Id of the folder to retrieve (required)
     * @param  string $type Type of folder.  &#39;Folder&#39; or &#39;Program&#39;.  Default is &#39;Folder&#39; (required)
     * @param  int $max_return Maximum number of channels to return.  Max 200, default 20 (optional)
     * @param  int $offset Integer offset for paging (optional)
     *
     * @throws \NecLimDul\MarketoRest\Asset\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \NecLimDul\MarketoRest\Asset\Model\ResponseOfFolderContentResponse, HTTP status code, HTTP response headers (array of strings)
     * @phpstan-return array{ \NecLimDul\MarketoRest\Asset\Model\ResponseOfFolderContentResponse, int, array<array<string>>}
     */
    public function getFolderContentUsingGETWithHttpInfo(
        int $id,
        string $type,
        int $max_return = null,
        int $offset = null
    ): array
    {
        $request = $this->getFolderContentUsingGETRequest($id, $type, $max_return, $offset);
        try {
            $response = $this->makeRequest($request);
            return $this->responseToReturn(
                $response,
                \NecLimDul\MarketoRest\Asset\Model\ResponseOfFolderContentResponse::class
            );
        } catch (ApiException $e) {
            throw $this->getFolderContentUsingGETHandleException($e);
        }
    }

    /**
     * Get Folder Contents
     *
     * @param  int $id Id of the folder to retrieve (required)
     * @param  string $type Type of folder.  &#39;Folder&#39; or &#39;Program&#39;.  Default is &#39;Folder&#39; (required)
     * @param  int $max_return Maximum number of channels to return.  Max 200, default 20 (optional)
     * @param  int $offset Integer offset for paging (optional)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getFolderContentUsingGETAsync(
        int $id,
        string $type,
        int $max_return = null,
        int $offset = null
    ): PromiseInterface
    {
        return $this->getFolderContentUsingGETAsyncWithHttpInfo($id, $type, $max_return, $offset)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Get Folder Contents
     *
     * @param  int $id Id of the folder to retrieve (required)
     * @param  string $type Type of folder.  &#39;Folder&#39; or &#39;Program&#39;.  Default is &#39;Folder&#39; (required)
     * @param  int $max_return Maximum number of channels to return.  Max 200, default 20 (optional)
     * @param  int $offset Integer offset for paging (optional)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getFolderContentUsingGETAsyncWithHttpInfo(
        int $id,
        string $type,
        int $max_return = null,
        int $offset = null
    ): PromiseInterface
    {
        $request = $this->getFolderContentUsingGETRequest($id, $type, $max_return, $offset);
        return $this->makeAsyncRequest(
            $request,
            \NecLimDul\MarketoRest\Asset\Model\ResponseOfFolderContentResponse::class,
            [$this, 'getFolderContentUsingGETHandleException']
        );
    }

    /**
     * Create request for operation 'getFolderContentUsingGET'
     *
     * @param  int $id Id of the folder to retrieve (required)
     * @param  string $type Type of folder.  &#39;Folder&#39; or &#39;Program&#39;.  Default is &#39;Folder&#39; (required)
     * @param  int $max_return Maximum number of channels to return.  Max 200, default 20 (optional)
     * @param  int $offset Integer offset for paging (optional)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function getFolderContentUsingGETRequest(
        int $id,
        string $type,
        int $max_return = null,
        int $offset = null
    ): Request
    {

        $resourcePath = '/rest/asset/v1/folder/{id}/content.json';
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';

        // Query parameters.
        $queryParams['maxReturn'] = ObjectSerializer::toQueryValue($max_return);
        $queryParams['offset'] = ObjectSerializer::toQueryValue($offset);
        $queryParams['type'] = ObjectSerializer::toQueryValue($type);
        // Remove any null (optional values).
        $queryParams = array_filter($queryParams, function($v) { return $v !== null; });

        // Path parameters.
        $resourcePath = str_replace(
            '{' . 'id' . '}',
            ObjectSerializer::toPathValue($id),
            $resourcePath
        );
        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            ['application/x-www-form-urlencoded']
        );


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $query = Query::build($queryParams);
        return new Request(
            'GET',
            $this->config->getHost() . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Exception handler for getFolderUsingGET.
     *
     * @param \NecLimDul\MarketoRest\Asset\ApiException $e Unprocessed exception.
     *
     * @return \NecLimDul\MarketoRest\Asset\ApiException Processed exception.
     */
    protected function getFolderUsingGETHandleException(ApiException $e)
    {
        switch ($e->getCode()) {
            case 200:
                $e->setResponseObject(
                    $this->deserializeResponseBody(
                        $e->getResponseBody(),
                        \NecLimDul\MarketoRest\Asset\Model\ResponseOfFolderResponse::class,
                        $e->getResponseHeaders()
                    )
                );
                break;
        }
        return $e;
    }

    /**
     * Get Folders
     *
     * @param  string $root Parent folder reference (optional)
     * @param  int $max_depth Maximum folder depth to traverse, Default 2 (optional)
     * @param  int $max_return Maximum number of folders to return. Default 20, maximum 200 (optional)
     * @param  int $offset Integer offset for paging.  Default 0 (optional)
     * @param  string $work_space Name of the workspace (optional)
     *
     * @throws \NecLimDul\MarketoRest\Asset\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \NecLimDul\MarketoRest\Asset\Model\ResponseOfFolderResponse
     */
    public function getFolderUsingGET(
        string $root = null,
        int $max_depth = null,
        int $max_return = null,
        int $offset = null,
        string $work_space = null
    ): \NecLimDul\MarketoRest\Asset\Model\ResponseOfFolderResponse
    {
        list($response) = $this->getFolderUsingGETWithHttpInfo($root, $max_depth, $max_return, $offset, $work_space);
        return $response;
    }

    /**
     * Get Folders
     *
     * @param  string $root Parent folder reference (optional)
     * @param  int $max_depth Maximum folder depth to traverse, Default 2 (optional)
     * @param  int $max_return Maximum number of folders to return. Default 20, maximum 200 (optional)
     * @param  int $offset Integer offset for paging.  Default 0 (optional)
     * @param  string $work_space Name of the workspace (optional)
     *
     * @throws \NecLimDul\MarketoRest\Asset\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \NecLimDul\MarketoRest\Asset\Model\ResponseOfFolderResponse, HTTP status code, HTTP response headers (array of strings)
     * @phpstan-return array{ \NecLimDul\MarketoRest\Asset\Model\ResponseOfFolderResponse, int, array<array<string>>}
     */
    public function getFolderUsingGETWithHttpInfo(
        string $root = null,
        int $max_depth = null,
        int $max_return = null,
        int $offset = null,
        string $work_space = null
    ): array
    {
        $request = $this->getFolderUsingGETRequest($root, $max_depth, $max_return, $offset, $work_space);
        try {
            $response = $this->makeRequest($request);
            return $this->responseToReturn(
                $response,
                \NecLimDul\MarketoRest\Asset\Model\ResponseOfFolderResponse::class
            );
        } catch (ApiException $e) {
            throw $this->getFolderUsingGETHandleException($e);
        }
    }

    /**
     * Get Folders
     *
     * @param  string $root Parent folder reference (optional)
     * @param  int $max_depth Maximum folder depth to traverse, Default 2 (optional)
     * @param  int $max_return Maximum number of folders to return. Default 20, maximum 200 (optional)
     * @param  int $offset Integer offset for paging.  Default 0 (optional)
     * @param  string $work_space Name of the workspace (optional)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getFolderUsingGETAsync(
        string $root = null,
        int $max_depth = null,
        int $max_return = null,
        int $offset = null,
        string $work_space = null
    ): PromiseInterface
    {
        return $this->getFolderUsingGETAsyncWithHttpInfo($root, $max_depth, $max_return, $offset, $work_space)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Get Folders
     *
     * @param  string $root Parent folder reference (optional)
     * @param  int $max_depth Maximum folder depth to traverse, Default 2 (optional)
     * @param  int $max_return Maximum number of folders to return. Default 20, maximum 200 (optional)
     * @param  int $offset Integer offset for paging.  Default 0 (optional)
     * @param  string $work_space Name of the workspace (optional)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getFolderUsingGETAsyncWithHttpInfo(
        string $root = null,
        int $max_depth = null,
        int $max_return = null,
        int $offset = null,
        string $work_space = null
    ): PromiseInterface
    {
        $request = $this->getFolderUsingGETRequest($root, $max_depth, $max_return, $offset, $work_space);
        return $this->makeAsyncRequest(
            $request,
            \NecLimDul\MarketoRest\Asset\Model\ResponseOfFolderResponse::class,
            [$this, 'getFolderUsingGETHandleException']
        );
    }

    /**
     * Create request for operation 'getFolderUsingGET'
     *
     * @param  string $root Parent folder reference (optional)
     * @param  int $max_depth Maximum folder depth to traverse, Default 2 (optional)
     * @param  int $max_return Maximum number of folders to return. Default 20, maximum 200 (optional)
     * @param  int $offset Integer offset for paging.  Default 0 (optional)
     * @param  string $work_space Name of the workspace (optional)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function getFolderUsingGETRequest(
        string $root = null,
        int $max_depth = null,
        int $max_return = null,
        int $offset = null,
        string $work_space = null
    ): Request
    {

        $resourcePath = '/rest/asset/v1/folders.json';
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';

        // Query parameters.
        $queryParams['root'] = ObjectSerializer::toQueryValue($root);
        $queryParams['maxDepth'] = ObjectSerializer::toQueryValue($max_depth);
        $queryParams['maxReturn'] = ObjectSerializer::toQueryValue($max_return);
        $queryParams['offset'] = ObjectSerializer::toQueryValue($offset);
        $queryParams['workSpace'] = ObjectSerializer::toQueryValue($work_space);
        // Remove any null (optional values).
        $queryParams = array_filter($queryParams, function($v) { return $v !== null; });
        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            ['application/x-www-form-urlencoded']
        );


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $query = Query::build($queryParams);
        return new Request(
            'GET',
            $this->config->getHost() . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Exception handler for updateFolderUsingPOST.
     *
     * @param \NecLimDul\MarketoRest\Asset\ApiException $e Unprocessed exception.
     *
     * @return \NecLimDul\MarketoRest\Asset\ApiException Processed exception.
     */
    protected function updateFolderUsingPOSTHandleException(ApiException $e)
    {
        switch ($e->getCode()) {
            case 200:
                $e->setResponseObject(
                    $this->deserializeResponseBody(
                        $e->getResponseBody(),
                        \NecLimDul\MarketoRest\Asset\Model\ResponseOfFolderResponse::class,
                        $e->getResponseHeaders()
                    )
                );
                break;
        }
        return $e;
    }

    /**
     * Update Folder Metadata
     *
     * @param  int $id Id of the folder to update (required)
     * @param  \NecLimDul\MarketoRest\Asset\Model\UpdateFolderRequest $update_folder_request updateFolderRequest (required)
     *
     * @throws \NecLimDul\MarketoRest\Asset\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \NecLimDul\MarketoRest\Asset\Model\ResponseOfFolderResponse
     */
    public function updateFolderUsingPOST(
        int $id,
        \NecLimDul\MarketoRest\Asset\Model\UpdateFolderRequest $update_folder_request
    ): \NecLimDul\MarketoRest\Asset\Model\ResponseOfFolderResponse
    {
        list($response) = $this->updateFolderUsingPOSTWithHttpInfo($id, $update_folder_request);
        return $response;
    }

    /**
     * Update Folder Metadata
     *
     * @param  int $id Id of the folder to update (required)
     * @param  \NecLimDul\MarketoRest\Asset\Model\UpdateFolderRequest $update_folder_request updateFolderRequest (required)
     *
     * @throws \NecLimDul\MarketoRest\Asset\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \NecLimDul\MarketoRest\Asset\Model\ResponseOfFolderResponse, HTTP status code, HTTP response headers (array of strings)
     * @phpstan-return array{ \NecLimDul\MarketoRest\Asset\Model\ResponseOfFolderResponse, int, array<array<string>>}
     */
    public function updateFolderUsingPOSTWithHttpInfo(
        int $id,
        \NecLimDul\MarketoRest\Asset\Model\UpdateFolderRequest $update_folder_request
    ): array
    {
        $request = $this->updateFolderUsingPOSTRequest($id, $update_folder_request);
        try {
            $response = $this->makeRequest($request);
            return $this->responseToReturn(
                $response,
                \NecLimDul\MarketoRest\Asset\Model\ResponseOfFolderResponse::class
            );
        } catch (ApiException $e) {
            throw $this->updateFolderUsingPOSTHandleException($e);
        }
    }

    /**
     * Update Folder Metadata
     *
     * @param  int $id Id of the folder to update (required)
     * @param  \NecLimDul\MarketoRest\Asset\Model\UpdateFolderRequest $update_folder_request updateFolderRequest (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function updateFolderUsingPOSTAsync(
        int $id,
        \NecLimDul\MarketoRest\Asset\Model\UpdateFolderRequest $update_folder_request
    ): PromiseInterface
    {
        return $this->updateFolderUsingPOSTAsyncWithHttpInfo($id, $update_folder_request)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Update Folder Metadata
     *
     * @param  int $id Id of the folder to update (required)
     * @param  \NecLimDul\MarketoRest\Asset\Model\UpdateFolderRequest $update_folder_request updateFolderRequest (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function updateFolderUsingPOSTAsyncWithHttpInfo(
        int $id,
        \NecLimDul\MarketoRest\Asset\Model\UpdateFolderRequest $update_folder_request
    ): PromiseInterface
    {
        $request = $this->updateFolderUsingPOSTRequest($id, $update_folder_request);
        return $this->makeAsyncRequest(
            $request,
            \NecLimDul\MarketoRest\Asset\Model\ResponseOfFolderResponse::class,
            [$this, 'updateFolderUsingPOSTHandleException']
        );
    }

    /**
     * Create request for operation 'updateFolderUsingPOST'
     *
     * @param  int $id Id of the folder to update (required)
     * @param  \NecLimDul\MarketoRest\Asset\Model\UpdateFolderRequest $update_folder_request updateFolderRequest (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function updateFolderUsingPOSTRequest(
        int $id,
        \NecLimDul\MarketoRest\Asset\Model\UpdateFolderRequest $update_folder_request
    ): Request
    {

        $resourcePath = '/rest/asset/v1/folder/{id}.json';
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';

        // Path parameters.
        $resourcePath = str_replace(
            '{' . 'id' . '}',
            ObjectSerializer::toPathValue($id),
            $resourcePath
        );
        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            ['application/x-www-form-urlencoded']
        );
        $httpBody = ObjectSerializer::toBodyValue($update_folder_request, $headers['Content-Type'] === 'application/json');


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $query = Query::build($queryParams);
        return new Request(
            'POST',
            $this->config->getHost() . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Create http client option
     *
     * @throws \RuntimeException on file opening failure
     * @return array<string, mixed> of http client options
     */
    protected function createHttpClientOption()
    {
        $options = [];
        if ($this->config->getDebug()) {
            $options[RequestOptions::DEBUG] = fopen($this->config->getDebugFile(), 'a');
            if (!$options[RequestOptions::DEBUG]) {
                throw new \RuntimeException('Failed to open the debug file: ' . $this->config->getDebugFile());
            }
        }

        return $options;
    }

    /**
     * Make a request.
     *
     * @param \GuzzleHttp\Psr7\Request $request An initialized request object.
     *
     * @throws \NecLimDul\MarketoRest\Asset\ApiException on non-2xx response
     * @return \Psr\Http\Message\ResponseInterface
     */
    private function makeRequest(Request $request) {
        $options = $this->createHttpClientOption();
        try {
           $response = $this->client->send($request, $options);
        } catch (RequestException $e) {
            $response = $e->getResponse();
            throw new ApiException(
                "[{$e->getCode()}] {$e->getMessage()}",
                (int) $e->getCode(),
                $response ? $response->getHeaders() : null,
                $response ? (string) $response->getBody() : null
            );
        }

        $statusCode = $response->getStatusCode();
        if ($statusCode < 200 || $statusCode > 299) {
            throw new ApiException(
                sprintf(
                    '[%d] Error connecting to the API (%s)',
                    $statusCode,
                    (string) $request->getUri()
                ),
                $statusCode,
                $response->getHeaders(),
                (string) $response->getBody()
            );
        }
        return $response;
    }

    /**
     * Make an async request.
     *
     * @param \GuzzleHttp\Psr7\Request $request An initialized request object.
     * @param class-string $returnType The return type.
     * @param callable $exceptionHandler A callback to process HTTP errors.
     *
     * @throws \NecLimDul\MarketoRest\Lead\ApiException on non-2xx response
     * @return \GuzzleHttp\Promise\PromiseInterface A promise that will return a processed response.
     */
    private function makeAsyncRequest(Request $request, string $returnType, callable $exceptionHandler)
    {
        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    return $this->responseToReturn($response, $returnType);
                },
                function (RequestException $exception) use ($exceptionHandler) {
                    $response = $exception->getResponse();
                    $e = new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $response ? $response->getStatusCode() : 0,
                            (string) $exception->getRequest()->getUri()
                        ),
                        (int) $exception->getCode(),
                        $response ? $response->getHeaders() : null,
                        $response ? (string) $response->getBody() : null
                    );
                    throw $exceptionHandler($e);
                }
            );
    }

    /**
     * Convert a response to a return standard return array.
     *
     * @template T
     * @param \Psr\Http\Message\ResponseInterface $response A response from a request with a serialized body.
     * @param string $returnType The primary return type.
     * @phpstan-param class-string<T> $returnType
     *
     * @return array structured array or response and http info.
     * @phpstan-return array{T, int, array<array<string>>}
     */
    private function responseToReturn(ResponseInterface $response, string $returnType) {
        return [
            $this->deserializeResponseBody($response->getBody(), $returnType),
            $response->getStatusCode(),
            $response->getHeaders()
        ];
    }

    /**
     * Deserialize a response body.
     *
     * @template T
     * @param mixed $responseBody The response body.
     * @param string $returnType The return type.
     * @param array<string, string[]>|null $headers A list of headers from the response.
     * @phpstan-param class-string<T> $returnType
     *
     * @return mixed Either a string or a stream to be passed to a file object.
     * @phpstan-return T
     * @psalm-return T
     */
    private function deserializeResponseBody($responseBody, string $returnType, ?array $headers = [])
    {
        return ObjectSerializer::deserialize(
            $returnType === '\SplFileObject' ? $responseBody : (string) $responseBody,
            $returnType,
            $headers
        );
    }

}
