<?php

/**
 * LandingPageRedirectRulesApi class file.
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

declare(strict_types=1);

namespace NecLimDul\MarketoRest\Asset\Api;

// Library Includes
use GuzzleHttp\Client as GuzzleClient;
use GuzzleHttp\ClientInterface;
use GuzzleHttp\Psr7\HttpFactory;
use Neclimdul\OpenapiPhp\Helper\Client;
use Neclimdul\OpenapiPhp\Helper\RequestFactory;
use Neclimdul\OpenapiPhp\Helper\Response\ApiResponseInterface;
use Neclimdul\OpenapiPhp\Helper\Response\ResponseTypeMap;
// Package Includes
use NecLimDul\MarketoRest\Asset\Configuration;
use NecLimDul\MarketoRest\Asset\HeaderSelector;
use NecLimDul\MarketoRest\Asset\ObjectSerializer;

/**
 * LandingPageRedirectRulesApi
 *
 * The version of the OpenAPI document: 1.0
 * Contact: 
 * Generated by: https://openapi-generator.tech
 * OpenAPI Generator version: 7.13.0
 *
 * @category Class
 * @package  NecLimDul\MarketoRest\Asset
 * @author   OpenAPI Generator team
 * @link     https://openapi-generator.tech
 */
class LandingPageRedirectRulesApi
{
    protected Configuration $config;

    protected HeaderSelector $headerSelector;

    protected int $hostIndex;

    /**
     * @var \Neclimdul\OpenapiPhp\Helper\Client
     */
    private Client $client;

    /**
     * @var \Neclimdul\OpenapiPhp\Helper\RequestFactory<\NecLimDul\MarketoRest\Asset\Model\ModelInterface>
     */
    private RequestFactory $requestFactory;

    /**
     * @param (\GuzzleHttp\ClientInterface&\Psr\Http\Client\ClientInterface)|null $client
     * @param Configuration|null $config
     * @param HeaderSelector|null $selector
     * @param int $hostIndex
     *   (Optional) Host index to select the list of hosts if defined in the spec.
     */
    public function __construct(
        ?ClientInterface $client = null,
        ?Configuration $config = null,
        ?HeaderSelector $selector = null,
        int $hostIndex = 0
    ) {
        $this->config = $config ?: new Configuration();
        $this->headerSelector = $selector ?: new HeaderSelector();
        $this->hostIndex = $hostIndex;
        // TODO Inject me.
        $this->client = new Client(
            $client ?: new GuzzleClient(),
            ObjectSerializer::getDefaultSerializer()->getDeserializer(),
        );
        // TODO Inject me.
        $this->requestFactory = new RequestFactory(
            new HttpFactory(),
            ObjectSerializer::getDefaultSerializer()->getSerializer(),
        );
    }

    /**
     * Set the host index.
     *
     * @param int $hostIndex
     *   Host index (required).
     */
    public function setHostIndex(int $hostIndex): void
    {
        $this->hostIndex = $hostIndex;
    }

    /**
     * Get the host index.
     */
    public function getHostIndex(): int
    {
        return $this->hostIndex;
    }

    /**
     * Get current configuration.
     */
    public function getConfig(): Configuration
    {
        return $this->config;
    }

    /**
     * Create Landing Page Redirect Rule
     *
     * @param string $hostname
     *   The hostname for the landing pages. Branding domain or alias. Max 255 characters
     * @param \NecLimDul\MarketoRest\Asset\Model\RedirectFrom $redirect_from
     * @param \NecLimDul\MarketoRest\Asset\Model\RedirectTo $redirect_to
     * @param bool $async
     *   Set to true to make an async request.
     *
     * @throws \InvalidArgumentException
     * @return \Neclimdul\OpenapiPhp\Helper\Response\ApiResponseInterface
     */
    public function createLandingPageRedirectRuleUsingPOST(
        string $hostname,
        \NecLimDul\MarketoRest\Asset\Model\RedirectFrom $redirect_from,
        \NecLimDul\MarketoRest\Asset\Model\RedirectTo $redirect_to,
        bool $async = false,
    ): ApiResponseInterface {
        $resourcePath = '/rest/asset/v1/redirectRules.json';
        $headers = [];
        if ($this->config->getUserAgent()) {
            $headers['User-Agent'] = $this->config->getUserAgent();
        }
        $headers = array_merge($headers, $this->headerSelector->selectHeaders(
            ['application/json'],
            ['application/x-www-form-urlencoded'],
        ));
        $operationHost = $this->config->getHost();

        $responseMap = new ResponseTypeMap([]);
        $responseMap->setSchema('200', 'application/json', ['type' => '\NecLimDul\MarketoRest\Asset\Model\ResponseOfLandingPageRedirectRules']);
        // TODO figure out header select logic.
        return $this->client->makeRequest(
            $this->requestFactory->createRequest(
                'POST',
                $operationHost . $resourcePath,
                // Query.
                [
                ],
                $headers,
                // has form params
                [
                    'hostname' => ObjectSerializer::toFormValue($hostname),
                    'redirectFrom' => ObjectSerializer::toFormValue($redirect_from),
                    'redirectTo' => ObjectSerializer::toFormValue($redirect_to),
                ],
                '',
            ),
            $responseMap,
            async: $async,
        );
    }

    /**
     * Delete Landing Page Redirect Rule
     *
     * @param int $id
     *   Id of landing page redirect rule
     * @param bool $async
     *   Set to true to make an async request.
     *
     * @throws \InvalidArgumentException
     * @return \Neclimdul\OpenapiPhp\Helper\Response\ApiResponseInterface
     */
    public function deleteLandingPageRedirectRuleUsingPOST(
        int $id,
        bool $async = false,
    ): ApiResponseInterface {
        $resourcePath = str_replace(
            [
                '{' . 'id' . '}',
            ],
            [
                ObjectSerializer::toPathValue($id),
            ],
            '/rest/asset/v1/redirectRule/{id}/delete.json',
        );
        $headers = [];
        if ($this->config->getUserAgent()) {
            $headers['User-Agent'] = $this->config->getUserAgent();
        }
        $headers = array_merge($headers, $this->headerSelector->selectHeaders(
            ['application/json'],
            [],
        ));
        $operationHost = $this->config->getHost();

        $responseMap = new ResponseTypeMap([]);
        $responseMap->setSchema('200', 'application/json', ['type' => '\NecLimDul\MarketoRest\Asset\Model\ResponseOfIdResponse']);
        // TODO figure out header select logic.
        return $this->client->makeRequest(
            $this->requestFactory->createRequest(
                'POST',
                $operationHost . $resourcePath,
                // Query.
                [
                ],
                $headers,
                [],
                '',
            ),
            $responseMap,
            async: $async,
        );
    }

    /**
     * Get Landing Page Domains
     *
     * @param int|null $max_return
     *   Maximum number of landing page domains and domain aliases to return. Max 200, default 20
     * @param int|null $offset
     *   Integer offset for paging
     * @param bool $async
     *   Set to true to make an async request.
     *
     * @throws \InvalidArgumentException
     * @return \Neclimdul\OpenapiPhp\Helper\Response\ApiResponseInterface
     */
    public function getLandingPageDomainsUsingGET(
        null|int $max_return = null,
        null|int $offset = null,
        bool $async = false,
    ): ApiResponseInterface {
        $resourcePath = '/rest/asset/v1/landingPageDomains.json';
        $headers = [];
        if ($this->config->getUserAgent()) {
            $headers['User-Agent'] = $this->config->getUserAgent();
        }
        $headers = array_merge($headers, $this->headerSelector->selectHeaders(
            ['application/json'],
            [],
        ));
        $operationHost = $this->config->getHost();

        $responseMap = new ResponseTypeMap([]);
        $responseMap->setSchema('200', 'application/json', ['type' => '\NecLimDul\MarketoRest\Asset\Model\ResponseOfLandingPageDomains']);
        // TODO figure out header select logic.
        return $this->client->makeRequest(
            $this->requestFactory->createRequest(
                'GET',
                $operationHost . $resourcePath,
                // Query.
                [
                    'maxReturn' => isset($max_return) ? ObjectSerializer::toQueryValue($max_return) : null,
                    'offset' => isset($offset) ? ObjectSerializer::toQueryValue($offset) : null,
                ],
                $headers,
                [],
                '',
            ),
            $responseMap,
            async: $async,
        );
    }

    /**
     * Get Landing Page Redirect Rule by Id
     *
     * @param int $id
     *   Id of landing page redirect rule
     * @param bool $async
     *   Set to true to make an async request.
     *
     * @throws \InvalidArgumentException
     * @return \Neclimdul\OpenapiPhp\Helper\Response\ApiResponseInterface
     */
    public function getLandingPageRedirectRuleByIdUsingGET(
        int $id,
        bool $async = false,
    ): ApiResponseInterface {
        $resourcePath = str_replace(
            [
                '{' . 'id' . '}',
            ],
            [
                ObjectSerializer::toPathValue($id),
            ],
            '/rest/asset/v1/redirectRule/{id}.json',
        );
        $headers = [];
        if ($this->config->getUserAgent()) {
            $headers['User-Agent'] = $this->config->getUserAgent();
        }
        $headers = array_merge($headers, $this->headerSelector->selectHeaders(
            ['application/json'],
            [],
        ));
        $operationHost = $this->config->getHost();

        $responseMap = new ResponseTypeMap([]);
        $responseMap->setSchema('200', 'application/json', ['type' => '\NecLimDul\MarketoRest\Asset\Model\ResponseOfLandingPageRedirectRules']);
        // TODO figure out header select logic.
        return $this->client->makeRequest(
            $this->requestFactory->createRequest(
                'GET',
                $operationHost . $resourcePath,
                // Query.
                [
                ],
                $headers,
                [],
                '',
            ),
            $responseMap,
            async: $async,
        );
    }

    /**
     * Get Landing Page Redirect Rules
     *
     * @param int|null $max_return
     *   Maximum number of landing page redirect rules to return. Max 200, default 20
     * @param int|null $offset
     *   Integer offset for paging
     * @param string|null $redirect_tolanding_page_id
     *   Landing page id of landing page to redirect to
     * @param string|null $redirect_to_path
     *   Path of landing page to redirect to
     * @param string|null $earliest_updated_at
     *   Exclude landing page redirect rules prior to this date. Must be valid ISO-8601 string. See <a href=\"http://developers.marketo.com/rest-api/lead-database/fields/field-types/\">Datetime</a> field type description.
     * @param string|null $latest_updated_at
     *   Exclude landing page redirect rules after this date. Must be valid ISO-8601 string. See <a href=\"http://developers.marketo.com/rest-api/lead-database/fields/field-types/\">Datetime</a> field type description.
     * @param bool $async
     *   Set to true to make an async request.
     *
     * @throws \InvalidArgumentException
     * @return \Neclimdul\OpenapiPhp\Helper\Response\ApiResponseInterface
     */
    public function getLandingPageRedirectRulesUsingGET(
        null|int $max_return = null,
        null|int $offset = null,
        null|string $redirect_tolanding_page_id = null,
        null|string $redirect_to_path = null,
        null|string $earliest_updated_at = null,
        null|string $latest_updated_at = null,
        bool $async = false,
    ): ApiResponseInterface {
        $resourcePath = '/rest/asset/v1/redirectRules.json';
        $headers = [];
        if ($this->config->getUserAgent()) {
            $headers['User-Agent'] = $this->config->getUserAgent();
        }
        $headers = array_merge($headers, $this->headerSelector->selectHeaders(
            ['application/json'],
            [],
        ));
        $operationHost = $this->config->getHost();

        $responseMap = new ResponseTypeMap([]);
        $responseMap->setSchema('200', 'application/json', ['type' => '\NecLimDul\MarketoRest\Asset\Model\ResponseOfLandingPageRedirectRules']);
        // TODO figure out header select logic.
        return $this->client->makeRequest(
            $this->requestFactory->createRequest(
                'GET',
                $operationHost . $resourcePath,
                // Query.
                [
                    'maxReturn' => isset($max_return) ? ObjectSerializer::toQueryValue($max_return) : null,
                    'offset' => isset($offset) ? ObjectSerializer::toQueryValue($offset) : null,
                    'redirectTolandingPageId' => isset($redirect_tolanding_page_id) ? ObjectSerializer::toQueryValue($redirect_tolanding_page_id) : null,
                    'redirectToPath' => isset($redirect_to_path) ? ObjectSerializer::toQueryValue($redirect_to_path) : null,
                    'earliestUpdatedAt' => isset($earliest_updated_at) ? ObjectSerializer::toQueryValue($earliest_updated_at) : null,
                    'latestUpdatedAt' => isset($latest_updated_at) ? ObjectSerializer::toQueryValue($latest_updated_at) : null,
                ],
                $headers,
                [],
                '',
            ),
            $responseMap,
            async: $async,
        );
    }

    /**
     * Update Landing Page Redirect Rule
     *
     * @param int $id
     *   Id of landing page redirect rule
     * @param string|null $hostname
     *   The hostname for the landing pages. Branding domain or alias. Max 255 characters
     * @param \NecLimDul\MarketoRest\Asset\Model\RedirectFrom|null $redirect_from
     * @param \NecLimDul\MarketoRest\Asset\Model\RedirectTo|null $redirect_to
     * @param bool $async
     *   Set to true to make an async request.
     *
     * @throws \InvalidArgumentException
     * @return \Neclimdul\OpenapiPhp\Helper\Response\ApiResponseInterface
     */
    public function updateLandingPageRedirectRuleUsingPOST(
        int $id,
        null|string $hostname = null,
        null|\NecLimDul\MarketoRest\Asset\Model\RedirectFrom $redirect_from = null,
        null|\NecLimDul\MarketoRest\Asset\Model\RedirectTo $redirect_to = null,
        bool $async = false,
    ): ApiResponseInterface {
        $resourcePath = str_replace(
            [
                '{' . 'id' . '}',
            ],
            [
                ObjectSerializer::toPathValue($id),
            ],
            '/rest/asset/v1/redirectRule/{id}.json',
        );
        $headers = [];
        if ($this->config->getUserAgent()) {
            $headers['User-Agent'] = $this->config->getUserAgent();
        }
        $headers = array_merge($headers, $this->headerSelector->selectHeaders(
            ['application/json'],
            ['application/x-www-form-urlencoded'],
        ));
        $operationHost = $this->config->getHost();

        $responseMap = new ResponseTypeMap([]);
        $responseMap->setSchema('200', 'application/json', ['type' => '\NecLimDul\MarketoRest\Asset\Model\ResponseOfLandingPageRedirectRules']);
        // TODO figure out header select logic.
        return $this->client->makeRequest(
            $this->requestFactory->createRequest(
                'POST',
                $operationHost . $resourcePath,
                // Query.
                [
                ],
                $headers,
                // has form params
                [
                    'hostname' => isset($hostname) ? ObjectSerializer::toFormValue($hostname) : null,
                    'redirectFrom' => isset($redirect_from) ? ObjectSerializer::toFormValue($redirect_from) : null,
                    'redirectTo' => isset($redirect_to) ? ObjectSerializer::toFormValue($redirect_to) : null,
                ],
                '',
            ),
            $responseMap,
            async: $async,
        );
    }
}
