<?php

/**
 * LandingPageRedirectRulesApi class file.
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

declare(strict_types=1);

namespace NecLimDul\MarketoRest\Asset\Api;

// Library Includes
use GuzzleHttp\Client as GuzzleClient;
use GuzzleHttp\ClientInterface;
use GuzzleHttp\Psr7\HttpFactory;
use Neclimdul\OpenapiPhp\Helper\Client;
use Neclimdul\OpenapiPhp\Helper\ContentNegotiation;
use Neclimdul\OpenapiPhp\Helper\RequestFactory;
use Neclimdul\OpenapiPhp\Helper\Response\ApiResponseInterface;
use Neclimdul\OpenapiPhp\Helper\Response\ResponseTypeMap;
use Neclimdul\OpenapiPhp\Helper\Serialization\DeserializerInterface;
use Neclimdul\OpenapiPhp\Helper\Serialization\SerializerInterface;
// Package Includes
use NecLimDul\MarketoRest\Asset\Configuration;
use NecLimDul\MarketoRest\Asset\ObjectSerializer;

/**
 * LandingPageRedirectRulesApi
 *
 * The version of the OpenAPI document: 1.0
 * Contact:
 * Generated by: https://openapi-generator.tech
 * OpenAPI Generator version: 7.18.0
 *
 * @category Class
 * @package  NecLimDul\MarketoRest\Asset
 * @author   OpenAPI Generator team
 * @link     https://openapi-generator.tech
 */
class LandingPageRedirectRulesApi
{
    /**
     * @param Configuration $config
     *   API Configuration.
     * @param \Neclimdul\OpenapiPhp\Helper\Client $client
     *   Request client.
     * @param \Neclimdul\OpenapiPhp\Helper\RequestFactory<\NecLimDul\MarketoRest\Asset\Model\ModelInterface> $requestFactory
     *   Request factory.
     * @param \Neclimdul\OpenapiPhp\Helper\Serialization\SerializerInterface<\NecLimDul\MarketoRest\Asset\Model\ModelInterface> $serializer
     *   Serialization service.
     */
    public function __construct(
        public readonly Configuration $config,
        private readonly Client $client,
        private readonly RequestFactory $requestFactory,
        private readonly SerializerInterface $serializer,
    ) {
    }

    /**
     * @param (\GuzzleHttp\ClientInterface&\Psr\Http\Client\ClientInterface)|null $client
     *   Request client.
     * @param Configuration|null $config
     *   API Configuration.
     * @param \Neclimdul\OpenapiPhp\Helper\Serialization\SerializerInterface<\NecLimDul\MarketoRest\Asset\Model\ModelInterface>|null $serializer
     *   Serialization service.
     * @param \Neclimdul\OpenapiPhp\Helper\Serialization\DeserializerInterface|null $deserializer
     *   Deserialization service.
     */
    public static function create(
        ?ClientInterface $client = null,
        ?Configuration $config = null,
        ?SerializerInterface $serializer = null,
        ?DeserializerInterface $deserializer = null,
    ): self {
        $serializer = $serializer ?: ObjectSerializer::getDefaultSerializer();
        $config = $config ?: new Configuration();
        return new self(
            $config,
            new Client(
                $client ?: new GuzzleClient(),
                $deserializer ?: ObjectSerializer::getDefaultDeserializer(),
            ),
            new RequestFactory(
                new HttpFactory(),
                $serializer,
                $config,
            ),
            $serializer,
        );
    }

    /**
     * Get current configuration.
     */
    public function getConfig(): Configuration
    {
        return $this->config;
    }

    /**
     * Create Landing Page Redirect Rule
     *
     * @param string $hostname
     *   The hostname for the landing pages. Branding domain or alias. Max 255 characters
     * @param \NecLimDul\MarketoRest\Asset\Model\RedirectFrom $redirect_from
     * @param \NecLimDul\MarketoRest\Asset\Model\RedirectTo $redirect_to
     * @param bool $async
     *   Set to true to make an async request.
     *
     * @throws \InvalidArgumentException
     * @return \Neclimdul\OpenapiPhp\Helper\Response\ApiResponseInterface
     */
    public function createLandingPageRedirectRuleUsingPOST(
        string $hostname,
        \NecLimDul\MarketoRest\Asset\Model\RedirectFrom $redirect_from,
        \NecLimDul\MarketoRest\Asset\Model\RedirectTo $redirect_to,
        bool $async = false,
    ): ApiResponseInterface {
        $resourcePath = '/rest/asset/v1/redirectRules.json';
        $headers = [];

        $responseMap = new ResponseTypeMap([]);
        $responseMap->setSchema('200', 'application/json', ['type' => '\NecLimDul\MarketoRest\Asset\Model\ResponseOfLandingPageRedirectRules']);

        $request = $this->requestFactory->createRequest(
            'POST',
            $this->config->getHost() . $resourcePath,
            // Query.
            [],
            $headers,
            [
                'hostname' => $this->serializer->toFormValue($hostname),
                'redirectFrom' => $this->serializer->toFormValue($redirect_from),
                'redirectTo' => $this->serializer->toFormValue($redirect_to),
            ],
            '',
            new ContentNegotiation(
                ['application/json'],
                ['application/x-www-form-urlencoded'],
            ),
        );

        return $this->client->makeRequest(
            $request,
            $responseMap,
            async: $async,
        );
    }

    /**
     * Delete Landing Page Redirect Rule
     *
     * @param int $id
     *   Id of landing page redirect rule
     * @param bool $async
     *   Set to true to make an async request.
     *
     * @throws \InvalidArgumentException
     * @return \Neclimdul\OpenapiPhp\Helper\Response\ApiResponseInterface
     */
    public function deleteLandingPageRedirectRuleUsingPOST(
        int $id,
        bool $async = false,
    ): ApiResponseInterface {
        $resourcePath = str_replace(
            [
                '{' . 'id' . '}',
            ],
            [
                $this->serializer->toPathValue($id),
            ],
            '/rest/asset/v1/redirectRule/{id}/delete.json',
        );
        $headers = [];

        $responseMap = new ResponseTypeMap([]);
        $responseMap->setSchema('200', 'application/json', ['type' => '\NecLimDul\MarketoRest\Asset\Model\ResponseOfIdResponse']);

        $request = $this->requestFactory->createRequest(
            'POST',
            $this->config->getHost() . $resourcePath,
            // Query.
            [],
            $headers,
            [],
            '',
            new ContentNegotiation(
                ['application/json'],
                [],
            ),
        );

        return $this->client->makeRequest(
            $request,
            $responseMap,
            async: $async,
        );
    }

    /**
     * Get Landing Page Domains
     *
     * @param int|null $max_return
     *   Maximum number of landing page domains and domain aliases to return. Max 200, default 20
     * @param int|null $offset
     *   Integer offset for paging
     * @param bool $async
     *   Set to true to make an async request.
     *
     * @throws \InvalidArgumentException
     * @return \Neclimdul\OpenapiPhp\Helper\Response\ApiResponseInterface
     */
    public function getLandingPageDomainsUsingGET(
        null|int $max_return = null,
        null|int $offset = null,
        bool $async = false,
    ): ApiResponseInterface {
        $resourcePath = '/rest/asset/v1/landingPageDomains.json';
        $headers = [];

        $responseMap = new ResponseTypeMap([]);
        $responseMap->setSchema('200', 'application/json', ['type' => '\NecLimDul\MarketoRest\Asset\Model\ResponseOfLandingPageDomains']);

        $request = $this->requestFactory->createRequest(
            'GET',
            $this->config->getHost() . $resourcePath,
            // Query.
            [
                'maxReturn' => isset($max_return) ? $this->serializer->toQueryValue($max_return) : null,
                'offset' => isset($offset) ? $this->serializer->toQueryValue($offset) : null,
            ],
            $headers,
            [],
            '',
            new ContentNegotiation(
                ['application/json'],
                [],
            ),
        );

        return $this->client->makeRequest(
            $request,
            $responseMap,
            async: $async,
        );
    }

    /**
     * Get Landing Page Redirect Rule by Id
     *
     * @param int $id
     *   Id of landing page redirect rule
     * @param bool $async
     *   Set to true to make an async request.
     *
     * @throws \InvalidArgumentException
     * @return \Neclimdul\OpenapiPhp\Helper\Response\ApiResponseInterface
     */
    public function getLandingPageRedirectRuleByIdUsingGET(
        int $id,
        bool $async = false,
    ): ApiResponseInterface {
        $resourcePath = str_replace(
            [
                '{' . 'id' . '}',
            ],
            [
                $this->serializer->toPathValue($id),
            ],
            '/rest/asset/v1/redirectRule/{id}.json',
        );
        $headers = [];

        $responseMap = new ResponseTypeMap([]);
        $responseMap->setSchema('200', 'application/json', ['type' => '\NecLimDul\MarketoRest\Asset\Model\ResponseOfLandingPageRedirectRules']);

        $request = $this->requestFactory->createRequest(
            'GET',
            $this->config->getHost() . $resourcePath,
            // Query.
            [],
            $headers,
            [],
            '',
            new ContentNegotiation(
                ['application/json'],
                [],
            ),
        );

        return $this->client->makeRequest(
            $request,
            $responseMap,
            async: $async,
        );
    }

    /**
     * Get Landing Page Redirect Rules
     *
     * @param int|null $max_return
     *   Maximum number of landing page redirect rules to return. Max 200, default 20
     * @param int|null $offset
     *   Integer offset for paging
     * @param string|null $redirect_tolanding_page_id
     *   Landing page id of landing page to redirect to
     * @param string|null $redirect_to_path
     *   Path of landing page to redirect to
     * @param string|null $earliest_updated_at
     *   Exclude landing page redirect rules prior to this date. Must be valid ISO-8601 string. See <a href=\"http://developers.marketo.com/rest-api/lead-database/fields/field-types/\">Datetime</a> field type description.
     * @param string|null $latest_updated_at
     *   Exclude landing page redirect rules after this date. Must be valid ISO-8601 string. See <a href=\"http://developers.marketo.com/rest-api/lead-database/fields/field-types/\">Datetime</a> field type description.
     * @param bool $async
     *   Set to true to make an async request.
     *
     * @throws \InvalidArgumentException
     * @return \Neclimdul\OpenapiPhp\Helper\Response\ApiResponseInterface
     */
    public function getLandingPageRedirectRulesUsingGET(
        null|int $max_return = null,
        null|int $offset = null,
        null|string $redirect_tolanding_page_id = null,
        null|string $redirect_to_path = null,
        null|string $earliest_updated_at = null,
        null|string $latest_updated_at = null,
        bool $async = false,
    ): ApiResponseInterface {
        $resourcePath = '/rest/asset/v1/redirectRules.json';
        $headers = [];

        $responseMap = new ResponseTypeMap([]);
        $responseMap->setSchema('200', 'application/json', ['type' => '\NecLimDul\MarketoRest\Asset\Model\ResponseOfLandingPageRedirectRules']);

        $request = $this->requestFactory->createRequest(
            'GET',
            $this->config->getHost() . $resourcePath,
            // Query.
            [
                'maxReturn' => isset($max_return) ? $this->serializer->toQueryValue($max_return) : null,
                'offset' => isset($offset) ? $this->serializer->toQueryValue($offset) : null,
                'redirectTolandingPageId' => isset($redirect_tolanding_page_id) ? $this->serializer->toQueryValue($redirect_tolanding_page_id) : null,
                'redirectToPath' => isset($redirect_to_path) ? $this->serializer->toQueryValue($redirect_to_path) : null,
                'earliestUpdatedAt' => isset($earliest_updated_at) ? $this->serializer->toQueryValue($earliest_updated_at) : null,
                'latestUpdatedAt' => isset($latest_updated_at) ? $this->serializer->toQueryValue($latest_updated_at) : null,
            ],
            $headers,
            [],
            '',
            new ContentNegotiation(
                ['application/json'],
                [],
            ),
        );

        return $this->client->makeRequest(
            $request,
            $responseMap,
            async: $async,
        );
    }

    /**
     * Update Landing Page Redirect Rule
     *
     * @param int $id
     *   Id of landing page redirect rule
     * @param string|null $hostname
     *   The hostname for the landing pages. Branding domain or alias. Max 255 characters
     * @param \NecLimDul\MarketoRest\Asset\Model\RedirectFrom|null $redirect_from
     * @param \NecLimDul\MarketoRest\Asset\Model\RedirectTo|null $redirect_to
     * @param bool $async
     *   Set to true to make an async request.
     *
     * @throws \InvalidArgumentException
     * @return \Neclimdul\OpenapiPhp\Helper\Response\ApiResponseInterface
     */
    public function updateLandingPageRedirectRuleUsingPOST(
        int $id,
        null|string $hostname = null,
        null|\NecLimDul\MarketoRest\Asset\Model\RedirectFrom $redirect_from = null,
        null|\NecLimDul\MarketoRest\Asset\Model\RedirectTo $redirect_to = null,
        bool $async = false,
    ): ApiResponseInterface {
        $resourcePath = str_replace(
            [
                '{' . 'id' . '}',
            ],
            [
                $this->serializer->toPathValue($id),
            ],
            '/rest/asset/v1/redirectRule/{id}.json',
        );
        $headers = [];

        $responseMap = new ResponseTypeMap([]);
        $responseMap->setSchema('200', 'application/json', ['type' => '\NecLimDul\MarketoRest\Asset\Model\ResponseOfLandingPageRedirectRules']);

        $request = $this->requestFactory->createRequest(
            'POST',
            $this->config->getHost() . $resourcePath,
            // Query.
            [],
            $headers,
            [
                'hostname' => isset($hostname) ? $this->serializer->toFormValue($hostname) : null,
                'redirectFrom' => isset($redirect_from) ? $this->serializer->toFormValue($redirect_from) : null,
                'redirectTo' => isset($redirect_to) ? $this->serializer->toFormValue($redirect_to) : null,
            ],
            '',
            new ContentNegotiation(
                ['application/json'],
                ['application/x-www-form-urlencoded'],
            ),
        );

        return $this->client->makeRequest(
            $request,
            $responseMap,
            async: $async,
        );
    }
}
