<?php

/**
 * SmartListsApi class file.
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

declare(strict_types=1);

namespace NecLimDul\MarketoRest\Asset\Api;

// Library Includes
use GuzzleHttp\Client as GuzzleClient;
use GuzzleHttp\ClientInterface;
use GuzzleHttp\Psr7\HttpFactory;
use Neclimdul\OpenapiPhp\Helper\Client;
use Neclimdul\OpenapiPhp\Helper\ContentNegotiation;
use Neclimdul\OpenapiPhp\Helper\RequestFactory;
use Neclimdul\OpenapiPhp\Helper\Response\ApiResponseInterface;
use Neclimdul\OpenapiPhp\Helper\Response\ResponseTypeMap;
use Neclimdul\OpenapiPhp\Helper\Serialization\DeserializerInterface;
use Neclimdul\OpenapiPhp\Helper\Serialization\SerializerInterface;
// Package Includes
use NecLimDul\MarketoRest\Asset\Configuration;
use NecLimDul\MarketoRest\Asset\ObjectSerializer;

/**
 * SmartListsApi
 *
 * The version of the OpenAPI document: 1.0
 * Contact:
 * Generated by: https://openapi-generator.tech
 * OpenAPI Generator version: 7.21.0
 *
 * @category Class
 * @package  NecLimDul\MarketoRest\Asset
 * @author   OpenAPI Generator team
 * @link     https://openapi-generator.tech
 */
readonly class SmartListsApi
{
    /**
     * @param Configuration $config
     *   API Configuration.
     * @param \Neclimdul\OpenapiPhp\Helper\Client $client
     *   Request client.
     * @param \Neclimdul\OpenapiPhp\Helper\RequestFactory<\NecLimDul\MarketoRest\Asset\Model\ModelInterface> $requestFactory
     *   Request factory.
     * @param \Neclimdul\OpenapiPhp\Helper\Serialization\SerializerInterface<\NecLimDul\MarketoRest\Asset\Model\ModelInterface> $serializer
     *   Serialization service.
     */
    public function __construct(
        public Configuration $config,
        private Client $client,
        private RequestFactory $requestFactory,
        private SerializerInterface $serializer,
    ) {
    }

    /**
     * @param (\GuzzleHttp\ClientInterface&\Psr\Http\Client\ClientInterface)|null $client
     *   Request client.
     * @param Configuration|null $config
     *   API Configuration.
     * @param \Neclimdul\OpenapiPhp\Helper\Serialization\SerializerInterface<\NecLimDul\MarketoRest\Asset\Model\ModelInterface>|null $serializer
     *   Serialization service.
     * @param \Neclimdul\OpenapiPhp\Helper\Serialization\DeserializerInterface|null $deserializer
     *   Deserialization service.
     */
    public static function create(
        ?ClientInterface $client = null,
        ?Configuration $config = null,
        ?SerializerInterface $serializer = null,
        ?DeserializerInterface $deserializer = null,
    ): self {
        $serializer = $serializer ?: ObjectSerializer::getDefaultSerializer();
        $config = $config ?: new Configuration();
        return new self(
            $config,
            new Client(
                $client ?: new GuzzleClient(),
                $deserializer ?: ObjectSerializer::getDefaultDeserializer(),
            ),
            new RequestFactory(
                new HttpFactory(),
                $serializer,
                $config,
            ),
            $serializer,
        );
    }

    /**
     * Get current configuration.
     */
    public function getConfig(): Configuration
    {
        return $this->config;
    }

    /**
     * Clone Smart List
     *
     * @param int $id
     *   Id of smart list to clone
     * @param string $name
     *   Name for the cloned smart list
     * @param \NecLimDul\MarketoRest\Asset\Model\Folder $folder
     * @param string|null $description
     *   Description of the cloned smart list
     * @param bool $async
     *   Set to true to make an async request.
     *
     * @throws \InvalidArgumentException
     * @return \Neclimdul\OpenapiPhp\Helper\Response\ApiResponseInterface
     */
    public function cloneSmartListUsingPOST(
        int $id,
        string $name,
        \NecLimDul\MarketoRest\Asset\Model\Folder $folder,
        null|string $description = null,
        bool $async = false,
    ): ApiResponseInterface {
        $resourcePath = str_replace(
            [
                '{' . 'id' . '}',
            ],
            [
                $this->serializer->toPathValue($id),
            ],
            '/rest/asset/v1/smartList/{id}/clone.json',
        );
        $headers = [];

        $responseMap = new ResponseTypeMap([]);
        $responseMap->setSchema('200', 'application/json', ['type' => '\NecLimDul\MarketoRest\Asset\Model\ResponseOfSmartListResponse']);

        $request = $this->requestFactory->createRequest(
            'POST',
            $this->config->getHost() . $resourcePath,
            // Query.
            [],
            $headers,
            [
                'name' => $this->serializer->toFormValue($name),
                'folder' => $this->serializer->toFormValue($folder),
                'description' => isset($description) ? $this->serializer->toFormValue($description) : null,
            ],
            '',
            new ContentNegotiation(
                ['application/json'],
                ['application/x-www-form-urlencoded'],
            ),
        );

        return $this->client->makeRequest(
            $request,
            $responseMap,
            async: $async,
        );
    }

    /**
     * Delete Smart List
     *
     * @param int $id
     *   Id of the smart list to delete
     * @param bool $async
     *   Set to true to make an async request.
     *
     * @throws \InvalidArgumentException
     * @return \Neclimdul\OpenapiPhp\Helper\Response\ApiResponseInterface
     */
    public function deleteSmartListByIdUsingPOST(
        int $id,
        bool $async = false,
    ): ApiResponseInterface {
        $resourcePath = str_replace(
            [
                '{' . 'id' . '}',
            ],
            [
                $this->serializer->toPathValue($id),
            ],
            '/rest/asset/v1/smartList/{id}/delete.json',
        );
        $headers = [];

        $responseMap = new ResponseTypeMap([]);
        $responseMap->setSchema('200', 'application/json', ['type' => '\NecLimDul\MarketoRest\Asset\Model\ResponseOfIdResponse']);

        $request = $this->requestFactory->createRequest(
            'POST',
            $this->config->getHost() . $resourcePath,
            // Query.
            [],
            $headers,
            [],
            '',
            new ContentNegotiation(
                ['application/json'],
                [],
            ),
        );

        return $this->client->makeRequest(
            $request,
            $responseMap,
            async: $async,
        );
    }

    /**
     * Get Smart List by Id
     *
     * @param int $id
     *   Id of the smart list to retrieve
     * @param bool|null $include_rules
     *   Set true to populate smart list rules. Default false
     * @param bool $async
     *   Set to true to make an async request.
     *
     * @throws \InvalidArgumentException
     * @return \Neclimdul\OpenapiPhp\Helper\Response\ApiResponseInterface
     */
    public function getSmartListByIdUsingGET(
        int $id,
        null|bool $include_rules = null,
        bool $async = false,
    ): ApiResponseInterface {
        $resourcePath = str_replace(
            [
                '{' . 'id' . '}',
            ],
            [
                $this->serializer->toPathValue($id),
            ],
            '/rest/asset/v1/smartList/{id}.json',
        );
        $headers = [];

        $responseMap = new ResponseTypeMap([]);
        $responseMap->setSchema('200', 'application/json', ['type' => '\NecLimDul\MarketoRest\Asset\Model\ResponseOfSmartListResponseWithRules']);

        $request = $this->requestFactory->createRequest(
            'GET',
            $this->config->getHost() . $resourcePath,
            // Query.
            [
                'includeRules' => isset($include_rules) ? $this->serializer->toQueryValue($include_rules) : null,
            ],
            $headers,
            [],
            '',
            new ContentNegotiation(
                ['application/json'],
                [],
            ),
        );

        return $this->client->makeRequest(
            $request,
            $responseMap,
            async: $async,
        );
    }

    /**
     * Get Smart List by Name
     *
     * @param string $name
     *   Name of smart list to retrieve
     * @param bool $async
     *   Set to true to make an async request.
     *
     * @throws \InvalidArgumentException
     * @return \Neclimdul\OpenapiPhp\Helper\Response\ApiResponseInterface
     */
    public function getSmartListByNameUsingGET(
        string $name,
        bool $async = false,
    ): ApiResponseInterface {
        $resourcePath = '/rest/asset/v1/smartList/byName.json';
        $headers = [];

        $responseMap = new ResponseTypeMap([]);
        $responseMap->setSchema('200', 'application/json', ['type' => '\NecLimDul\MarketoRest\Asset\Model\ResponseOfSmartListResponse']);

        $request = $this->requestFactory->createRequest(
            'GET',
            $this->config->getHost() . $resourcePath,
            // Query.
            [
                'name' => $this->serializer->toQueryValue($name),
            ],
            $headers,
            [],
            '',
            new ContentNegotiation(
                ['application/json'],
                [],
            ),
        );

        return $this->client->makeRequest(
            $request,
            $responseMap,
            async: $async,
        );
    }

    /**
     * Get Smart Lists
     *
     * @param string|null $folder
     *   JSON representation of parent folder, with members 'id', and 'type' which may be 'Folder' or 'Program'
     * @param int|null $offset
     *   Integer offset for paging
     * @param int|null $max_return
     *   Maximum number of smart lists to return. Max 200, default 20.
     * @param string|null $earliest_updated_at
     *   Exclude smart lists prior to this date. Must be valid ISO-8601 string. See <a href=\"http://developers.marketo.com/rest-api/lead-database/fields/field-types/\">Datetime</a> field type description.
     * @param string|null $latest_updated_at
     *   Exclude smart lists after this date. Must be valid ISO-8601 string. See <a href=\"http://developers.marketo.com/rest-api/lead-database/fields/field-types/\">Datetime</a> field type description.
     * @param bool $async
     *   Set to true to make an async request.
     *
     * @throws \InvalidArgumentException
     * @return \Neclimdul\OpenapiPhp\Helper\Response\ApiResponseInterface
     */
    public function getSmartListsUsingGET(
        null|string $folder = null,
        null|int $offset = null,
        null|int $max_return = null,
        null|string $earliest_updated_at = null,
        null|string $latest_updated_at = null,
        bool $async = false,
    ): ApiResponseInterface {
        $resourcePath = '/rest/asset/v1/smartLists.json';
        $headers = [];

        $responseMap = new ResponseTypeMap([]);
        $responseMap->setSchema('200', 'application/json', ['type' => '\NecLimDul\MarketoRest\Asset\Model\ResponseOfSmartListResponse']);

        $request = $this->requestFactory->createRequest(
            'GET',
            $this->config->getHost() . $resourcePath,
            // Query.
            [
                'folder' => isset($folder) ? $this->serializer->toQueryValue($folder) : null,
                'offset' => isset($offset) ? $this->serializer->toQueryValue($offset) : null,
                'maxReturn' => isset($max_return) ? $this->serializer->toQueryValue($max_return) : null,
                'earliestUpdatedAt' => isset($earliest_updated_at) ? $this->serializer->toQueryValue($earliest_updated_at) : null,
                'latestUpdatedAt' => isset($latest_updated_at) ? $this->serializer->toQueryValue($latest_updated_at) : null,
            ],
            $headers,
            [],
            '',
            new ContentNegotiation(
                ['application/json'],
                [],
            ),
        );

        return $this->client->makeRequest(
            $request,
            $responseMap,
            async: $async,
        );
    }
}
