<?php
/**
 * StaticListsApi
 *
 * @category Class
 * @package  NecLimDul\MarketoRest\Asset
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Marketo Rest API
 *
 * Marketo Rest API
 *
 * OpenAPI spec version: 1.0
 * Contact: developerfeedback@marketo.com
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 * Swagger Codegen version: 2.4.26
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace NecLimDul\MarketoRest\Asset\Api;

use GuzzleHttp\Client;
use GuzzleHttp\ClientInterface;
use GuzzleHttp\Exception\RequestException;
use GuzzleHttp\Psr7\MultipartStream;
use GuzzleHttp\Psr7\Query;
use GuzzleHttp\Psr7\Request;
use GuzzleHttp\Promise\PromiseInterface;
use GuzzleHttp\RequestOptions;
use Psr\Http\Message\ResponseInterface;
use NecLimDul\MarketoRest\Asset\ApiException;
use NecLimDul\MarketoRest\Asset\Configuration;
use NecLimDul\MarketoRest\Asset\HeaderSelector;
use NecLimDul\MarketoRest\Asset\ObjectSerializer;

/**
 * StaticListsApi Class Doc Comment
 *
 * @category Class
 * @package  NecLimDul\MarketoRest\Asset
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class StaticListsApi
{

    /**
     * @var ClientInterface
     */
    protected $client;

    /**
     * @var Configuration
     */
    protected $config;

    /**
     * @var HeaderSelector
     */
    protected $headerSelector;

    /**
     * @var int Host index
     */
    protected $hostIndex;

    /**
     * @param ClientInterface|null $client
     * @param Configuration|null   $config
     * @param HeaderSelector|null  $selector
     * @param int                  $hostIndex (Optional) host index to select the list of hosts if defined in the OpenAPI spec
     */
    public function __construct(
        ClientInterface $client = null,
        Configuration $config = null,
        HeaderSelector $selector = null,
        $hostIndex = 0
    ) {
        $this->client = $client ?: new Client();
        $this->config = $config ?: new Configuration();
        $this->headerSelector = $selector ?: new HeaderSelector();
        $this->hostIndex = $hostIndex;
    }

    /**
     * Set the host index
     *
     * @param int $hostIndex Host index (required)
     */
    public function setHostIndex($hostIndex): void
    {
        $this->hostIndex = $hostIndex;
    }

    /**
     * Get the host index
     *
     * @return int Host index
     */
    public function getHostIndex()
    {
        return $this->hostIndex;
    }

    /**
     * @return Configuration
     */
    public function getConfig()
    {
        return $this->config;
    }

    /**
     * Exception handler for createStaticListUsingPOST.
     *
     * @param \NecLimDul\MarketoRest\Asset\ApiException $e Unprocessed exception.
     *
     * @return \NecLimDul\MarketoRest\Asset\ApiException Processed exception.
     */
    protected function createStaticListUsingPOSTHandleException(ApiException $e)
    {
        switch ($e->getCode()) {
            case 200:
                $e->setResponseObject(
                    $this->deserializeResponseBody(
                        $e->getResponseBody(),
                        \NecLimDul\MarketoRest\Asset\Model\ResponseOfStaticListResponse::class,
                        $e->getResponseHeaders()
                    )
                );
                break;
        }
        return $e;
    }

    /**
     * Create Static List
     *
     * @param  \NecLimDul\MarketoRest\Asset\Model\CreateStaticListRequest $create_static_list_request createStaticListRequest (required)
     *
     * @throws \NecLimDul\MarketoRest\Asset\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \NecLimDul\MarketoRest\Asset\Model\ResponseOfStaticListResponse
     */
    public function createStaticListUsingPOST(
        \NecLimDul\MarketoRest\Asset\Model\CreateStaticListRequest $create_static_list_request
    ): \NecLimDul\MarketoRest\Asset\Model\ResponseOfStaticListResponse
    {
        list($response) = $this->createStaticListUsingPOSTWithHttpInfo($create_static_list_request);
        return $response;
    }

    /**
     * Create Static List
     *
     * @param  \NecLimDul\MarketoRest\Asset\Model\CreateStaticListRequest $create_static_list_request createStaticListRequest (required)
     *
     * @throws \NecLimDul\MarketoRest\Asset\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \NecLimDul\MarketoRest\Asset\Model\ResponseOfStaticListResponse, HTTP status code, HTTP response headers (array of strings)
     * @phpstan-return array{ \NecLimDul\MarketoRest\Asset\Model\ResponseOfStaticListResponse, int, array<array<string>>}
     */
    public function createStaticListUsingPOSTWithHttpInfo(
        \NecLimDul\MarketoRest\Asset\Model\CreateStaticListRequest $create_static_list_request
    ): array
    {
        $request = $this->createStaticListUsingPOSTRequest($create_static_list_request);
        try {
            $response = $this->makeRequest($request);
            return $this->responseToReturn(
                $response,
                \NecLimDul\MarketoRest\Asset\Model\ResponseOfStaticListResponse::class
            );
        } catch (ApiException $e) {
            throw $this->createStaticListUsingPOSTHandleException($e);
        }
    }

    /**
     * Create Static List
     *
     * @param  \NecLimDul\MarketoRest\Asset\Model\CreateStaticListRequest $create_static_list_request createStaticListRequest (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function createStaticListUsingPOSTAsync(
        \NecLimDul\MarketoRest\Asset\Model\CreateStaticListRequest $create_static_list_request
    ): PromiseInterface
    {
        return $this->createStaticListUsingPOSTAsyncWithHttpInfo($create_static_list_request)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Create Static List
     *
     * @param  \NecLimDul\MarketoRest\Asset\Model\CreateStaticListRequest $create_static_list_request createStaticListRequest (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function createStaticListUsingPOSTAsyncWithHttpInfo(
        \NecLimDul\MarketoRest\Asset\Model\CreateStaticListRequest $create_static_list_request
    ): PromiseInterface
    {
        $request = $this->createStaticListUsingPOSTRequest($create_static_list_request);
        return $this->makeAsyncRequest(
            $request,
            \NecLimDul\MarketoRest\Asset\Model\ResponseOfStaticListResponse::class,
            [$this, 'createStaticListUsingPOSTHandleException']
        );
    }

    /**
     * Create request for operation 'createStaticListUsingPOST'
     *
     * @param  \NecLimDul\MarketoRest\Asset\Model\CreateStaticListRequest $create_static_list_request createStaticListRequest (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function createStaticListUsingPOSTRequest(
        \NecLimDul\MarketoRest\Asset\Model\CreateStaticListRequest $create_static_list_request
    ): Request
    {

        $resourcePath = '/rest/asset/v1/staticLists.json';
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            ['application/x-www-form-urlencoded']
        );
        $httpBody = ObjectSerializer::toBodyValue($create_static_list_request, $headers['Content-Type'] === 'application/json');


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $query = Query::build($queryParams);
        return new Request(
            'POST',
            $this->config->getHost() . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Exception handler for deleteStaticListByIdUsingPOST.
     *
     * @param \NecLimDul\MarketoRest\Asset\ApiException $e Unprocessed exception.
     *
     * @return \NecLimDul\MarketoRest\Asset\ApiException Processed exception.
     */
    protected function deleteStaticListByIdUsingPOSTHandleException(ApiException $e)
    {
        switch ($e->getCode()) {
            case 200:
                $e->setResponseObject(
                    $this->deserializeResponseBody(
                        $e->getResponseBody(),
                        \NecLimDul\MarketoRest\Asset\Model\ResponseOfIdResponse::class,
                        $e->getResponseHeaders()
                    )
                );
                break;
        }
        return $e;
    }

    /**
     * Delete Static List
     *
     * @param  int $id Id of the static list to delete (required)
     *
     * @throws \NecLimDul\MarketoRest\Asset\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \NecLimDul\MarketoRest\Asset\Model\ResponseOfIdResponse
     */
    public function deleteStaticListByIdUsingPOST(
        int $id
    ): \NecLimDul\MarketoRest\Asset\Model\ResponseOfIdResponse
    {
        list($response) = $this->deleteStaticListByIdUsingPOSTWithHttpInfo($id);
        return $response;
    }

    /**
     * Delete Static List
     *
     * @param  int $id Id of the static list to delete (required)
     *
     * @throws \NecLimDul\MarketoRest\Asset\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \NecLimDul\MarketoRest\Asset\Model\ResponseOfIdResponse, HTTP status code, HTTP response headers (array of strings)
     * @phpstan-return array{ \NecLimDul\MarketoRest\Asset\Model\ResponseOfIdResponse, int, array<array<string>>}
     */
    public function deleteStaticListByIdUsingPOSTWithHttpInfo(
        int $id
    ): array
    {
        $request = $this->deleteStaticListByIdUsingPOSTRequest($id);
        try {
            $response = $this->makeRequest($request);
            return $this->responseToReturn(
                $response,
                \NecLimDul\MarketoRest\Asset\Model\ResponseOfIdResponse::class
            );
        } catch (ApiException $e) {
            throw $this->deleteStaticListByIdUsingPOSTHandleException($e);
        }
    }

    /**
     * Delete Static List
     *
     * @param  int $id Id of the static list to delete (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function deleteStaticListByIdUsingPOSTAsync(
        int $id
    ): PromiseInterface
    {
        return $this->deleteStaticListByIdUsingPOSTAsyncWithHttpInfo($id)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Delete Static List
     *
     * @param  int $id Id of the static list to delete (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function deleteStaticListByIdUsingPOSTAsyncWithHttpInfo(
        int $id
    ): PromiseInterface
    {
        $request = $this->deleteStaticListByIdUsingPOSTRequest($id);
        return $this->makeAsyncRequest(
            $request,
            \NecLimDul\MarketoRest\Asset\Model\ResponseOfIdResponse::class,
            [$this, 'deleteStaticListByIdUsingPOSTHandleException']
        );
    }

    /**
     * Create request for operation 'deleteStaticListByIdUsingPOST'
     *
     * @param  int $id Id of the static list to delete (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function deleteStaticListByIdUsingPOSTRequest(
        int $id
    ): Request
    {

        $resourcePath = '/rest/asset/v1/staticList/{id}/delete.json';
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';

        // Path parameters.
        $resourcePath = str_replace(
            '{' . 'id' . '}',
            ObjectSerializer::toPathValue($id),
            $resourcePath
        );
        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            ['application/x-www-form-urlencoded']
        );


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $query = Query::build($queryParams);
        return new Request(
            'POST',
            $this->config->getHost() . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Exception handler for getStaticListByIdUsingGET.
     *
     * @param \NecLimDul\MarketoRest\Asset\ApiException $e Unprocessed exception.
     *
     * @return \NecLimDul\MarketoRest\Asset\ApiException Processed exception.
     */
    protected function getStaticListByIdUsingGETHandleException(ApiException $e)
    {
        switch ($e->getCode()) {
            case 200:
                $e->setResponseObject(
                    $this->deserializeResponseBody(
                        $e->getResponseBody(),
                        \NecLimDul\MarketoRest\Asset\Model\ResponseOfStaticListResponse::class,
                        $e->getResponseHeaders()
                    )
                );
                break;
        }
        return $e;
    }

    /**
     * Get Static List by Id
     *
     * @param  int $id Id of the static list to retrieve (required)
     *
     * @throws \NecLimDul\MarketoRest\Asset\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \NecLimDul\MarketoRest\Asset\Model\ResponseOfStaticListResponse
     */
    public function getStaticListByIdUsingGET(
        int $id
    ): \NecLimDul\MarketoRest\Asset\Model\ResponseOfStaticListResponse
    {
        list($response) = $this->getStaticListByIdUsingGETWithHttpInfo($id);
        return $response;
    }

    /**
     * Get Static List by Id
     *
     * @param  int $id Id of the static list to retrieve (required)
     *
     * @throws \NecLimDul\MarketoRest\Asset\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \NecLimDul\MarketoRest\Asset\Model\ResponseOfStaticListResponse, HTTP status code, HTTP response headers (array of strings)
     * @phpstan-return array{ \NecLimDul\MarketoRest\Asset\Model\ResponseOfStaticListResponse, int, array<array<string>>}
     */
    public function getStaticListByIdUsingGETWithHttpInfo(
        int $id
    ): array
    {
        $request = $this->getStaticListByIdUsingGETRequest($id);
        try {
            $response = $this->makeRequest($request);
            return $this->responseToReturn(
                $response,
                \NecLimDul\MarketoRest\Asset\Model\ResponseOfStaticListResponse::class
            );
        } catch (ApiException $e) {
            throw $this->getStaticListByIdUsingGETHandleException($e);
        }
    }

    /**
     * Get Static List by Id
     *
     * @param  int $id Id of the static list to retrieve (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getStaticListByIdUsingGETAsync(
        int $id
    ): PromiseInterface
    {
        return $this->getStaticListByIdUsingGETAsyncWithHttpInfo($id)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Get Static List by Id
     *
     * @param  int $id Id of the static list to retrieve (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getStaticListByIdUsingGETAsyncWithHttpInfo(
        int $id
    ): PromiseInterface
    {
        $request = $this->getStaticListByIdUsingGETRequest($id);
        return $this->makeAsyncRequest(
            $request,
            \NecLimDul\MarketoRest\Asset\Model\ResponseOfStaticListResponse::class,
            [$this, 'getStaticListByIdUsingGETHandleException']
        );
    }

    /**
     * Create request for operation 'getStaticListByIdUsingGET'
     *
     * @param  int $id Id of the static list to retrieve (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function getStaticListByIdUsingGETRequest(
        int $id
    ): Request
    {

        $resourcePath = '/rest/asset/v1/staticList/{id}.json';
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';

        // Path parameters.
        $resourcePath = str_replace(
            '{' . 'id' . '}',
            ObjectSerializer::toPathValue($id),
            $resourcePath
        );
        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            ['application/x-www-form-urlencoded']
        );


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $query = Query::build($queryParams);
        return new Request(
            'GET',
            $this->config->getHost() . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Exception handler for getStaticListByNameUsingGET.
     *
     * @param \NecLimDul\MarketoRest\Asset\ApiException $e Unprocessed exception.
     *
     * @return \NecLimDul\MarketoRest\Asset\ApiException Processed exception.
     */
    protected function getStaticListByNameUsingGETHandleException(ApiException $e)
    {
        switch ($e->getCode()) {
            case 200:
                $e->setResponseObject(
                    $this->deserializeResponseBody(
                        $e->getResponseBody(),
                        \NecLimDul\MarketoRest\Asset\Model\ResponseOfStaticListResponse::class,
                        $e->getResponseHeaders()
                    )
                );
                break;
        }
        return $e;
    }

    /**
     * Get Static List by Name
     *
     * @param  string $name Name of static list to retrieve (required)
     *
     * @throws \NecLimDul\MarketoRest\Asset\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \NecLimDul\MarketoRest\Asset\Model\ResponseOfStaticListResponse
     */
    public function getStaticListByNameUsingGET(
        string $name
    ): \NecLimDul\MarketoRest\Asset\Model\ResponseOfStaticListResponse
    {
        list($response) = $this->getStaticListByNameUsingGETWithHttpInfo($name);
        return $response;
    }

    /**
     * Get Static List by Name
     *
     * @param  string $name Name of static list to retrieve (required)
     *
     * @throws \NecLimDul\MarketoRest\Asset\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \NecLimDul\MarketoRest\Asset\Model\ResponseOfStaticListResponse, HTTP status code, HTTP response headers (array of strings)
     * @phpstan-return array{ \NecLimDul\MarketoRest\Asset\Model\ResponseOfStaticListResponse, int, array<array<string>>}
     */
    public function getStaticListByNameUsingGETWithHttpInfo(
        string $name
    ): array
    {
        $request = $this->getStaticListByNameUsingGETRequest($name);
        try {
            $response = $this->makeRequest($request);
            return $this->responseToReturn(
                $response,
                \NecLimDul\MarketoRest\Asset\Model\ResponseOfStaticListResponse::class
            );
        } catch (ApiException $e) {
            throw $this->getStaticListByNameUsingGETHandleException($e);
        }
    }

    /**
     * Get Static List by Name
     *
     * @param  string $name Name of static list to retrieve (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getStaticListByNameUsingGETAsync(
        string $name
    ): PromiseInterface
    {
        return $this->getStaticListByNameUsingGETAsyncWithHttpInfo($name)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Get Static List by Name
     *
     * @param  string $name Name of static list to retrieve (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getStaticListByNameUsingGETAsyncWithHttpInfo(
        string $name
    ): PromiseInterface
    {
        $request = $this->getStaticListByNameUsingGETRequest($name);
        return $this->makeAsyncRequest(
            $request,
            \NecLimDul\MarketoRest\Asset\Model\ResponseOfStaticListResponse::class,
            [$this, 'getStaticListByNameUsingGETHandleException']
        );
    }

    /**
     * Create request for operation 'getStaticListByNameUsingGET'
     *
     * @param  string $name Name of static list to retrieve (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function getStaticListByNameUsingGETRequest(
        string $name
    ): Request
    {

        $resourcePath = '/rest/asset/v1/staticList/byName.json';
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';

        // Query parameters.
        $queryParams['name'] = ObjectSerializer::toQueryValue($name);
        // Remove any null (optional values).
        $queryParams = array_filter($queryParams, function($v) { return $v !== null; });
        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            ['application/x-www-form-urlencoded']
        );


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $query = Query::build($queryParams);
        return new Request(
            'GET',
            $this->config->getHost() . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Exception handler for getStaticListsUsingGET.
     *
     * @param \NecLimDul\MarketoRest\Asset\ApiException $e Unprocessed exception.
     *
     * @return \NecLimDul\MarketoRest\Asset\ApiException Processed exception.
     */
    protected function getStaticListsUsingGETHandleException(ApiException $e)
    {
        switch ($e->getCode()) {
            case 200:
                $e->setResponseObject(
                    $this->deserializeResponseBody(
                        $e->getResponseBody(),
                        \NecLimDul\MarketoRest\Asset\Model\ResponseOfStaticListResponse::class,
                        $e->getResponseHeaders()
                    )
                );
                break;
        }
        return $e;
    }

    /**
     * Get Static Lists
     *
     * @param  string $folder JSON representation of parent folder, with members &#39;id&#39;, and &#39;type&#39; which may be &#39;Folder&#39; or &#39;Program&#39; (optional)
     * @param  int $offset Integer offset for paging (optional)
     * @param  int $max_return Maximum number of static lists to return.  Max 200, default 20. (optional)
     * @param  string $earliest_updated_at Exclude static lists prior to this date. Must be valid ISO-8601 string.  See &lt;a href&#x3D;\&quot;http://developers.marketo.com/rest-api/lead-database/fields/field-types/\&quot;&gt;Datetime&lt;/a&gt; field type description. (optional)
     * @param  string $latest_updated_at Exclude static lists after this date. Must be valid ISO-8601 string.  See &lt;a href&#x3D;\&quot;http://developers.marketo.com/rest-api/lead-database/fields/field-types/\&quot;&gt;Datetime&lt;/a&gt; field type description. (optional)
     *
     * @throws \NecLimDul\MarketoRest\Asset\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \NecLimDul\MarketoRest\Asset\Model\ResponseOfStaticListResponse
     */
    public function getStaticListsUsingGET(
        string $folder = null,
        int $offset = null,
        int $max_return = null,
        string $earliest_updated_at = null,
        string $latest_updated_at = null
    ): \NecLimDul\MarketoRest\Asset\Model\ResponseOfStaticListResponse
    {
        list($response) = $this->getStaticListsUsingGETWithHttpInfo($folder, $offset, $max_return, $earliest_updated_at, $latest_updated_at);
        return $response;
    }

    /**
     * Get Static Lists
     *
     * @param  string $folder JSON representation of parent folder, with members &#39;id&#39;, and &#39;type&#39; which may be &#39;Folder&#39; or &#39;Program&#39; (optional)
     * @param  int $offset Integer offset for paging (optional)
     * @param  int $max_return Maximum number of static lists to return.  Max 200, default 20. (optional)
     * @param  string $earliest_updated_at Exclude static lists prior to this date. Must be valid ISO-8601 string.  See &lt;a href&#x3D;\&quot;http://developers.marketo.com/rest-api/lead-database/fields/field-types/\&quot;&gt;Datetime&lt;/a&gt; field type description. (optional)
     * @param  string $latest_updated_at Exclude static lists after this date. Must be valid ISO-8601 string.  See &lt;a href&#x3D;\&quot;http://developers.marketo.com/rest-api/lead-database/fields/field-types/\&quot;&gt;Datetime&lt;/a&gt; field type description. (optional)
     *
     * @throws \NecLimDul\MarketoRest\Asset\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \NecLimDul\MarketoRest\Asset\Model\ResponseOfStaticListResponse, HTTP status code, HTTP response headers (array of strings)
     * @phpstan-return array{ \NecLimDul\MarketoRest\Asset\Model\ResponseOfStaticListResponse, int, array<array<string>>}
     */
    public function getStaticListsUsingGETWithHttpInfo(
        string $folder = null,
        int $offset = null,
        int $max_return = null,
        string $earliest_updated_at = null,
        string $latest_updated_at = null
    ): array
    {
        $request = $this->getStaticListsUsingGETRequest($folder, $offset, $max_return, $earliest_updated_at, $latest_updated_at);
        try {
            $response = $this->makeRequest($request);
            return $this->responseToReturn(
                $response,
                \NecLimDul\MarketoRest\Asset\Model\ResponseOfStaticListResponse::class
            );
        } catch (ApiException $e) {
            throw $this->getStaticListsUsingGETHandleException($e);
        }
    }

    /**
     * Get Static Lists
     *
     * @param  string $folder JSON representation of parent folder, with members &#39;id&#39;, and &#39;type&#39; which may be &#39;Folder&#39; or &#39;Program&#39; (optional)
     * @param  int $offset Integer offset for paging (optional)
     * @param  int $max_return Maximum number of static lists to return.  Max 200, default 20. (optional)
     * @param  string $earliest_updated_at Exclude static lists prior to this date. Must be valid ISO-8601 string.  See &lt;a href&#x3D;\&quot;http://developers.marketo.com/rest-api/lead-database/fields/field-types/\&quot;&gt;Datetime&lt;/a&gt; field type description. (optional)
     * @param  string $latest_updated_at Exclude static lists after this date. Must be valid ISO-8601 string.  See &lt;a href&#x3D;\&quot;http://developers.marketo.com/rest-api/lead-database/fields/field-types/\&quot;&gt;Datetime&lt;/a&gt; field type description. (optional)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getStaticListsUsingGETAsync(
        string $folder = null,
        int $offset = null,
        int $max_return = null,
        string $earliest_updated_at = null,
        string $latest_updated_at = null
    ): PromiseInterface
    {
        return $this->getStaticListsUsingGETAsyncWithHttpInfo($folder, $offset, $max_return, $earliest_updated_at, $latest_updated_at)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Get Static Lists
     *
     * @param  string $folder JSON representation of parent folder, with members &#39;id&#39;, and &#39;type&#39; which may be &#39;Folder&#39; or &#39;Program&#39; (optional)
     * @param  int $offset Integer offset for paging (optional)
     * @param  int $max_return Maximum number of static lists to return.  Max 200, default 20. (optional)
     * @param  string $earliest_updated_at Exclude static lists prior to this date. Must be valid ISO-8601 string.  See &lt;a href&#x3D;\&quot;http://developers.marketo.com/rest-api/lead-database/fields/field-types/\&quot;&gt;Datetime&lt;/a&gt; field type description. (optional)
     * @param  string $latest_updated_at Exclude static lists after this date. Must be valid ISO-8601 string.  See &lt;a href&#x3D;\&quot;http://developers.marketo.com/rest-api/lead-database/fields/field-types/\&quot;&gt;Datetime&lt;/a&gt; field type description. (optional)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getStaticListsUsingGETAsyncWithHttpInfo(
        string $folder = null,
        int $offset = null,
        int $max_return = null,
        string $earliest_updated_at = null,
        string $latest_updated_at = null
    ): PromiseInterface
    {
        $request = $this->getStaticListsUsingGETRequest($folder, $offset, $max_return, $earliest_updated_at, $latest_updated_at);
        return $this->makeAsyncRequest(
            $request,
            \NecLimDul\MarketoRest\Asset\Model\ResponseOfStaticListResponse::class,
            [$this, 'getStaticListsUsingGETHandleException']
        );
    }

    /**
     * Create request for operation 'getStaticListsUsingGET'
     *
     * @param  string $folder JSON representation of parent folder, with members &#39;id&#39;, and &#39;type&#39; which may be &#39;Folder&#39; or &#39;Program&#39; (optional)
     * @param  int $offset Integer offset for paging (optional)
     * @param  int $max_return Maximum number of static lists to return.  Max 200, default 20. (optional)
     * @param  string $earliest_updated_at Exclude static lists prior to this date. Must be valid ISO-8601 string.  See &lt;a href&#x3D;\&quot;http://developers.marketo.com/rest-api/lead-database/fields/field-types/\&quot;&gt;Datetime&lt;/a&gt; field type description. (optional)
     * @param  string $latest_updated_at Exclude static lists after this date. Must be valid ISO-8601 string.  See &lt;a href&#x3D;\&quot;http://developers.marketo.com/rest-api/lead-database/fields/field-types/\&quot;&gt;Datetime&lt;/a&gt; field type description. (optional)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function getStaticListsUsingGETRequest(
        string $folder = null,
        int $offset = null,
        int $max_return = null,
        string $earliest_updated_at = null,
        string $latest_updated_at = null
    ): Request
    {

        $resourcePath = '/rest/asset/v1/staticLists.json';
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';

        // Query parameters.
        $queryParams['folder'] = ObjectSerializer::toQueryValue($folder);
        $queryParams['offset'] = ObjectSerializer::toQueryValue($offset);
        $queryParams['maxReturn'] = ObjectSerializer::toQueryValue($max_return);
        $queryParams['earliestUpdatedAt'] = ObjectSerializer::toQueryValue($earliest_updated_at);
        $queryParams['latestUpdatedAt'] = ObjectSerializer::toQueryValue($latest_updated_at);
        // Remove any null (optional values).
        $queryParams = array_filter($queryParams, function($v) { return $v !== null; });
        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            ['application/x-www-form-urlencoded']
        );


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $query = Query::build($queryParams);
        return new Request(
            'GET',
            $this->config->getHost() . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Exception handler for updateStaticListUsingPOST.
     *
     * @param \NecLimDul\MarketoRest\Asset\ApiException $e Unprocessed exception.
     *
     * @return \NecLimDul\MarketoRest\Asset\ApiException Processed exception.
     */
    protected function updateStaticListUsingPOSTHandleException(ApiException $e)
    {
        switch ($e->getCode()) {
            case 200:
                $e->setResponseObject(
                    $this->deserializeResponseBody(
                        $e->getResponseBody(),
                        \NecLimDul\MarketoRest\Asset\Model\ResponseOfStaticListResponse::class,
                        $e->getResponseHeaders()
                    )
                );
                break;
        }
        return $e;
    }

    /**
     * Update Static List Metadata
     *
     * @param  int $id Id of static list to update (required)
     * @param  \NecLimDul\MarketoRest\Asset\Model\UpdateStaticListRequest $update_static_list_request updateStaticListRequest (required)
     *
     * @throws \NecLimDul\MarketoRest\Asset\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \NecLimDul\MarketoRest\Asset\Model\ResponseOfStaticListResponse
     */
    public function updateStaticListUsingPOST(
        int $id,
        \NecLimDul\MarketoRest\Asset\Model\UpdateStaticListRequest $update_static_list_request
    ): \NecLimDul\MarketoRest\Asset\Model\ResponseOfStaticListResponse
    {
        list($response) = $this->updateStaticListUsingPOSTWithHttpInfo($id, $update_static_list_request);
        return $response;
    }

    /**
     * Update Static List Metadata
     *
     * @param  int $id Id of static list to update (required)
     * @param  \NecLimDul\MarketoRest\Asset\Model\UpdateStaticListRequest $update_static_list_request updateStaticListRequest (required)
     *
     * @throws \NecLimDul\MarketoRest\Asset\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \NecLimDul\MarketoRest\Asset\Model\ResponseOfStaticListResponse, HTTP status code, HTTP response headers (array of strings)
     * @phpstan-return array{ \NecLimDul\MarketoRest\Asset\Model\ResponseOfStaticListResponse, int, array<array<string>>}
     */
    public function updateStaticListUsingPOSTWithHttpInfo(
        int $id,
        \NecLimDul\MarketoRest\Asset\Model\UpdateStaticListRequest $update_static_list_request
    ): array
    {
        $request = $this->updateStaticListUsingPOSTRequest($id, $update_static_list_request);
        try {
            $response = $this->makeRequest($request);
            return $this->responseToReturn(
                $response,
                \NecLimDul\MarketoRest\Asset\Model\ResponseOfStaticListResponse::class
            );
        } catch (ApiException $e) {
            throw $this->updateStaticListUsingPOSTHandleException($e);
        }
    }

    /**
     * Update Static List Metadata
     *
     * @param  int $id Id of static list to update (required)
     * @param  \NecLimDul\MarketoRest\Asset\Model\UpdateStaticListRequest $update_static_list_request updateStaticListRequest (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function updateStaticListUsingPOSTAsync(
        int $id,
        \NecLimDul\MarketoRest\Asset\Model\UpdateStaticListRequest $update_static_list_request
    ): PromiseInterface
    {
        return $this->updateStaticListUsingPOSTAsyncWithHttpInfo($id, $update_static_list_request)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Update Static List Metadata
     *
     * @param  int $id Id of static list to update (required)
     * @param  \NecLimDul\MarketoRest\Asset\Model\UpdateStaticListRequest $update_static_list_request updateStaticListRequest (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function updateStaticListUsingPOSTAsyncWithHttpInfo(
        int $id,
        \NecLimDul\MarketoRest\Asset\Model\UpdateStaticListRequest $update_static_list_request
    ): PromiseInterface
    {
        $request = $this->updateStaticListUsingPOSTRequest($id, $update_static_list_request);
        return $this->makeAsyncRequest(
            $request,
            \NecLimDul\MarketoRest\Asset\Model\ResponseOfStaticListResponse::class,
            [$this, 'updateStaticListUsingPOSTHandleException']
        );
    }

    /**
     * Create request for operation 'updateStaticListUsingPOST'
     *
     * @param  int $id Id of static list to update (required)
     * @param  \NecLimDul\MarketoRest\Asset\Model\UpdateStaticListRequest $update_static_list_request updateStaticListRequest (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function updateStaticListUsingPOSTRequest(
        int $id,
        \NecLimDul\MarketoRest\Asset\Model\UpdateStaticListRequest $update_static_list_request
    ): Request
    {

        $resourcePath = '/rest/asset/v1/staticList/{id}.json';
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';

        // Path parameters.
        $resourcePath = str_replace(
            '{' . 'id' . '}',
            ObjectSerializer::toPathValue($id),
            $resourcePath
        );
        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            ['application/x-www-form-urlencoded']
        );
        $httpBody = ObjectSerializer::toBodyValue($update_static_list_request, $headers['Content-Type'] === 'application/json');


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $query = Query::build($queryParams);
        return new Request(
            'POST',
            $this->config->getHost() . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Create http client option
     *
     * @throws \RuntimeException on file opening failure
     * @return array<string, mixed> of http client options
     */
    protected function createHttpClientOption()
    {
        $options = [];
        if ($this->config->getDebug()) {
            $options[RequestOptions::DEBUG] = fopen($this->config->getDebugFile(), 'a');
            if (!$options[RequestOptions::DEBUG]) {
                throw new \RuntimeException('Failed to open the debug file: ' . $this->config->getDebugFile());
            }
        }

        return $options;
    }

    /**
     * Make a request.
     *
     * @param \GuzzleHttp\Psr7\Request $request An initialized request object.
     *
     * @throws \NecLimDul\MarketoRest\Asset\ApiException on non-2xx response
     * @return \Psr\Http\Message\ResponseInterface
     */
    private function makeRequest(Request $request) {
        $options = $this->createHttpClientOption();
        try {
           $response = $this->client->send($request, $options);
        } catch (RequestException $e) {
            $response = $e->getResponse();
            throw new ApiException(
                "[{$e->getCode()}] {$e->getMessage()}",
                (int) $e->getCode(),
                $response ? $response->getHeaders() : null,
                $response ? (string) $response->getBody() : null
            );
        }

        $statusCode = $response->getStatusCode();
        if ($statusCode < 200 || $statusCode > 299) {
            throw new ApiException(
                sprintf(
                    '[%d] Error connecting to the API (%s)',
                    $statusCode,
                    (string) $request->getUri()
                ),
                $statusCode,
                $response->getHeaders(),
                (string) $response->getBody()
            );
        }
        return $response;
    }

    /**
     * Make an async request.
     *
     * @param \GuzzleHttp\Psr7\Request $request An initialized request object.
     * @param class-string $returnType The return type.
     * @param callable $exceptionHandler A callback to process HTTP errors.
     *
     * @throws \NecLimDul\MarketoRest\Lead\ApiException on non-2xx response
     * @return \GuzzleHttp\Promise\PromiseInterface A promise that will return a processed response.
     */
    private function makeAsyncRequest(Request $request, string $returnType, callable $exceptionHandler)
    {
        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    return $this->responseToReturn($response, $returnType);
                },
                function (RequestException $exception) use ($exceptionHandler) {
                    $response = $exception->getResponse();
                    $e = new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $response ? $response->getStatusCode() : 0,
                            (string) $exception->getRequest()->getUri()
                        ),
                        (int) $exception->getCode(),
                        $response ? $response->getHeaders() : null,
                        $response ? (string) $response->getBody() : null
                    );
                    throw $exceptionHandler($e);
                }
            );
    }

    /**
     * Convert a response to a return standard return array.
     *
     * @template T
     * @param \Psr\Http\Message\ResponseInterface $response A response from a request with a serialized body.
     * @param string $returnType The primary return type.
     * @phpstan-param class-string<T> $returnType
     *
     * @return array structured array or response and http info.
     * @phpstan-return array{T, int, array<array<string>>}
     */
    private function responseToReturn(ResponseInterface $response, string $returnType) {
        return [
            $this->deserializeResponseBody($response->getBody(), $returnType),
            $response->getStatusCode(),
            $response->getHeaders()
        ];
    }

    /**
     * Deserialize a response body.
     *
     * @template T
     * @param mixed $responseBody The response body.
     * @param string $returnType The return type.
     * @param array<string, string[]>|null $headers A list of headers from the response.
     * @phpstan-param class-string<T> $returnType
     *
     * @return mixed Either a string or a stream to be passed to a file object.
     * @phpstan-return T
     * @psalm-return T
     */
    private function deserializeResponseBody($responseBody, string $returnType, ?array $headers = [])
    {
        return ObjectSerializer::deserialize(
            $returnType === '\SplFileObject' ? $responseBody : (string) $responseBody,
            $returnType,
            $headers
        );
    }

}
